.mate-input-box{
    padding:0px !important;
    height:23px !important;
    border-radius : 0px !important;
}
.search_header{
background: #36A693 !important;
color: #FFF !important;
}

.panel {
    padding: 0 18px;
    /* background-color: white; */
    display: none;
    overflow: hidden;
}


.mce-item-table,
.mce-item-table td,
.mce-item-table th,
.mce-item-table caption {
    border-top: 1pt solid #000000 !important;
    border-right: 2px solid #000000 !important;
    border-bottom: 1pt solid #000000 !important;
    border-left: 2px solid #000000 !important;
}

.headerbtn {
    border: 1px solid green;
    min-width: 115px;
}

label{
    font-size: 13px !important;
}
.table_text{
    border: none !important;
    box-shadow: none !important;
}
.btn-primary:focus{
    background-color: #36a693 !important;
    color: #FFF !important;
}
.bottom-padding{
    padding-bottom: 10px !important;
}
.headder_bg{
  background-color:aquamarine !important;
  color:rgb(85, 87, 85) !important;
}


.text-blue{
    color:steelblue !important;
}
.bottom-border-text{
    border:none !important;
    border-bottom:1px solid lightgrey !important;
    box-shadow:none;
}


.bg-radio_grp{
    background-color:#b9b9b9 !important;
    color:white !important;
    margin-right:6px !important;
    /* box-shadow: 3px 2px 3px #bdbdbd; */
}

.bg-radio_grp.active{
    background-color:#36a693 !important;
    color:white !important;
    margin-right:6px !important;
    box-shadow: 3px 2px 3px #55ff79;
}

.label_padding{
    padding-top: 10px !important;
}
.timepickerclass_default{
    border: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid darkgray !important;
}

.no_border_text{
    border:none !important;
    box-shadow:none !important;
}


.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.radio_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eeeeee;
    width: 360px;
    height: 30px;
    border-radius: 9999px;
    box-shadow: inset 0.5px 0.5px 2px 0 rgba(0, 0, 0, 0.15);
}

input[type="radio"] {
    appearance: none;
    display: none;
}

.radio_container >label {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    width: 80px;
    height: 20px;
    text-align: center;
    border-radius: 9999px;
    transition: linear 0.3s;
    margin-top:5px !important;
}

.radio_container > input[type="radio"]:checked + label {
    background-color: #1e90ff;
    color: #f1f3f5;
    transition: 0.3s;
}

 .form-group{
    display: flex;
    justify-content: space-between;
}


.nav-tabs-custom.blue_theme_tab .sm_nav li a{
  align-items: center !important;
  appearance: button !important;
  background-color: #2788f7 !important;
  border-radius: 4px !important;
  border-style: none !important;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset !important;
  box-sizing: border-box !important;
  color: #fff !important;
  cursor: pointer !important;
  display: flex !important;
  flex-direction: row !important;
  flex-shrink: 0 !important;
  font-family: "RM Neue",sans-serif !important;
  font-size: 100% !important;
  line-height: 1.15 !important;
  margin: 0 !important;
  padding-left:12px !important;
  padding-top:10px !important;
  text-align: center !important;
  text-transform: none !important;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  touch-action: manipulation !important;
}

.vertical_tab_btn li, .vertical_tab_btn_fav_group li{
    border-top:0px !important;
}


.nav-tabs-custom.blue_theme_tab .sm_nav li a:active {
  background-color: #006AE8;
}

.nav-tabs-custom.blue_theme_tab .sm_nav li a:hover {
  background-color: #1C84FF;
}

.bottom-border-text{
    border:none !important;
    border-bottom:1px solid lightgrey !important;
    box-shadow:none;
}



.text_area {
    height: 8em !important;
    line-height: 31px !important;
    background-image: -webkit-linear-gradient(left, white 0, transparent 0), -webkit-linear-gradient(right, white 0, transparent 0), -webkit-linear-gradient(white 30px, #ccc 30px, #ccc 31px, white 31px) !important;
    background-repeat: repeat-y !important;
    background-size: 100% 100%, 100% 100%, 100% 31px !important;
    background-attachment: local !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    color: #5e5959 !important;
    padding-left: 10px !important;
  }


  .inv_clip{
    border: 1px solid darkgray !important;
    text-align: center !important;
    border-radius: 6px !important;
    height: 45px !important;
    width: 24% !important;
    margin:2px !important;
    background: rgb(45,192,222) !important;
    background: linear-gradient(90deg, rgba(45,192,222,1) 0%, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 100%) !important;
    box-shadow: 2px 2px #c3bfbf !important;
    padding-top:3px !important;
  }
.timepickerclass{
    color:black !important;
}




@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
}

@media print {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6,
    .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
         float: left;
    }

    .col-sm-12 {
         width: 100%;
    }

    .col-sm-11 {
         width: 91.66666666666666%;
    }

    .col-sm-10 {
         width: 83.33333333333334%;
    }

    .col-sm-9 {
          width: 75%;
    }

    .col-sm-8 {
          width: 66.66666666666666%;
    }

     .col-sm-7 {
          width: 58.333333333333336%;
     }

     .col-sm-6 {
          width: 50%;
     }

     .col-sm-5 {
          width: 41.66666666666667%;
     }

     .col-sm-4 {
          width: 33.33333333333333%;
     }

     .col-sm-3 {
          width: 25%;
     }

     .col-sm-2 {
            width: 16.666666666666664%;
     }

     .col-sm-1 {
            width: 8.333333333333332%;
      }
}


textarea {
    white-space: pre-wrap;
}

.box-shadow{
    box-shadow: 2px 3px 3px 0px #0000007a !important;
}
.iv_trash_btn_span{
    width: 15px !important;
    margin-top: 4px !important;
}

.investigation_fav_tabs_list>li>a{
    border-radius: 3px !important;
}

.btn{
    box-shadow: 2px 3px 3px 0px #0000007a !important;
}

#ListInvestigationSearchData > tr :hover{
    background-color:aquamarine !important;
}


.del-presc-list-row {
    cursor: pointer;
}
.inv_main_container{
    height:380px !important;
}
.inv_sub_container{
    height: 370px !important;
}

