.multiselect_width{
  width: 280px !important;
}
.slimScrollDiv .slimScrollBar {
    opacity: 1 !important;
    width: 10px !important;
}
.cashtotaltable tr td{
  padding-left: 20px !important;
}
 #add{
   position: relative;
 }
 #add:hover::after{
  border-color: rgba(194, 225, 245, 0) rgba(194, 225, 245, 0) #000;
  border-image: none;
  border-style: solid;
  border-width: 6px;
  content: " ";
  left: 9px;
  position: absolute;
  top: 14px;

}
#add:hover::before{
 background: #000 none repeat scroll 0 0;
 border-radius: 3px;
 bottom: -28px;
 content: "Alt + N";
 font-size: 12px;
 left: -8px;
 padding: 3px 5px;
 position: absolute;
}
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right), .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu{
  width: 250px;
}
.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu > li.header{
  white-space: normal !important;
}
.modal-header-sm{
  padding: 8px;
}
.modal-header-sm h4{
  font-size: 16px;
}
label{
  font-weight: 400; 
}
.close_white{
  color: #FFF;
  font-size:  30px;
  line-height: 20px;
  opacity: 1;
}
.status_color {
  border-radius: 25%;
  display: inline-block;
  height: 15px;
  width: 15px;
}
.inpatientbill_box .form-control{
  height: 20px;
  padding: 2px;
  font-size: 12px;
}
select.form-control{
  font-size: 12px !important;
  height: 23px !important;
  padding: 0 !important;
}
.form-control{
  font-size: 12px !important;
  height: 23px !important;
  padding: 2px !important;
  background-size: 0 1px;
  -webkit-background-size: 0 1px;
  background-position: center bottom;
}
.form-control:focus{
  outline: none;
  background-image: linear-gradient(#3c8dbc, #3c8dbc);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c8dbc), to(#3c8dbc)); 
  background-image: -webkit-linear-gradient(#3c8dbc, #3c8dbc);
  -webkit-background-size: 100% 1px;
  background-size: 100% 1px;
  background-position: center bottom;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-repeat: no-repeat;
  transition:all ease-out 0.3s;
  -webkit-transition:all ease-out 0.3s;
  -moz-transition:all ease-out 0.3s;
  -ms-transition:all ease-out 0.3s;
  border-bottom-width: 1px !important;
}

.float-label-control .form-control, .custom-float-label-control .form-control, .custom-float-label-control .form-control.custom_floatinput {
  background-size: 0 1px;
  -webkit-background-size: 0 1px;
  background-position: center bottom;
}
.float-label-control .form-control:focus, .custom-float-label-control .form-control:focus, .custom-float-label-control .form-control.custom_floatinput:focus{
 outline: none;
 background-image: linear-gradient(#3c8dbc, #3c8dbc);
 background-image: -webkit-gradient(linear, left top, left bottom, from(#3c8dbc), to(#3c8dbc)); 
 background-image: -webkit-linear-gradient(#3c8dbc, #3c8dbc);
 -webkit-background-size: 100% 1px;
 background-size: 100% 1px;
 background-position: center bottom;
 -webkit-box-shadow: none;
 box-shadow: none;
 background-repeat: no-repeat;
 transition:all ease-out 0.3s;
 -webkit-transition:all ease-out 0.3s;
 -moz-transition:all ease-out 0.3s;
 -ms-transition:all ease-out 0.3s;
 border-bottom-width: 1px !important;
}
textarea.form-control{
  font-size: 12px !important;
  height: 80px !important;
  padding: 2px !important;
}

.btn {
  font-size: 12px;
  padding: 2px 5px;
}
.pagination{
  margin: 5px 0;
}
.pagination > li > a, .pagination > li > span{
  padding: 2px 8px;
}
.input-group-addon{
  font-size: 12px;
  padding: 2px 9px;
}
.content-header > .breadcrumb{
  top: 0;
}
.sm-padding{
  padding: 2px 5px !important;
}
.ps-container > .ps-scrollbar-y-rail{
  z-index: 845;
}
.ht5 {
  height: 5px !important;
}

/* ==========================================================================
   Patient details css styles starts here
   ========================================================================== */
   .box-widget {
    border: medium none;
    position: relative;
  }
  .widget-user-2 .widget-user-header {
  /*  border-top-left-radius: 3px;
  border-top-right-radius: 3px;*/
  padding: 5px;
  border-radius: 0;
}
.widget-user-2 .widget-user-image > img {
  float: left;
  height: auto;
  width: 55px;
}
.widget-user-2 .widget-user-username, .widget-user-2 .widget-user-desc {
  margin-left: 75px;
  font-weight: 700;
}
.widget-user-2 .widget-user-username {
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.widget-user-2 .widget-user-desc {
  margin-top: 0;
}
.box-footer{
  padding: 2px;
  border-radius: 0;
  border: 1px solid #ddd;
}
.sm_nav i{
  font-size: 20px;
}
.list_tab.sm_nav li a{
  font-weight: 700;
  font-size: 13px;
}
.patient_details_box .btn{
  font-weight: 700;
  /*border-radius: 0;*/
}
.patient_details_box label{
  font-weight: 700;
  font-size: 13px;
}
.sm_nav li a.tabbtn1{
  background: #D33724 !important;
}
.description-block {
  display: block;
  margin: 0;
  text-align: center;
}

.widget_value{
  font-weight: 300;
  font-size: 40px;
  margin: 0;
}
.widget_tile{
  padding: 10px;
  color:  #FFF;
  margin-bottom: 4px;
  height: 95px;
  border-radius: 0;
}
.widget_tile:hover{
  background: #333;
}
.widget_tile sup{
  font-size: 26px;
}
.widget_tile h4{
  font-size: 14px;
}
.widget_tile h4 i {
  font-size: 22px;
}
.widget_edit{
 bottom: 5px;
 position: absolute;
 right: 5px;
}
.widget_edit a{
  color: #FFF;
  font-size: 16px;
}
.red_grad{
 background: #D33724; /* For browsers that do not support gradients */
 background: -webkit-linear-gradient(-141deg, #E98A7E, #D33724); /* For Safari 5.1 to 6.0 */
 background: -o-linear-gradient(-141deg, #E98A7E, #D33724); /* For Opera 11.1 to 12.0 */
 background: -moz-linear-gradient(-141deg, #E98A7E, #D33724); /* For Firefox 3.6 to 15 */
 background: linear-gradient(-141deg, #D33724); /* Standard syntax */
 color: #FFF;
}
.light_blue_grad{
 background: #00A7D0; /* For browsers that do not support gradients */
 background: -webkit-linear-gradient(-141deg, #59D6F5, #00A7D0); /* For Safari 5.1 to 6.0 */
 background: -o-linear-gradient(-141deg, #59D6F5, #00A7D0); /* For Opera 11.1 to 12.0 */
 background: -moz-linear-gradient(-141deg, #59D6F5, #00A7D0); /* For Firefox 3.6 to 15 */
 background: linear-gradient(-141deg, #00A7D0); /* Standard syntax */
 color: #FFF;
}
.green_grad{
 background: #008D4C; /* For browsers that do not support gradients */
 background: -webkit-linear-gradient(-141deg, #59C594, #008D4C); /* For Safari 5.1 to 6.0 */
 background: -o-linear-gradient(-141deg, #59C594, #008D4C); /* For Opera 11.1 to 12.0 */
 background: -moz-linear-gradient(-141deg, #59C594, #008D4C); /* For Firefox 3.6 to 15 */
 background: linear-gradient(-141deg, #008D4C); /* Standard syntax */
 color:#FFF;
}
.purple_grad{
 background: #555299; /* For browsers that do not support gradients */
 background: -webkit-linear-gradient(-141deg, #9795C6, #555299); /* For Safari 5.1 to 6.0 */
 background: -o-linear-gradient(-141deg, #9795C6, #555299); /* For Opera 11.1 to 12.0 */
 background: -moz-linear-gradient(-141deg, #9795C6, #555299); /* For Firefox 3.6 to 15 */
 background: linear-gradient(-141deg, #555299); /* Standard syntax */
 color:#FFF;
}
.yellow_grad{
 background: #FF7701; /* For browsers that do not support gradients */
 background: -webkit-linear-gradient(-141deg, #FFB06B, #FF7701); /* For Safari 5.1 to 6.0 */
 background: -o-linear-gradient(-141deg, #FFB06B, #FF7701); /* For Opera 11.1 to 12.0 */
 background: -moz-linear-gradient(-141deg, #FFB06B, #FF7701); /* For Firefox 3.6 to 15 */
 background: linear-gradient(-141deg, #FF7701); /* Standard syntax */
 color:#FFF;

}
.maroon_grad{
 background: #CA195A; /* For browsers that do not support gradients */
 background: -webkit-linear-gradient(-141deg, #E66B97, #CA195A); /* For Safari 5.1 to 6.0 */
 background: -o-linear-gradient(-141deg, #E66B97, #CA195A); /* For Opera 11.1 to 12.0 */
 background: -moz-linear-gradient(-141deg, #E66B97, #CA195A); /* For Firefox 3.6 to 15 */
 background: linear-gradient(-141deg, #CA195A); /* Standard syntax */
 color:#FFF;
}


.round_btn_list li{
  float: left;
  margin: 0 10px 10px;
}
.round_btn{
  cursor: pointer;
}
.round_icon_box {
  border: 1px solid #ccc;
  border-radius: 100%;
  color: #444;
  position: relative;
  height: 100px;
  width: 100px;
  margin: auto auto 5px auto;
  background: #f4f4f4 none repeat scroll 0 0;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.anim_round{
  border-radius: 100%;
  height: 100px;
  position: absolute;
  transition:all ease-in-out 200ms;
  -webkit-transition:all ease-in-out 200ms;
  -moz-transition:all ease-in-out 200ms;
  -ms-transition:all ease-in-out 200ms;
  transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  -webkit-transform: scale(0);
  width: 100px;
  top: -1px;
  left: -1px;
}
.round_icon_box:hover .anim_round{
  transition:all ease-in-out 300ms;
  -webkit-transition:all ease-in-out 300ms;
  -moz-transition:all ease-in-out 300ms;
  -ms-transition:all ease-in-out 300ms;
  transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  -webkit-transform: scale(0.9);
}
.round_icon_box:hover .round_icon i{
  color: #FFF;
}
.round_icon i {
  font-size: 45px;
  position: relative;
  z-index: 15;
}
.big_modal .modal-dialog{
 max-width: 96%;
 width: 100%;
}
.left_category_menu{
  float: left;
  font-size: 13px;
}
.left_category_menu > ul > li:first-child{
  border-top: 1px solid #ccc;
}
.left_category_menu > ul > li{
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: relative;
}
.left_category_menu > ul > li:hover{
  border-left: 1px solid #337AB7;
  border-right: 1px solid transparent;
  background: #f4f4f4;
  cursor: pointer;
}
.left_category_menu > ul > li > a{
  color: #444;
}
.left_category_menu > ul > li:hover > ul.template_submenu{
  display: block;
}
.left_category_menu > ul > li:hover > a{
  color: #444;
}
.left_category_menu > ul > li i{
  font-size: 25px;
}
.template_submenu{
 background: #337AB7 none repeat scroll 0 0;
 border: medium none;
 box-shadow: 0 0 4px #ccc;
 left: 81px;
 margin: 0;
 padding: 0 0 0 23px;
 position: absolute;
 text-align: left;
 top: -1px;
 width: 180px;
 z-index: 20;
 display: none;
 min-height: 65px;
 color: #FFF;
}
.template_submenu::before{
  content:" ";
  position: absolute;
  border-color: rgba(194, 225, 245, 0) #337AB7 rgba(194, 225, 245, 0) rgba(194, 225, 245, 0);
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-image: none;
  border-style: solid;
  border-width: 8px;
  pointer-events: none;
  left: -15px;
  top: 23px;
}
.template_submenu ul{
  padding: 0;
}
ul.template_submenu li{
  border: none;
  padding: 5px 0;
}
ul.template_submenu li a{
  color: #FFF;
}
ul.template_submenu li a:hover{
  color: #000;
}
.document_leftmenu > ul > li:first-child {
  border-top: 1px solid #ccc;
}
.document_leftmenu > ul > li {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 10px 0;
  position: relative;
  font-size: 13px;
}
.document_leftmenu > ul > li i{
  font-size: 25px;
}
.document_leftmenu > ul > li:hover{
  border-left: 1px solid #337AB7;
  background: #f4f4f4;
  cursor: pointer;
}
.document_leftmenu > ul > li.active{
  border-left: 1px solid #337AB7;
  background: #f4f4f4;
  cursor: pointer;
}
   /* ==========================================================================
   Patient details css styles ends here
   ========================================================================== */





/* ==========================================================================
   Materials Query css styles starts here
   ========================================================================== */
   .label_margin{
    margin: 3px 0;
    font-weight: 400;
    font-size: 13px;
  }
  .h10{
    height: 10px;
  }
  .visible-hidden{
    visibility: hidden;
  }
  .sm_nav{
    background: #F5F5F5;
  }
  .sm_nav li a{
    padding: 4px 12px;
    background: #337AB7 !important;
    color: #FFF !important;
  }
  .sm_nav li.active a{
    background: #FFF !important;
    color: #444 !important;
    border-bottom: 2px solid #fff;
  }
  .sm_nav li.active a:hover{
    background: #FFF !important;
    color: #444 !important;
    border-bottom: 2px solid #fff;
  }
  .sm_nav li.active a:focus{
    background: #FFF !important;
    color: #444 !important;
    border-bottom: 2px solid #fff;
  }
  .label_title {
    float: left;
    font-size: 16px;
    margin: 5px 0;
    font-weight: normal;
  }
  .color_block{
   float: left;
   height: 15px;
   margin: 1px 0 0;
   width: 15px;
   box-shadow: 0 0 2px #4c4c4c;
 }
 .sm_margin_bottom{
  margin-bottom: 10px !important;
}


   /* ==========================================================================
   Materials Query css styles ends here
   ========================================================================== */







/* ==========================================================================
   serviceBilling css styles starts here
   ========================================================================== */

   .form-control.amount, #grand_total.form-control{
    text-align: right;
  }

   /* ==========================================================================
   serviceBilling css styles ends here
   ========================================================================== */

/* ==========================================================================
   Menu box css styles starts here
   ========================================================================== */

   ul.menu_container{
    font-size: 13px;
    margin:0;
    padding: 0;
  }
  ul.menu_container li{
    list-style-type: none;
    padding: 5px 0;
    float: left;
    width: 100%;
    margin: 1px 0;
    background: #f5f5f5;
  }

  ul.subheading{
    float: left;
    margin: 10px 0 0 0;
    padding: 0 0 0 30px;
    width: 100%;
  }
  ul.subheading li{
    background: #eaeaea;
  }
  ul.sub_subheading{
    float: left;
    width: 100%;
    padding: 0 0 0 30px;
    margin: 10px 0 0 0;
  }
  ul.sub_subheading li{
    background: #dedede;
  }
  .fixed_row{
    float: left;
    width: 100%;
    padding: 10px 0;
    font-size: 13px;
  }
  .mainmenu_container{
    min-width: 600px;
    display: block;
  }
  .mainmenu_container input[type="checkbox"], .mainmenu_container input[type="radio"]{
    margin: 1px 2px 0 0;
    float: left;
  }
  .scroll_row {
    float: left;
    height: 285px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
  }
  .w_4{
    width: 4%;
  }
  .plusbtn, .minusbtn, .subplusbtn, .subminusbtn {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
   /* ==========================================================================
   Menu box css styles ends here
   ========================================================================== */
/* ==========================================================================
   Insurance bill preperation css styles starts here
   ========================================================================== */

   .insurance_bill_preperation{
    font-size: 12px;
  }
  .insurance_bill_preperation label {
    margin: 3px 0;
    font-weight: normal;
  }
  .box_bg{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    background: #f5f5f5;
    border: 1px solid #ddd;
    padding: 5px;
  }
  .padding_sm{
    padding:0 5px;
  }
  .padding_xs{
    padding: 0 2px;
  }
  .insurance_bill_preperation .panel {
    margin: 0 0 10px;
    border-radius: 0;
  }
  .padding_sm_left {
    padding-left: 0px;
  }
  .input_label{
    font-size: 12px;
    float: left;
    margin: 0 5px 0 0;
    line-height: 25px;
  }
  .input_icon_sm{
    padding: 3px;
  }

  .input_sm{
    height: 22px;
    font-size: 12px;
    padding: 3px;
  }
  .button_sm{
    font-size: 12px;
    padding: 3px;
  }
  .searchinputbox{
   position: relative;
 }
 .searchinput {
   padding-right: 23px;
   width: 100%;
 }
 .searchicon {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 7px;
  top: 4px;
}
.dropdown_height{
  height: 24px;
}
.checklist_row{
  margin: 10px 0 0 0;
}
.checklist_row .form-check-label {
  margin: 0 20px 5px 0;
}
.theadscroll_horz{
  height: 400px;
}
.bill_theadscroll_horz{
  height: 190px;
  margin-bottom: 20px;
}
.billsettle_theadscroll{
  height: 300px;
  margin-bottom: 20px;
}
.table_sm{
  font-size: 12px !important;
}
.table_sm th, .table_sm td{
  padding: 2px !important;
}
.slimScrollDiv{
  margin-bottom: 15px !important;
}

   /* ==========================================================================
Insurance bill preperation css styles ends here
========================================================================== */

    /* ==========================================================================
   Auto Generate Stock css styles starts here
   ========================================================================== */


    /* ==========================================================================
   Auto Generate Stock css styles ends here
   ========================================================================== */

/* ==========================================================================
   popup css styles starts here
   ========================================================================== */
   .item_table_heading{
    background: #07709B;
    color: #FFF;
    padding: 5px;
    font-weight: bold;
  }
  .pop {
    background: #DEECF9 none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 1px 1px 3px #d0d0d0;
    padding: 10px;
    position: absolute;
    top: 41px;
    
    /* max-width: 114%; */
    z-index: 850;
    /* width: 450px; */
  }
  .total_pop{
   left: -330px !important;
 }
 .stock_pop {
  background: #DEECF9 none repeat scroll 0 0;
  border-radius: 6px;
  box-shadow: 1px 1px 3px #d0d0d0;
  padding: 10px;
  position: absolute;
  top: 30px;
  /* max-width: 114%; */
  z-index: 850;
  width: 350px;
}
.pop_top{
  top: inherit !important;
  bottom: 30px;
}
.showpoptable{
  display: block !important;
}
.hidepoptable{
  display: none !important;
}
.pop_container{
  position: relative !important;
}

.pop_closebtn {
  background: #333 none repeat scroll 0 0;
  border-radius: 50%;
  box-shadow: 0 0 5px #a2a2a2;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  height: 20px;
  padding: 2px 6px;
  position: absolute;
  right: -10px;
  top: -4px;
  width: 20px;
}
.pop table{
  font-size: 13px;
  margin-bottom: 0 !important;
}
.pop table tbody {
  display: table-header-group !important;
  height: auto !important;
}  
.pop table thead {
  display: table-header-group !important;
}
.pop .table-striped > tbody > tr:nth-child(n+1){
 background: #F1F1F1;
}
.pop .table-striped > tbody > tr:nth-child(2n+1){
 background: #fff;
}
.pop table thead {
  background: #19a0d8 none repeat scroll 0 0;
  color: #fff;
}

.pop table thead th {
  background: #19a0d8 none repeat scroll 0 0 !important;
  font-weight: normal !important; 
}


.stock_pop table{
  font-size: 13px;
  margin-bottom: 0 !important;
}
.stock_pop table tbody {
  display: table-header-group !important;
  height: auto !important;
}  
.stock_pop table thead {
  display: table-header-group !important;
}
.stock_pop .table-striped > tbody > tr:nth-child(n+1){
 background: #F1F1F1;
}
.stock_pop .table-striped > tbody > tr:nth-child(2n+1){
 background: #fff;
}
.stock_pop table thead {
  background: #19a0d8 none repeat scroll 0 0;
  color: #fff;
}

.stock_pop table thead th {
  background: #19a0d8 none repeat scroll 0 0 !important;
  font-weight: normal !important; 
}

.stock_pop::before{
 -moz-border-bottom-colors: none;
 -moz-border-left-colors: none;
 -moz-border-right-colors: none;
 -moz-border-top-colors: none;
 border-color: rgba(194, 225, 245, 0)  rgba(194, 225, 245, 0) #DEECF9 rgba(194, 225, 245, 0);
 border-image: none;
 border-style: solid;
 border-width: 16px;
 content: " ";
 height: 0;
 left: 6%;
 top: -30px;
 pointer-events: none;
 position: absolute;
 width: 0;
}
.total_pop::before{
 left: 75% !important;
}
.pop::before{
 -moz-border-bottom-colors: none;
 -moz-border-left-colors: none;
 -moz-border-right-colors: none;
 -moz-border-top-colors: none;
 border-color: rgba(194, 225, 245, 0)  rgba(194, 225, 245, 0) #DEECF9 rgba(194, 225, 245, 0);
 border-image: none;
 border-style: solid;
 border-width: 16px;
 content: " ";
 height: 0;
 left: 6%;
 top: -30px;
 pointer-events: none;
 position: absolute;
 width: 0;
}
.pop_top::before{
 -moz-border-bottom-colors: none;
 -moz-border-left-colors: none;
 -moz-border-right-colors: none;
 -moz-border-top-colors: none;
 border-color: #DEECF9 rgba(194, 225, 245, 0) rgba(194, 225, 245, 0) !important;
 border-image: none;
 border-style: solid;
 border-width: 16px;
 content: " ";
 height: 0;
 left: 6%;
 top: inherit !important;
 bottom: -27px !important;
 pointer-events: none;
 position: absolute;
 width: 0;
}

/*.pop::before{
  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #f9f9f9 rgba(194, 225, 245, 0) rgba(194, 225, 245, 0);
    border-image: none;
    border-style: solid;
    border-width: 16px;
    content: " ";
    height: 0;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
    }*/

/* ==========================================================================
   popup css styles ends here
   ========================================================================== */

   /* ==========================================================================
   Quickpurchase css styles starts here
   ========================================================================== */
   .maintd .ajaxSearchBox{
    width: 580px !important;
  }


  
  .quickpurchase .top_panel_row h4{
    margin: 0;
    line-height: 20px;
  }
  .quickpurchase .top_panel_row a{
    margin: 0 10px 0 0;
    font-size: 12px;
  }
  .quickpurchase .panel{
    margin: 0 0 20px 0;
    border-radius: 0;
  }
  .quickpurchase label{
    font-weight: 400;
  }
  .top_panel_row{
    padding: 5px 10px;
  }
  .bottom_totaltable{
    margin: 10px 0 0 0;
  }
  .bottom_totaltable thead tr th {
    border: 1px solid #ccc !important;
    background: #F2F2F2;
  }
  .theadfix_wrapper.table thead tr.headergroupbg th{
    border-top: 1px solid #CCC !important;
  }
  .theadfix_wrapper.table-bordered td{
    border: 1px solid #CCC;
  }
  .theadscroll{
    height: 300px;
    position: relative;
  }
  .theadscroll_scroll_x{
    height: 300px;
    position: relative;
  }
  
  .overflow_auto{
    overflow: auto;
  }
  .popscroll{
    overflow-x: hidden;
    max-height: 140px;
    position: relative;
  }
  .popscroll tbody tr{
    cursor: default;
    font-size: 12px;
  }
  .theadfix_wrapper.table-bordered tr.headergroupbg th{
    border: 1px solid #CCC;
  }
  .floatThead-container{
    z-index: 840 !important;
    width: 100% !important;
  }
  .headergroupbg{
    background: #f2f2f2;
  }
  .font-normal th{
    font-weight: normal;
  }
  .pop table.table thead tr{
    cursor: default;
    font-size: 12px;
  }
  .w_16{
    width: 16%;
  }
  .w_6{
    width: 6%;
    position: relative;
  }
  .w_9{
    width: 8%;
  }
  .theadfix_wrapper td input.form-control{
    font-size: 12px;
    padding: 2px;
    height: 20px;
  }
  .theadfix_wrapper td select.form-control{
    font-size: 13px;
    padding: 3px;
    height: 23px;
  }
/* ==========================================================================
   Quickpurchase css styles ends here
   ========================================================================== */


/* ==========================================================================
   datetimepicker css styles starts here
   ========================================================================== */

   .timepicker a.btn{
     padding: 0;
   }

   .picker-switch td a span{
    width: 100%;
    padding: 0 !important;
  }

  .picker-switch tr{
    border: none;
  }
  .picker-switch tr:hover{
    border: none;
    background: none;
  }
  .picker-switch table td{
    border: none;
    padding: 0;
  }
  .timepicker td{
    border: none;
  }
  .timepicker table tr:hover{
    background: none;
  }
  .datepicker table th{
    background: none;
  }
  .datepicker table tr:hover{
    background: none;
  }
  .datepicker table td{
    border: none !important;
  }
  .bootstrap-datetimepicker-widget{
    box-shadow: 0 0 5px #ddd;
    height: auto !important;
  }
  .datepicker table thead, .datepicker table tbody{
    display: table-header-group !important;
  }
  .datepicker-decades table.table-condensed td span.decade{
    line-height: 25px !important;
    white-space: normal;
  }

  .picker-switch table tbody { height: auto !important; }

  
  /*.picker-switch table tbody {
    height: 45px !important;
    }*/

   /* ==========================================================================
   datetimepicker css styles ends here
   ========================================================================== */

   .table_subheading {
    background: #c3c3c3 none repeat scroll 0 0 !important;
    color: #fff;
  }

  .login-box-body, .register-box-body{
    box-shadow: 0 0 3px #c0c0c0;
  }

  .btn-primary:focus, .btn-primary:hover{
   background-position: 0 0 !important;
 }

 /* Vendor Manage  Page CSS Start */
 #fixTable .vendor_name {
   width: 40%;    
 }
 #fixTable .contact_person {
   width: 10%;    
 }
 /* Vendor Manage  Page CSS End */

 /* Item Manage  Page CSS Start */
 #fixTable .item_description {
   width: 25%;    
 }
 #fixTable .chemical_name {
   width: 15%;    
 }

 /* Item1 Manage  Page CSS End */

 /* input[type="text"].form-control, textarea.form-control, .ajaxSearchBox li { */
  .form-control, .ajaxSearchBox li {
    /* text-transform: uppercase; */
  }

/*  .btn:focus {
    background-color: #333333 !important;
    border-color: #dddddd !important;
    background-position: 0 0 !important;
  }*/


  .bootstrap-select .btn:focus {
    background-color: #f4f4f4 !important;
    border-color: #ddd !important;
    background-position: 0 0 !important;
  }

  #history_pathology_result tr td {
    vertical-align: middle;
  }

  .table-responsive > table tr th, .table-responsive > table tr td {
    vertical-align: middle; 
    padding: 2px !important;
  }

  /* #quick_purchase #fixTable */ #quick_purchase table tr td input {
    font-size: 12px;
    font-weight: bold;
  }

  #prescription_history_tab_data .accordion-toggle {
    display: inline-block;
    width: 100%;
  }

  li.active #current_menu_item_level3, li.active #current_menu_item {
    border: 0px solid #FFF;
    font-weight: bold;
  }
  ul.treeview-menu a {
    color: #FFF !important;
  }

  .green {
    color: green;
  }
  .red {
    color: red;
  }

  .text_red td {
    color: #dd4b39;
  }
  .date_range_hightlight {
    background-color: #F7D9AD;
  }
  .panel-body {
    /* min-height: 350px; */
  }

  .form-control:focus {
    border-style: none none solid none;
    border-width: 2px;
  }

  .table{
    font-size:12px;
  }
  .login-page, .register-page {
    /*background: #ececec none repeat scroll 0 0;*/
    background: url(../images/loginbg.jpg) no-repeat;
    width: 100%;
    min-height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    background-position: center center;	
  }

  .halign-center {
    text-align: center;
  }
  .borderTblQP th {
    border: 1px dotted;
  }


  @media screen and (max-width: 991px){
    .padding_sm{
      padding-left: 15px;
    }
  }
  @media screen and (max-width: 768px){
    .login-page, .register-page {
      background: url(../images/login_mobilebg.jpg) no-repeat;
      width: 100%;
      min-height: 100%;
      -webkit-background-size: cover;
      background-size: cover;
      position: relative;
      background-position: center center; 
    }
  }

   
  /*--IP Template  style starts here--*/

.select_button > li {
  background: #337ab7;
  display: inline-block;
  padding: 10px;
  color: #FFF;
  border-radius: 3px;
  text-align: center;
}
.select_button > li:hover {
  background: #00a65a;
  cursor: pointer;

}
.select_button > li.active {
  background: #00a65a;

}
.select_button > li i{
  display: none;
}
.select_button > li.active i{
  display: inline-block;
  font-size: 18px;
  margin-right: 5px;
}
.border_bottom{
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 10px;
}
.border_bottom:nth-child(2n+1){
 background: #f9f9f9;
}
.ip_container label {
  font-weight: bold;  
}
.ip_container label b{
  color: #337ab7;
  font-size: 15px;
}
.pain_score_img li{
  display: inline-block;
  width: 120px;
}

.pain_score_img li img{
  max-width: 100%;
}

.painscorediv {
  background: #337ab7 none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  float: left;
  padding: 10px;
}

.pain_score {
  background: #00a65a none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 18px;
  font-weight: bold;
  padding: 2px 10px;
}

.pain_score_img li:hover{
  cursor: pointer;
  box-shadow: 0 0 15px #909090;
}

.pain_score_img li.active{
  cursor: pointer;
  box-shadow: 0 0 15px #909090;
}
.top_print_div{
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 3px #000;
  padding-bottom: 5px;
  padding-top: 5px;
  position: fixed;
  z-index: 10;
}
/*--IP Template  style ends here--*/
