.grid_clear {
    clear: both;
}

.grid_title_row {
    margin-top:15px;
}

.grid_panel_head {
    margin-top:15px;
}

.grid_panel_head {
    background:#ECF0F1; color:#333333; padding-bottom: 0px; border:none; border-bottom:1px solid #EFF1F0;
}
