.mate-input-box{
    padding:0px !important;
    height:23px !important;
    border-radius : 0px !important;
}
.blinking-red{
animation:blinkingText 0.8s infinite;
}
@keyframes  blinkingText{
0%{     color: #FF0000;    }
49%{    color: #FF0000; }
60%{    color: transparent; }
99%{    color:transparent;  }
100%{   color: #FF0000;    }
}
.blinking-orange{
animation:blinkingTextOrange 0.8s infinite;
}
@keyframes  blinkingTextOrange{
0%{     color: #FFA500;    }
49%{    color: #FFA500; }
60%{    color: transparent; }
99%{    color:transparent;  }
100%{   color: #FFA500;    }
}
.search_header{
background: #36A693 !important;
color: #FFF !important;
}
.accordion {
    background-color: white;
    color: black;
    cursor: pointer;
    padding: 3px !important;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius:4px !important;
    margin-bottom:0px !important;
}

.panel {
    padding: 0 18px;
    /* background-color: white; */
    display: none;
    overflow: hidden;
}


.mce-item-table,
.mce-item-table td,
.mce-item-table th,
.mce-item-table caption {
    border-top: 1pt solid #000000 !important;
    border-right: 2px solid #000000 !important;
    border-bottom: 1pt solid #000000 !important;
    border-left: 2px solid #000000 !important;
}
.tinymce_body{
    margin:5px !important;
}
.headerbtn {
    border: 1px solid green;
    min-width: 115px;
}

.tox .tox-tbtn {
    transform: scale(0.7) !important;
    height: 20px !important;
    /* width: unset !important; */
}

.tox .tox-mbtn {
    height: 20px !important;

}

.tox .tox-toolbar,
.tox .tox-toolbar__overflow,
.tox .tox-toolbar__primary {
    background: none !important;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.tox-tbtn__select-label {
    font-size: 16px !important;
    font-weight: 600 !important;
}

.tinypanel{
    padding:0px !important;
}
.tinybody{
    max-height:182px !important;
    background-color: #f7f7f7 !important;
}
label{
    font-size: 13px !important;
}
.table_text{
    border: none !important;
    box-shadow: none !important;
}
.btn-primary:focus{
    background-color: #36a693 !important;
    color: #FFF !important;
}
.past_history_tr{
    text-align: left !important;
    padding-left: 30px !important;
}

.bottom-padding{
    padding-bottom: 10px !important;
}
.headder_bg{
  background-color:#1ba074 !important;
  color: white !important;
}
.trimester_head{
    border: 1px solid darkgray;
    margin-top:10px !important;
    background-color: cadetblue;
    color:white;
    cursor:pointer;
}
.trimester_head{
    border: 1px solid darkgray;
    margin-top:10px !important;
    background-color: cadetblue;
    color:white;
}
.trimester_head_active{
    border: 1px solid darkgray;
    margin-top:10px !important;
    background-color :aquamarine;
    color:black;
}

.trimester_week{
    background-color:darkgray;
    color:black;
    height:30px !important;
    border: 1px solid #767474;
}

.trimester_days{
    background-color:darkgray;
    color:black;
    height:30px !important;
    border: 1px solid #767474;
}

.bg-radio_grp{
    background-color:#b9b9b9 !important;
    color:white !important;
    margin-right:6px !important;
    /* box-shadow: 3px 2px 3px #bdbdbd; */
}

.bg-radio_grp.active{
    background-color:#36a693 !important;
    color:white !important;
    margin-right:6px !important;
    box-shadow: 3px 2px 3px #55ff79;
}

#vital_entry_details > div.box-body{
    height: 125px !important;
}

#patient_allergy_div_container > div.box-body{
    height: 125px !important;
    max-height: 125px !important;
}

.nav>li>a{
    padding:10px 10px 12px;
}

.investigation_history_table > tbody > tr > td, .uss_history_table > tbody > tr > td {
    padding-top: 5px !important;
    padding-bottom:5px !important;
    margin:0px !important;

}

.obstetric_examination_table > thead > tr > th {
    white-space: nowrap ;

}

.deleteInvestigationIcon{
    font-size: 14px !important;
}
.deleteInvestigationButton{
    padding: 0px 6px !important;
    margin: 0px !important;
}

.col-xs-6{
    margin-bottom: 0px !important;
}