/* ICU monitoring  style starts here*/
  
.widget-user-header.icu_widget_name {
  padding: 20px 5px;
}
.widget-user-header.icu_widget_name .widget-user-username {
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* width: 180px; */
  white-space: nowrap;
  font-weight: 700;
}
.widget-user-header.icu_widget_name .widget-user-desc {
  font-weight: 700;
}

  .icu_bg{
    background: url(../images/icu_bg.png) repeat center top;
    background-color: #00181f;
  }
  .left_icu_box {
    border-radius: 5px;
    padding: 5px 5px 3px 5px;
    background: #FFF;
  }
  .icu_patient_list li {
    padding: 5px 24px 5px 5px;
    width: 100%;
    display: block;
    border-bottom: 1px solid #CCC;
    font-size: 13px;
    word-wrap: break-word;
    position: relative;
  }
  .icu_patient_list li:last-child {
    border-bottom: none;
  }
  .icu_patient_list li:hover {
    background: #E6E6E6;
    cursor: pointer;
  }
  .icu_patient_list li.active {
    background: #E6E6E6;
    font-weight: 700;
  }
  .icu_patient_list li.normal:after {
    content:" ";
    font-weight: bold;
    font-size: 19px;
    line-height: 17px;
    vertical-align: top;
    position: absolute;
    right: 4px;
    top: 6px;
    width: 15px;
    height: 15px;
    background: #008D4C;
  }
  .icu_patient_list li.high:after {
    content:" ";
    font-weight: bold;
    font-size: 19px;
    line-height: 17px;
    vertical-align: top;
    position: absolute;
    right: 4px;
    top: 6px;
    width: 15px;
    height: 15px;
    background: #DB8B0B;
  }
  .icu_patient_list li.critical:after {
    content:" ";
    font-weight: bold;
    font-size: 19px;
    line-height: 17px;
    vertical-align: top;
    position: absolute;
    right: 4px;
    top: 6px;
    width: 15px;
    height: 15px;
    background: #D33724;
  }
  .pulse_graph{
    width: 100%;
    float: left;
    height: 110px;
    border: 1px solid #004358;
    position: relative;
  }
  .icu_value {
    margin-top: 5%;
  }
  .icu_value .graph_value {
    font-size: 35px;
    color: #FFF;
  }
  .icu_value span {
    font-size: 14px;
    color: #FFF;
  }
  .graph_im{
    background: url(../images/pulse_graph.png) repeat center top;
    height: 70px;
    width: 100%;
   /* -webkit-animation: slide 8s linear infinite;
    -moz-animation: slide 8s linear infinite;
    animation: slide 8s linear infinite;*/
    margin-top: 25px;
  }
  .pleth_im{
    background: url(../images/pleth_graph.png) repeat center top;
    height: 65px;
    width: 100%;
    /*-webkit-animation: slide 12s linear infinite;
    -moz-animation: slide 12s linear infinite;
    animation: slide 12s linear infinite;*/
    margin-top: 20px;
  }
  .abp_graph{
    background: url(../images/abp_graph.png) repeat center top;
    height: 36px;
    width: 100%;
    /*-webkit-animation: slide 18s linear infinite;
    -moz-animation: slide 18s linear infinite;
    animation: slide 18s linear infinite;*/
    margin-top: 40px;
  }
  .pap_graph{
    background: url(../images/pap_graph.png) repeat center top;
    height: 61px;
    width: 100%;
    /*-webkit-animation: slide 30s linear infinite;
    -moz-animation: slide 30s linear infinite;
    animation: slide 30s linear infinite;*/
    margin-top: 20px;
  }
  .co_graph{
    background: url(../images/co_graph.png) repeat center top;
    height: 65px;
    width: 100%;
    /*-webkit-animation: slide 30s linear infinite;
    -moz-animation: slide 30s linear infinite;
    animation: slide 30s linear infinite;*/
    margin-top: 20px;
  }
  .graph_slide_anim{
    background: url(../images/black_slide.png) no-repeat center top;
    height: 108px;
    width: 100%;
    -webkit-animation: slide 7s linear infinite;
    -moz-animation: slide 7s linear infinite;
    animation: slide 7s linear infinite;
    position: absolute;
    left: 0;
    top: 0;
  }
  .graph_slide_anim1{
    background: url(../images/black_slide.png) no-repeat center top;
    height: 108px;
    width: 100%;
    -webkit-animation: slide 15s linear infinite;
    -moz-animation: slide 15s linear infinite;
    animation: slide 15s linear infinite;
    position: absolute;
    left: 0;
    top: 0;
  }
   .ldg_slide{
    background: url(../images/white_slide.png) no-repeat center top;
    height: 38px;
    width: 100%;
    -webkit-animation: slide 7s linear infinite;
    -moz-animation: slide 7s linear infinite;
    animation: slide 7s linear infinite;
    position: absolute;
    left: 0;
    top: 0;
  }
  .icu_status_box, .icu_widget_name, .vital_box{
    display: none;
  }
  .legendbox {
    width: 15px;
    height: 15px;
    display: inline-block;
  }
  .legend_div {
    float: left;
    width: 100%;
    box-shadow: 0 0 5px #A0A0A0;
    padding: 5px 0;
    font-size: 12px;
    font-weight: 700;
  }
/* .left_icu_box .box{
   background: transparent;
 }

 .left_icu_box .widget-user-2 .widget-user-header{
   border-radius: 5px 5px 0 0;
 }
 .left_icu_box .box-footer{
   border-radius: 0 0 5px 5px;
 }*/


@-webkit-keyframes slide {
  from { background-position: 0 0; }
  to { background-position: 100% 0; }
}








.ekg_graph_box{
  width: 100%;
  height: 36px;
  /*border-top: 1px solid #333;*/
}
.ldg_1{
   background: url(../images/lead_graph/ld_1.png) repeat center top;
    height: 31px;
    width: 100%;
    /*-webkit-animation: slide 30s linear infinite;
    -moz-animation: slide 30s linear infinite;
    animation: slide 30s linear infinite;*/
    margin-top: 2px;
}
.ldg_2{
   background: url(../images/lead_graph/ld_2.png) repeat center top;
    height: 31px;
    width: 100%;
    /*-webkit-animation: slide 30s linear infinite;
    -moz-animation: slide 30s linear infinite;
    animation: slide 30s linear infinite;*/
    margin-top: 2px;
}
.ldg_3{
   background: url(../images/lead_graph/ld_3.png) repeat center top;
    height: 31px;
    width: 100%;
    /*-webkit-animation: slide 30s linear infinite;
    -moz-animation: slide 30s linear infinite;
    animation: slide 30s linear infinite;*/
    margin-top: 2px;
}
.ldg_4{
   background: url(../images/lead_graph/ld_4.png) repeat center top;
    height: 31px;
    width: 100%;
    /*-webkit-animation: slide 30s linear infinite;
    -moz-animation: slide 30s linear infinite;
    animation: slide 30s linear infinite;*/
    margin-top: 2px;
}
.ldg_5{
   background: url(../images/lead_graph/ld_5.png) repeat center top;
    height: 31px;
    width: 100%;
    /*-webkit-animation: slide 30s linear infinite;
    -moz-animation: slide 30s linear infinite;
    animation: slide 30s linear infinite;*/
    margin-top: 2px;
}
.ldg_6{
   background: url(../images/lead_graph/ld_6.png) repeat center top;
    height: 31px;
    width: 100%;
    /*-webkit-animation: slide 30s linear infinite;
    -moz-animation: slide 30s linear infinite;
    animation: slide 30s linear infinite;*/
    margin-top: 2px;
}
.ldg_7{
   background: url(../images/lead_graph/ld_7.png) repeat center top;
    height: 31px;
    width: 100%;
    /*-webkit-animation: slide 30s linear infinite;
    -moz-animation: slide 30s linear infinite;
    animation: slide 30s linear infinite;*/
    margin-top: 2px;
}
.ldg_8{
   background: url(../images/lead_graph/ld_8.png) repeat center top;
    height: 31px;
    width: 100%;
    /*-webkit-animation: slide 30s linear infinite;
    -moz-animation: slide 30s linear infinite;
    animation: slide 30s linear infinite;*/
    margin-top: 2px;
}
.ldg_9{
   background: url(../images/lead_graph/ld_9.png) repeat center top;
    height: 31px;
    width: 100%;
    /*-webkit-animation: slide 30s linear infinite;
    -moz-animation: slide 30s linear infinite;
    animation: slide 30s linear infinite;*/
    margin-top: 2px;
}
.ldg_10{
   background: url(../images/lead_graph/ld_10.png) repeat center top;
    height: 31px;
    width: 100%;
    /*-webkit-animation: slide 30s linear infinite;
    -moz-animation: slide 30s linear infinite;
    animation: slide 30s linear infinite;*/
    margin-top: 2px;
}
.ekg_verticle_title {
  /*transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  position: absolute;*/
  text-align: center;
  font-size: 11px;
  width: 100%;
}
.ekg_table tbody tr td{
  vertical-align: middle;
  padding: 0 !important;
  position: relative;
}




/* ICU monitoring style ends here*/
