body {
  background: url(../images/login_bg.jpg) no-repeat center top;
  width: 100%;
  height: 100vh;
  background-size: cover;
}
.login_container {
  width: 100%;
  /* background: #ccc; */
  height: 85vh;
  /* float: left; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.login_iconset {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
  padding: 12vw 4vw 0 4vw;
  opacity: 0.5;
}
.forgot_login a{
  color: #00ffff;
  font-weight: 400;
}
.sign_in_text h3 {
  color: #FFF;
  font-size: 30px;
  font-weight: 300;
  position: relative;
  margin: 20px 0 20px 0;
}
.sign_in_text h3::after {
  height: 1px;
  background: #00ffff;
  width: 25%;
  position: absolute;
  content: "";
  left: 0;
  top: 18px;
}
.sign_in_text h3::before {
  height: 1px;
  background: #00ffff;
  width: 25%;
  position: absolute;
  content: "";
  right: 0;
  top: 18px;
}
.tiatele_logo {
  float: left;
  margin: 20px 0 20px 0;
  width: 100%;
}
.user_icon_img {
  position: absolute;
  left: 3%;
  top: 20%;
}
.email_phone_footer ul li {
  display: block;
  float: left;
  width: 100%;
  margin: 0 0 10px 0;
  color: #FFF;
}
.email_phone_footer ul li {
  display: block;
}
.email_phone_footer ul li span, .email_phone_footer ul li div {
  float: left;
}
.email_phone_footer ul li div {
  margin-left: 15px;
}
.login_footer {
  float: left;
  width: 100%;
  padding: 0 3%;
}
.icon_set_box {
  width: 38vw;
}
.login_form_box {
  width: 20vw;
}

.loginform_box label{
  font-size: 13px  !important;
  color: #FFF !important;
}
.loginform_box label a{
  font-size: 15px  !important;
  color: #FFF !important;
}
.loginform_box input.form-control {
  background: #ebecf0;
  height: 4vw !important;
  border-radius: 3px !important;
  padding: 2px 5px 5px 45px !important;
  border: none;
  font-weight: 300 !important;
  font-size: 1.2vw !important;
  font-family: 'Source Sans Pro', sans-serif;
}

.loginform_box input.form-control::-webkit-input-placeholder { 
  color: 7a7a7a;
}
.loginform_box input.form-control::-moz-placeholder { 
  color: 7a7a7a;
}
.loginform_box input.form-control:-ms-input-placeholder { 
  color: 7a7a7a;
}
.loginform_box input.form-control:-moz-placeholder {
  color: 7a7a7a;
}

.btn.signinbtn {
  background: #19a0d8;
  height: 4vw;
  border: none;
  color: #FFF;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.2vw;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: 'Source Sans Pro', sans-serif;
}
.remember_login {
  color: #FFF;
}

.center_login_form {
  margin: 1vw 0 0 0;
  padding: 0 15px;
}
.loginform_box .form-group {
  margin: 0 0 25px 0;
}

@media screen and (max-width: 991px){
  .loginform_box input.form-control, .btn.signinbtn {
    font-size: 18px !important;
    height: 60px !important;
  }
  .icon_set_box {
    display: none;
  }
  .login_form_box {
    width: 350px;
    max-width: 100%;
  }
  .forgot_login {
    text-align: center;
  }
  .tiatele_logo {
    float: none;
    margin: 20px auto 20px auto;
    max-width: 100%;
    width: 200px;
  }
}