
.headerbtn {
    border: 1px solid green;
    min-width: 115px;
}

label{
    font-size: 13px !important;
}
.table_text{
    border: none !important;
    box-shadow: none !important;
}
.btn-primary:focus{
    background-color: #36a693 !important;
    color: #FFF !important;
}
.bottom-padding{
    padding-bottom: 10px !important;
}
.headder_bg{
  background-color:aquamarine !important;
  color:rgb(85, 87, 85) !important;
}


.text-blue{
    color:steelblue !important;
}
.bottom-border-text{
    border:none !important;
    border-bottom:1px solid lightgrey !important;
    box-shadow:none;
}


.bg-radio_grp{
    background-color:#b9b9b9 !important;
    color:white !important;
    margin-right:6px !important;
}

.bg-radio_grp.active{
    background-color:#36a693 !important;
    color:white !important;
    margin-right:6px !important;
    box-shadow: 3px 2px 3px #55ff79;
}

.label_padding{
    padding-top: 10px !important;
}
.timepickerclass_default{
    border: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid darkgray !important;
}

.no_border_text{
    border:none !important;
    box-shadow:none !important;
}


/* .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.radio_container {
    display: flex !important;
    justify-content: space-around !important;
    align-items: center !important;
    background-color: #eeeeee !important;
    width: 360px !important;
    height: 30px !important;
    border-radius: 9999px !important;
    box-shadow: inset 0.5px 0.5px 2px 0 rgba(0, 0, 0, 0.15) !important;
}

.radio_container> input[type="radio"] {
    appearance: none !important;
    display: none !important;
}

.radio_container >label {
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: inherit !important;
    width: 80px !important;
    height: 20px !important;
    text-align: center !important;
    border-radius: 9999px !important;
    transition: linear 0.3s !important;
    margin-top:5px !important;
}

.radio_container > input[type="radio"]:checked + label {
    background-color: #1e90ff  !important;
    color: #f1f3f5 !important;
    transition: 0.3s !important;
}

 .form-group{
    display: flex !important;
    justify-content: space-between !important;
}

 .nav-tabs-custom.blue_theme_tab .sm_nav li a{
  align-items: center !important;
  appearance: button !important;
  background-color: #2788f7 !important;
  border-radius: 4px !important;
  border-style: none !important;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset !important;
  box-sizing: border-box !important;
  color: #fff !important;
  cursor: pointer !important;
  display: flex !important;
  flex-direction: row !important;
  flex-shrink: 0 !important;
  font-family: "RM Neue",sans-serif !important;
  font-size: 100% !important;
  line-height: 1.15 !important;
  margin: 0 !important;
  padding-left:12px !important;
  padding-top:10px !important;
  text-align: center !important;
  text-transform: none !important;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  touch-action: manipulation !important;
}

.vertical_tab_btn li, .vertical_tab_btn_fav_group li{
    border-top:0px !important;
}


.nav-tabs-custom.blue_theme_tab .sm_nav li a:active {
  background-color: #006AE8  !important;
}

.nav-tabs-custom.blue_theme_tab .sm_nav li a:hover {
  background-color: #1C84FF  !important;
}

.bottom-border-text{
    border:none !important;
    border-bottom:1px solid lightgrey !important;
    box-shadow:none;
}

.inv_clip{
    /* border: 1px solid darkgray !important; */
    /* text-align: center !important; */
    /* border-radius: 6px !important; */
    /* height: 45px !important; */
    /* width: 41% !important; */
    /* margin:2px !important; */
    /* background: rgb(45,192,222) !important; */
    /* background: linear-gradient(90deg, rgba(45,192,222,1) 0%, rgba(255,255,255,1) 0%, rgba(251,251,251,1) 100%) !important; */
    /* box-shadow: 2px 2px #c3bfbf !important; */
    padding-top:3px !important;
    border-bottom: 1px solid lightgray;
  }

 .inv_clip > .col-md-10{
    color: #818181 !important;
    font-weight: 600 !important;
    font-size: 11px !important;
 }

 .iv_trash_btn_span {
     margin-top:3px !important;
 }

.inv_main_container{
    height: 243px !important;
}

.inv_sub_container{
    height: 233px !important;
}


.btn{
    box-shadow: 2px 3px 3px 0px #0000007a !important;
}

.headerbtn {
    box-shadow: 2px 3px 3px 0px #726e6e7a !important;
    border: 1px solid #d6e9d6;
    min-width: 100px;
    border-radius: 15px;
}
.ht25{
    height: 15px !important;
}

.select2{
    border:none !important;
    border-bottom:1px solid lightgrey !important;
    box-shadow:none;
}

textarea {
    width: 100%  !important;
    height: 150px  !important;
    padding: 12px 20px  !important;
    box-sizing: border-box !important;
    border: 2px solid #ccc !important;
    border-radius: 4px !important;
    background-color: #f8f8f8 !important;
    font-size: 16px !important;
    resize: none !important;
    border-radius:5px !important;
}
.header_label_text{
    color: #707474 !important;
}

.fav-button-bottom,.prev-button-bottom{
    box-shadow:none !important;
}

.ca_border_bottom{
    padding-top:10px;
}

.custom-text-box{
    height: 28px !important;
    border:none !important;
    border-bottom:1px solid lightgrey !important;
    box-shadow:none;
}

.datepicker{
    /* height: 28px !important; */
    border:none !important;
    border-bottom:1px solid lightgrey !important;
    box-shadow:none;
}
.bootsrap-datepicker-widget{
    z-index: 99999 !important;
    background:white !important;
}

.radio_container >label{
    width:95px !important;
}



#medicine-listing-table > tbody> tr>td>.form-control{
    border:none !important;
    border-bottom:1px solid lightgrey !important;
    box-shadow:none !important;
}
.instruction-list-div {
    position: absolute;
    z-index: 99;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    width: 30%;
    right: 4%;
}

.instruction-list-div-row-listing {
    position: absolute;
    z-index: 99;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    width: 25%;
    right: 30px;
}

.instruction-list-div-row-listing tbody tr:hover {
    background: #feedc1 !important;
    cursor: pointer;
}

.close_btn_instruction_search {
    position: absolute;
    z-index: 99;
    color: #FFF !important;
    background: #000;
    right: -11px;
    top: -1px;
    border-radius: 100%;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f2fef5;
}
.borderless_textbox {
    border: none !important;
    border-bottom: 1px solid #21a4f1 !important;
    box-shadow: none;
}