
#popupForm{
    z-index: 3800;
}
.patient_detail_top_btn{
  margin: 2px 0 0 0;
      margin: 2px 0 0 0;
    float: left;
    width: 100%;
}
.patient_detail_top_btn li button {
    font-size: 12px;
    padding: 3px 5px;
    width: 29px;
    height: 22px;
}
.patient_detail_top_btn li {
    margin: 0 2px 1px 0px;
    width: 29px;
    float: left;
}
.patient_detail_top_btn li img {
    width: 28px;
}
.patient_detail_top_btn li.nursing_top_icons img {
    width: 22px;
}
.imp_alert_box{
  width: 200px;
  height: 200px;
  position: absolute;
  background: #000;
  left: 10%;
  bottom: 0;
}
/*patient Detail style starts here*/
.nurse_dashboard_box .box{
  box-shadow: 0 0 6px #bcbcbc;
}
.bed_status .knob{
  display: inline-block;
}
.patient_detail_box {
    background: #FFF;
    box-shadow: 0 0 5px #A1A1A1;
    float: left;
    width: 100%;
}
.patient_detail_list .table-bordered>thead>tr>th, .patient_detail_list .table-bordered>tbody>tr>th, .patient_detail_list .table-bordered>tfoot>tr>th, .patient_detail_list .table-bordered>thead>tr>td, .patient_detail_list .table-bordered>tbody>tr>td, .patient_detail_list .table-bordered>tfoot>tr>td{
      border: 1px solid #d2d2d2;

}
.patient_detail_list .table_title{
      color: #19A0D8;
}
.patient_detail_list {
  padding: 20px 0 20px 0;
  font-size: 13px;
  /* margin: 10px 0 0 0; */
  text-align: left;
}
.patient_detail_list table{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
}
.patient_detail_list table tr td{
  font-weight: 400;
}
.patient_img img{ 
    width: 70px;
    border: 3px solid #e9e9e9;
}
.patient_room_no .room_no{
    /*color: #19a0d8;*/
    color: #FFF;
    font-size: 16px;
}
.patient_room_no{
    font-weight: 700;
    font-size: 13px;
    margin: 10px 0;
}
.patient_detail_list .occupied{
    color: #c76000;
}
.anim{
   transition:all ease-out 0.2s;
   -webkit-transition:all ease-out 0.2s;
   -moz-transition:all ease-out 0.2s;
   -ms-transition:all ease-out 0.2s;
}
.detail_icon_div{
    box-shadow: 0 0 5px #A1A1A1;
    background: #FFF;
    padding: 0 0 20px 0;
    height: 130px;
    position: relative;
    overflow: hidden;
    margin: 0 0 10px 0;
}
.detail_icon_div i{
    font-size: 65px;
}
.detail_icon_div h3{
    font-size: 14px;
    color: #5f5f5f;
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
}
.icon_box {
    height: 95px;
    padding: 10px 0;
}
.lime_green{
    color: #8bc34a;
}
.orange{
  color: #ff9800;  
}
.purple{
  color: #9c27b0;  
}
.teal{
  color: #009688;  
}
.blue{
  color: #2196f3;  
}
.maroon{
  color: #e91e63;  
}
.indigo{
  color: #3F51B5;
}
.dark_maroon{
  color: #ad1457;  
}
.dark_red{
  color: #B71C1C;  
}
.light_blue{
  color: #4fc3f7;  
}
.light_lime_green{
  color: #c0ca33;  
}
.cyan{
  color: #26c6da;  
}
.red_discharge{
  color: #ff5252;  
}
.dark_purple{
  color: #5e35b1;  
}
.dark_orange{
  color: #e65100;  
}
.brown{
  color: #795548;  
}
.detail_icon_div:hover .lime_green, .detail_icon_div:hover i, .detail_icon_div:hover h3{
    color: #FFF;
}
.detail_icon_div:hover h3{
    margin-top: 5px;
}
.detail_icon_div:hover{
    background: #8bc34a;
    cursor: pointer;
}
.detail_icon_div:hover i{
    font-size: 80px;
}

.detail_icon_div.encounter:hover{
    cursor: pointer;
    background: #ff9800;
}
.detail_icon_div.clinic:hover{
    cursor: pointer;
    background: #9c27b0;
}
.detail_icon_div.investigation:hover{
    cursor: pointer;
    background: #009688;
}
.detail_icon_div.presc_order:hover{
    cursor: pointer;
    background: #2196f3;
}
.detail_icon_div.presc_return:hover{
    cursor: pointer;
    background: #e91e63;
}
.detail_icon_div.diet:hover{
    cursor: pointer;
    background: #ad1457;
}
.detail_icon_div.icu:hover{
    cursor: pointer;
    background: #B71C1C;
}

.detail_icon_div.vitals:hover{
    cursor: pointer;
    background: #4fc3f7;
}
.detail_icon_div.intake:hover{
    cursor: pointer;
    background: #c0ca33;
}
.detail_icon_div.service:hover{
    cursor: pointer;
    background: #26c6da;
}
.detail_icon_div.discharge:hover{
    cursor: pointer;
    background: #ff5252;
}
.detail_icon_div.nurse_note:hover{
    cursor: pointer;
    background: #5e35b1;
}
.detail_icon_div.bill:hover{
    cursor: pointer;
    background: #e65100;
}
.detail_icon_div.disch_summary:hover{
    cursor: pointer;
    background: #795548;
}
.detail_icon_div.nurse_assessment:hover{
    cursor: pointer;
    background: #3F51B5;
}
.headergroupbg_blue .date_bg{
  background: #17A2B8 !important;
  color: #FFF;
}
.headergroupbg_blue th{
  background: #19a0d8 ;
  color: #FFF;
}
.patient_list_table .patient_select {
  background: #dcdcdc;
  color: #000;
}
.patient_list_table tbody tr:hover{
  background: #dcdcdc;
  color: #000;
  cursor: pointer;
}

.occupied{color:#c76000;}
.house_keeping{color:#81c042;}
.vacant{color:#8c8c8c;}
.retain{color:#8d6911;}
.admitted_but_not_occupied{color:#bb85b4;}
.marked_for_discharge{color:#ff851b;}
.discharged_but_not_vecated{color:cc;}
.sent_for_billing{color:#83943e;}
.blocked{color:#ae3a3a;}
.transfer_requested{color:#dad044;}
.admission_requested{color:#02075d;}




/*patient Detail style ends here*/