.count_box h4 {
	font-size: 13px;
}

.count_box {
	width: 100%;
	background: #FFF;
	padding: 8px;
	text-align: center;
	border-radius: 6px;
}

.count_box span{
	font-size: 35px;

}
.vendorbox{
	box-shadow: 0 0 8px #C0C0C0;
}
.vendorbox h3{
	font-size: 14px !important;
}

.vendorbox .box-body{
	padding: 4px;
}

 .vendorbox .box-header {
	padding: 5px;
}