textarea.form-control.tia_textarea{
    height: 25px !important;
    position: relative;
}

textarea.form-control.tia_textarea.tia_textarea_expand  {
    height: 100px !important;
    z-index: 10;
    position: absolute;
    box-shadow: 0 0 10px #c9c9c9;
}
.bootboxmodal {
    z-index: 999999 !important;
}
.minusspan {
    display: none;
}
.fav_td{

    cursor: pointer;
}

.icd_cpt_view_button{ 
    cursor: pointer;
} 

.icd_cpt_pop{ 
    box-shadow: 0 0 10px #6b6b6b !important;
    border-radius: 6px;
    z-index: 9999 !important;
}   

.full_note_btn { 
    position: absolute; 
    left: 2px; top: 0; 
    height: 20px; 
    padding: 0px 3px; 
    border-radius: 0;
}
div.mce-edit-area {
    border-width: 1px !important;
}
.notes_box {
    width: 100%;    
    border: 2px solid #CCC;
    height: 74vh;
    overflow: auto;
    font-size: 12px;
    padding: 3px 7px 2px;
}
.plan_notes_div_med {
    min-height: 254px;
}
.plan_list{
    padding: 1px 3px;
    z-index: 10;
    top: 0;
    right: 5px;
    position: absolute;
    font-size: 11px;
}
.saved_notes_slider {
    background: #FFF;
    padding: 10px;
    position: absolute;
    z-index: 2901;
    width: 950px;
    right: -955px;
    box-shadow: 0 0 6px #333;
    top: 15%;
    transition:all ease-in-out 500ms;
    -webkit-transition:all ease-in-out 500ms;
    -moz-transition:all ease-in-out 500ms;
    -ms-transition:all ease-in-out 500ms;
}
.saved_notes_slider.saved_notes_slider_open {
    right:0;
    transition:all ease-in-out 500ms;
    -webkit-transition:all ease-in-out 500ms;
    -moz-transition:all ease-in-out 500ms;
    -ms-transition:all ease-in-out 500ms;
}

.saved_notes_slider_patient {
    background: #FFF;
    padding: 10px;
    position: absolute;
    z-index: 3800;
    width: 950px;
    right: -960px;
    box-shadow: 0 0 6px #333;
    top: 15%;
    transition:all ease-in-out 500ms;
    -webkit-transition:all ease-in-out 500ms;
    -moz-transition:all ease-in-out 500ms;
    -ms-transition:all ease-in-out 500ms;
}
.saved_notes_slider_patient.saved_notes_slider_open {
    right:0;
    transition:all ease-in-out 500ms;
    -webkit-transition:all ease-in-out 500ms;
    -moz-transition:all ease-in-out 500ms;
    -ms-transition:all ease-in-out 500ms;
}


.saved_notes_toggle_btn {
    position: absolute;
    left: -108px;
    top: 0;
    line-height: 19px;
    background: #000;
    padding: 5px;
    color: #FFF;
    text-align: center;
    font-size: 11px;
    cursor: pointer;
    border-radius: 3px 0 0 3px;
}
/*.saved_notes_close_btn {
    position: absolute;
    width: 20px;
    left: -12px; 
    top: -9px;
    height: 20px;
    line-height: 19px;
    background: #000;
    color: #FFF;
    text-align: center;
    border-radius: 100%;
    font-size: 15px;
    cursor: pointer;
}*/
.div_sm {
    position: relative;
    transition:all ease-in-out 30vhms;
    -webkit-transition:all ease-in-out 30vhms;
    -moz-transition:all ease-in-out 30vhms;
    -ms-transition:all ease-in-out 30vhms;
}
.div_lg {
    position: absolute;
    background: #FFF;
    box-shadow: 0 0 6px #333;
    /*zoom: 1.2;
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);*/
    transition:all ease-in-out 30vhms;
    -webkit-transition:all ease-in-out 30vhms;
    -moz-transition:all ease-in-out 30vhms;
    -ms-transition:all ease-in-out 30vhms;
    z-index: 999;
    left: 0;
}
.div_lg .theadscroll {
    height: 57vh !important;
}
.action_more_div {
    position: absolute;
    z-index: 3400;
    background: #FFF;
    box-shadow: 0 0 5px #333;
    padding: 5px;
    width: 250px;
    right: 0;
    display: none;
}
.action_more_div .btn{
    text-align: left;
    width: 100%;
    margin-bottom: 2px;
}
.action_more_div .btn:last-child{
    text-align: left;
    width: 100%;
    margin-bottom: 0;
}

.slidepopup {
    position: absolute;
    background: #FFF;
    width: 86%;
    box-shadow: 0 0 6px #CCC;
    z-index: 2900;
    right: -100%;
    top: 4%;
    /*bottom: 2%;*/
    padding: 10px;
    transition: all ease 500ms;
    -webkit-transition: all ease 500ms;
    -moz-transition: all ease 500ms;
    -ms-transition: all ease 500ms;

}
.encounterslidepopup {
    position: absolute;
    background: #FFF;
    width: 86%;
    box-shadow: 0 0 6px #CCC;
    z-index: 2900;
    right: -100%;
    top: 4%;
    /*bottom: 2%;*/
    padding: 10px;
    transition: all ease 500ms;
    -webkit-transition: all ease 500ms;
    -moz-transition: all ease 500ms;
    -ms-transition: all ease 500ms;

}
.residentslidepopup {
    position: absolute;
    background: #FFF;
    width: 86%;
    box-shadow: 0 0 6px #CCC;
    z-index: 2900;
    right: -100%;
    top: 4%;
    /*bottom: 2%;*/
    padding: 10px;
    transition: all ease 500ms;
    -webkit-transition: all ease 500ms;
    -moz-transition: all ease 500ms;
    -ms-transition: all ease 500ms;

}
.see_btn {
    position: absolute;
    left: 0px;
    border-radius: 3px 0 0 3px;
    padding: 5px 1px !important;
    top: 20%;
}
.drag_pop {
    position: absolute;
    background: #FFF;
    box-shadow: 0 0 6px #CCC;
    z-index: 2902;
    width: 100%;
    max-width: 1000px;
    padding: 17px 10px 10px 10px;
    cursor: move;
    right: 1%;
    top: 9%;
}
.drag_pops {
    position: absolute;
    background: #FFF;
    box-shadow: 0 0 6px #CCC;
    z-index: 2902;
    width: 100%;
    max-width: 1057px;
    padding: 17px 10px 10px 10px;    
    right: 1%;
    top: 5%;
}

.drag_pops_patient_list {
    position: absolute;
    background: #FFF;  
    z-index: 2902;
    width: 100%;
    max-width: 92%;
    padding: 17px 10px 10px 10px;
    right: 1%;
    top: 4%;
    box-shadow: 0 0 17px #6b6b6b;
    border-radius: 9px;
}

.pop_close {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
    line-height: 19px;
    background: #000;
    color: #FFF;
    text-align: center;
    border-radius: 100%;
    font-size: 18px;
    cursor: pointer;
    z-index: 10;
}
.slidepopup_open{
    right: 0;
    transition: all ease 500ms;
    -webkit-transition: all ease 500ms;
    -moz-transition: all ease 500ms;
    -ms-transition: all ease 500ms;
}
.slide_popup_container {
    width: 100%;
}
.slide_close_btn {
    position: absolute;
    top: 3px;
    left: -11px;
    width: 22px;
    height: 22px;
    line-height: 19px;
    background: #000;
    color: #FFF;
    text-align: center;
    border-radius: 100%;
    font-size: 16.5px;
    cursor: pointer;
}
.slide_close_btn_res {
    position: absolute;
    top: 3px;
    left: -11px;
    width: 22px;
    height: 22px;
    line-height: 19px;
    background: #000;
    color: #FFF;
    text-align: center;
    border-radius: 100%;
    font-size: 16.5px;
    cursor: pointer;
}
.slide_close_btn_patient {
    position: absolute;
    top: -2px;
    left: -11px;
    width: 22px;
    height: 22px;
    line-height: 19px;
    background: #000;
    color: #FFF;
    text-align: center;
    border-radius: 100%;
    font-size: 16.5px;
    cursor: pointer;
}

#radioBtn .notActive{
    color: #3276b1;
    background-image: none;
    background-color: #FFFFFF !important;

}
.trunc_text {
    white-space: nowrap; 
    overflow: hidden;
    width:150px;
    text-align: left !important;
    text-overflow: ellipsis; 
}
.trunc_text_inst_td {
    white-space: nowrap; 
    overflow: hidden;
    width:400px;
    text-align: left !important;
    text-overflow: ellipsis; 
}

#loaddoctor_notetype_heads .btn-primary {
    background-color: #3c8dbc !important;
    border-color: #367fa9 !important;
}

#loaddoctor_notetype_heads .btn-primary:hover, #loaddoctor_notetype_heads .btn-primary:active, #loaddoctor_notetype_heads .btn-primary.hover {
    background-color: #367fa9 !important;
}
.notes_preview_div {
    background: #FFF;
    padding: 20px;
    box-shadow: 0 0 18px #737272;
    width: 100%;
    max-width: 850px;
    margin: auto;
    width: 100%;
    cursor: text;
}
#note_type_set {
    padding: 15px;
    margin: 0;
    background: #FFF;
    position: relative;
    box-shadow: 0 0 6px #757070;
    z-index: 8;
    font-weight: 700;
}

.sign_in_dropdown {
    position: absolute;
    background: #FFF;
    width: 750px;
    height: 300px;
    z-index: 99999;
    top: 9%;
    right: 80px;
    box-shadow: 0 0 6px #CCC;
    padding: 10px;
}

/*.sign_in_dropdown_close {
    background: #333;
    height: 20px;
    width: 20px;
    color: #FFF;
    text-align: center;
    font-size: 11px;
    line-height: 20px;
    border-radius: 100%;
    left: -10px;
    top: -8px;
    position: absolute;
    cursor: pointer;
}*/

#loaddoctor_notetype_heads button {
    border-radius: 0;
}

#loaddoctor_notetype_heads button.btn-success, #loaddoctor_notetype_heads a.btn-success, #notestempltefecdeddiv a.btn-success {
    background: #afd6ef;
    color: #000;
    border: none;
}

#loaddoctor_notetype_heads button.btn-success:hover, #loaddoctor_notetype_heads button.btn-success:active, #loaddoctor_notetype_heads button.btn-success:focus  {
    background: #9fc8e2;
    color: #000;
    border: none;
}
#loaddoctor_notetype_heads button.btn-primary {
    color: #FFF;
    border: none;
}
.add_name_pop {
    position: absolute;
    background: #FFF;
    padding: 15px;
    box-shadow: 0 0 6px #CCC;
    display: none;
}

.add_name_pop .col-md-12 {
    margin: 0 0 5px 0;
}

.add_name_pop .col-md-12:last-child {
    margin: 0;
}

#social_history_panel .panel-heading {
    padding: 2px 5px !important;
    background: #ffffff;
    color: #FFF;
    margin: 0 0 1px 0;
    border-radius: 0;
    border: 1px solid grey;
}
#social_history_panel .panel-heading .panel-title {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    align-items: center;
}
#social_history_panel .panel-heading .panel-title a.accordion-toggle {
    align-items: center;
    display: flex;
}
#social_history_panel .panel-heading .panel-title span {
    font-size: 12px !important;
    flex: 1;
    color: white;
}
#social_history_panel .panel-heading .panel-title button.btn {
    padding: 0px 3px !important;
    font-size: 11px;
}

.select_button > li {
    background: #337ab7;
    display: inline-block;
    padding: 3px 6px;
    color: #FFF;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    margin: 2px 0 2px 0;
}
.select_button > li:hover {
    background: #00a65a;
    cursor: pointer;

}
.select_button > li.active {
    background: #00a65a;

}
.select_button > li i{
    display: none;
}
.select_button > li.active i{
    display: inline-block;
    font-size: 15px;
    margin-right: 2px;
}


.select_buttons > li {
    background: #337ab7;
    display: inline-block;
    padding: 3px 6px;
    color: #FFF;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    margin: 2px 0 2px 0;
}
.select_buttons > li:hover {
    background: #00a65a;
    cursor: pointer;

}
.select_buttons > li.active {
    background: #00a65a;

}
.select_buttons > li i{
    display: none;
}
.select_buttons > li.active i{
    display: inline-block;
    font-size: 15px;
    margin-right: 2px;
}

.note_templates{
    flex-direction: row;
    font-size: 12px;
    align-items: center;

}
.txtbx {
    background: #efefef;
    border: none;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    margin-top: 3px;
    font-weight: normal;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: none;
}

:-ms-input-placeholder {
    color:#8c8c8c;
}
.txtbx:focus {
    background: #d9d9d9;
    border: none;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    margin-top: 3px;
    font-weight: normal;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: 0;
    box-shadow: none;
}
.panel-white .panel-heading {
    color: #FFF;
    background-color: #07709B;
    -webkit-box-shadow: 1px 1px 6px 0px rgba(194,192,194,1);
    -moz-box-shadow: 1px 1px 6px 0px rgba(194,192,194,1);
    box-shadow: 1px 1px 6px 0px rgba(194,192,194,1);
}
.panel-white .panel-heading:hover {
    border-color: #FFF;
    color: #fff;
    background-color:#008D4C;
    -webkit-box-shadow: 1px 1px 6px 0px rgba(194,192,194,1);
    -moz-box-shadow: 1px 1px 6px 0px rgba(194,192,194,1);
    box-shadow: 1px 1px 6px 0px rgba(194,192,194,1);
}
.panel-white a{
    color: #5cb85c;
}
.panel-white a:hover {
    color: #ffffff !important;
}
.panel_pad{
    padding:5px;
}



/*Allergies style Starts*/



.fav_popup {
    position: absolute;
    background: #FFF;
    width: 350px;
    left: 33px;
    top: 45px;
    text-align: left;
    box-shadow: 0 0 6px #CCC;
    padding: 5px;
    z-index: 9999;
    display: none;
}
.fav_pop_close {
    position: absolute;
    background: #000;
    width: 17px;
    height: 17px;
    text-align: center;
    color: #FFF;
    border-radius: 100%;
    right: -10px;
    line-height: 17px;
    top: -10px;
}
.fav_table_wrapper {
    width: 100%;
    float: left;
    height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}

/*select check group name style starts here*/

.select_button_check { 
    column-count: 2;
    column-gap: 5px;
}
.select_button_check>li { 
    background: #d9edf7;
    display: inline-block;
    padding: 3px 6px;
    color: #000;
    border-radius: 3px;
    text-align: left;
    font-size: 12px;
    margin: 2px;
    width: 100%;
}
.select_button_check_fav{
    background: #d9edf7;
    display: inline-block;
    padding: 3px 6px;
    color: #000;
    border-radius: 3px;
    text-align: left;
    font-size: 12px;
    margin: 2px;
    width: 100%;
}
.select_button_check_fav:hover {
    background: #0073b7;
    color: #FFF;
    cursor: pointer;

}
.select_button_check_fav.active {
    background: #0073b7;
    color: #FFF;
}
.select_button_check_fav i {
    display: none;
}
.select_button_check_fav.active i {
    display: inline-block;
    font-size: 15px;
    margin-right: 2px;
}

.select_button_check>li:hover { 
    background: #0073b7;
    color: #FFF;
    cursor: pointer;

}
.select_button_check>li.active { 
    background: #0073b7;
    color: #FFF;
}
.select_button_check>li i { 
    display: none;
}
.select_button_check>li.active i { 
    display: inline-block;
    font-size: 15px;
    margin-right: 2px;
}

/*select check group name style ends here*/

.blue_bg_title { 
    background: #19A0D8;
    padding: 2px 3px;
    color: #FFF;
}
.inputHolder {float:left; position:relative;}
#menu,.medDivStyle {z-index: 99999;position:absolute; top:2.5em;background: #ffffff;border-radius: 5px;border: 1px solid rgba(0, 0, 0, 0.08);max-height: 30vhpx;overflow-y: auto;width:90%;}
ul.drop, ul.drop li {list-style: none; margin: 0px 0px 0px 0px;width:100%; padding: 5px 5px;}
ul.drop li.hover, ul.drop li a:hover { display: block;position: relative; z-index: 99999; background: #169FD7; color: #ffffff;}
/*Allergies style Ends*/


.modi_dropdown {
    background: #FFF;
    padding: 5px;
    position: absolute;
    box-shadow: 0 0 6px #333;
    right: 0;
    width: 160px;
    display: none;
    z-index: 10;
}
.modi_dropdown li{
    margin-bottom: 5px;
}
.modi_dropdown li:last-child{
    margin-bottom: 0;
}
#cpt_datalist_table .modi_drop_btn {
    height: 20px;
    line-height: 10px;
}
.notes_success{
    background: #a8e0c4;
}
.notes_encounter_label{
    font-weight: 200;
    color: #3c8dbc;
    font-size: 13px;
}

.ph_exam_table .normal_btn, .ph_exam_table .normal_btn:focus {
    background: #0073b7;
    color: #FFF !important;
    padding: 2px 4px;
    height: 18px;
    line-height: 12px;
}
.ph_exam_table .abnormal_btn, .ph_exam_table .abnormal_btn:focus {
    background: #ff320a;
    color: #FFF !important;
    padding: 2px 4px;
    height: 18px;
    line-height: 12px;
}
.ph_exam_table .samebefore_btn, .ph_exam_table .samebefore_btn:focus {
    background: #15afba;
    color: #FFF !important;
    padding: 2px 4px;
    height: 18px;
    line-height: 12px;
}
.ph_exam_table .btn {
    padding: 2px 4px;
    height: 18px;
    line-height: 12px;
    color: #b9b9b9;
}
.default_selection_btn.active {
    padding: 2px 4px;
    height: 18px;
    color: #FFF !important;
    background: #00b14c;
    font-weight: 700;
}
.default_selection_btn {
    padding: 2px 4px;
    height: 18px;
    line-height: 12px;
    color: #1f1d1d;
    background: #f0f0f0;
    border-radius: 3px;
    display: inline-block;
}
.save_btn {
    color: #FFF !important;
}
.ph_exam_table textarea, .ph_exam_table textarea:focus {
    border-radius: 4px !important;
    border: 1px solid #CCC !important;
}
.ph_exam_table .dropdown_btn {
    font-size: 16px;
    cursor: pointer;
}
.ph_exam_table tr {
    border-bottom: 1px solid #CCC !important;
}

.define_head {
    color: #0e77cc;
    font-size: 12px;
    font-weight: 700;
}
.headergroupbg_darkblue {
    background: #0073b7;
}
.headergroupbg_darkblue:hover {
    background: #0073b7;
}
.headergroupbg_darkblue th {
    background: none !important;
    color: #FFF;
    vertical-align: middle !important;
}


.physicalexam_pop {
    padding: 0;
}


#physicalexamheads_popupdiv {
    padding: 10px 15px 15px 15px;
    float: left;
    width: 100%;
}

.physicalexam_pop_header {
    float: left;
    padding: 10px;
    width: 100%;
    background: #001e7d;
    color: #FFF;
}


.physicalexam_close_dismis {
    background: #dd4b39;
    padding: 2px 10px;
    height: 23px;
    font-size: 20px;
    line-height: 15px;
    border-radius: 3px;
    margin: 0 0 0 10px;
}


.phy_legend_list {
    float: left;
    width: 100%;
    padding: 5px 5px 15px 5px;
}

.phy_legend_list ul li {
    float: left;
    margin: 0 20px 0 0;
}

span.phy_normal {
    background: #0073b7;
    padding: 3px 6px;
    color: #FFF;
    font-weight: 700;
    border-radius: 3px;
    margin: 0 3px 0 0;
}
span.phy_copy {
    background: #15afba;
    padding: 3px 6px;
    color: #FFF;
    font-weight: 700;
    border-radius: 3px;
    margin: 0 3px 0 0;
}
span.phy_abnormal {
    background: #ff320a;
    padding: 3px 6px;
    color: #FFF;
    font-weight: 700;
    border-radius: 3px;
    margin: 0 3px 0 0;
}
span.phy_default {
    background: #00b14c;
    padding: 3px 6px;
    color: #FFF;
    font-weight: 700;
    border-radius: 3px;
    margin: 0 3px 0 0;
}
.phy_copy_pre-active:focus {
    background: #15afba!important;
}
.phy_normal_btn{
    background: #0073b7;
    color: #fff !important;
}
.phy_normal_btn:focus{
    background: #0073b7;
    color: #000 !important;
}
.phy_copy_pre-active {
    background: #15afba!important;
    color: #fff !important;
}
.bg-gray-active:focus{
    background: #b5bbc8 !important;
    color: #000 !important;
}
.dropdown_btn {  
    cursor: pointer;
}
.radio label::after {  
    background-color: #1f73b7 !important;
}
.physicalexam_close_dismis{
    cursor: pointer;
}
.text-hide_black{
    color: #ababab !important
}

.multi_calendar_slider {
    background: #FFF;
    max-width: 800px;
    right: -820px !important;
    width: 100%;
    padding: 10px;
    position: absolute;
    height: 500px;
    z-index: 1004;
    box-shadow: 0 0 8px #000;
    top: 27px;
    right: 0;
    transition:all ease 0.5s;
    -webkit-transition:all ease 0.5s;
    -moz-transition:all ease 0.5s;
    -ms-transition:all ease 0.5s;
}
.calendar_open{
    right: 0 !important;
    position: absolute !important; 
}
.multi_calendar_slider_close {
    background: #000;
    color: #FFF;
    line-height: 19px;
    font-size: 15px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: -8px;
    top: -9px;
    border-radius: 100%;
    text-align: center;
    cursor: pointer;
}

.active-dates {
    box-shadow: 0 0 3px #cecece;
    max-height: 400px;
    overflow: auto;
    padding: 3px 0;
    border: none;
    border-radius: 0;
}
.date_label{
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    text-align: center;

}
.check-fax{
    padding: 1px 2px 3px 20px !important;
}
.close_drop {
    position: absolute;
    bottom: 6px;
    right: -6px;
    background: #676767;
    color: #FFF;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border-radius: 100%;
    line-height: 18px;
    cursor: pointer;

}
.hide_note_blue{
    background-color: #0073b7 !important;
}
.hide_note_lite{
    background-color: #d9edf7 !important;
}

.hide_note_lite:focus {
    background-color: #d9edf7!important;
}
.notes_success:focus{
    background-color: #a8e0c4!important;
    color: #333!important;

}


.fav_popup_doc_list {
    position: absolute;
    background: #FFF;
    width: 431px;
    right: 140px;
    top: 95px;
    text-align: left;
    box-shadow:0 0 18px #8e9fa2;
    padding: 5px;
    z-index: 3200;
    display: none;
}
.fav_pop_doc_close {
    position: absolute;
    background: #000;
    width: 17px;
    height: 17px;
    text-align: center;
    color: #FFF;
    border-radius: 100%;
    right: -10px;
    line-height: 17px;
    top: -10px;
}
.fav_table_doc_wrapper {
    width: 100%;
    float: left;
    height: 140px;

}






.select_button_check_doc { 
    column-count: 2;
    column-gap: 5px;
}
.select_button_check_doc>li { 
    background: #d9edf7;
    display: inline-block;
    padding: 3px 6px;
    color: #000;
    border-radius: 3px;
    text-align: left;
    font-size: 12px;
    margin: 2px;
    width: 100%;
}
.select_button_check_doc>li:hover { 
    background: #0073b7;
    color: #FFF;
    cursor: pointer;

}
.select_button_check_doc>li.active { 
    background: #0073b7;
    color: #FFF;
}
.select_button_check_doc>li i { 
    display: none;
}
.select_button_check_doc>li.active i { 
    display: inline-block;
    font-size: 15px;
    margin-right: 2px;
}

checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-left: 0px;
}
.well {
    padding: 5px !important;
    margin-bottom: 0px !important;
}

#global_modelboxdiv h4 {
    margin: 0px !important;
}

.well .custom_floatlabel {
    top: -23px;
}

.well .float-label-control input, .float-label-control textarea, .custom-float-label-control select, .custom-float-label-control input {
    padding:2px !important;
}
.save_align {
    margin-left: 6px;
}