#canvas-container {
    position: relative;
    /* width: 90%; */
    height: 500px;
    border: 2px solid #151515;
    border-radius: 5px;
    box-shadow: 3px 3px 0px 0px #254976;
}

#canvas {
    border: 1px solid #000000;
}


.close-button {
    position: absolute;
    text-align: center;
    top: -10px;
    right: -10px;
    background-color: #f41212;
    font-weight: 666;
    color: #FFF;
    border: 1px solid #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#image_canvas {
    position: absolute;
    height: 495px;
    left: 0px;
    top: 0px;
    touch-action: none;
    user-select: none;
    background-position: center;
    object-fit: contain;
    padding: 10px 0px;
}

.slider {

    width: 100%;
    height: 125px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    background-color: white !important;
    border-top: 1px solid !important;
    -webkit-transition: .4s;
    transition: .4s;
    border-bottom: 1px solid !important;
}


.upperslider {
    margin-top: 2.5%;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 11%;
    margin-top: 2.5%;
    white-space: nowrap;
    background-color: white !important;
    border-top: 1px solid !important;
    -webkit-transition: .4s;
    transition: .4s;
    border-bottom: 1px solid !important;
    width: 100%;
    height: 7%;
}

.upperslider_img {
    cursor: pointer;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}


.slider img {
    display: inline-block;
    width: 7%;
    height: 60%;
    margin-top: 2.5%;
    object-fit: cover;
    scroll-snap-align: start;
    margin: 5px;
    border: 1px solid black;
    border-radius: 11%;
    margin-top: 2.5%;
    /* margin-left: 11px; */
    object-fit: contain;
}

.slider img {
    display: inline-block;
    width: 7%;
    height: 60%;
    margin-top: 2.5%;
    object-fit: cover;
    scroll-snap-align: start;
    margin: 5px;
    border: 1px solid black;
    border-radius: 11%;
    margin-top: 2.5%;
    /* margin-left: 11px; */
    object-fit: contain;
}

.slider img:hover {
    scale: 1.1 !important;
}
