.modal-content {
    border-top-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.modal-title {
    margin: 0 !important;
    line-height: 0.428571 !important;
    font-size: 15px !important;
}

.modal-header {
    padding: 15px !important;
    padding-bottom: 0px !important;
    border-bottom: 1px solid #e5e5e5;
    background-color: #21a4f1;
    color: white;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: -2px;
    border-top-left-radius: 10px;
}

.modal-header .close {
    color: #FFF;
    font-size: 25px;
    line-height: 18px;
    opacity: 1;
}

.modal-fullscreen-xs-down .modal-dialog {
    width: 95%;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-left:5%;
}

.modal-fullscreen-xs-down .modal-content {
    height: auto;
    min-height: 100%;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
}

.close{
    margin-right:30px !important;
}

.modal-fullscreen-xs-down .modal-content {
    border-top-left-radius: 0px !important;
    border-bottom-right-radius:0px !important;
}
.modal-fullscreen-xs-down .modal-title {
    font-size: 18px !important;
    margin:5px !important;
    font-weight: 700 !important;
}

.modal-fullscreen-xs-down .modal-header .close {
    font-size: 32px !important;
}

.modal-fullscreen-xs-down .modal-header {
    border-top-left-radius:0px;
    height:50px !important;
}
.box-body,.card_body{
    background:white !important;
}
.style-table tbody{
    color:rgb(123, 128, 154) !important;
    width:max-content;
}
.style-table thead{
        background: transparent;
        color: rgb(94, 98, 116);
        box-shadow: none;
        font-size: 0.65rem;
        font-weight: 700;
        text-transform: uppercase;
}
.style-table thead tr th{
    text-align: left !important;
    height: 30px !important;
    padding-bottom: 7px !important;
    border-bottom: 0px !important;
}
.table>thead>tr>th{
    border-bottom: 0px !important;
}
