$colorPrimary: #F44336;
$fontGrey: rgb(50, 50, 50);

html {
    background: #e5e5e5;
    text-align: center;
    overflow: hidden
}

.ui-datepicker-holder {
    background: white;
    box-shadow: 0 15px 50px -4px grey;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    margin: calc(50vh - 10px) 0 0;
    overflow: hidden;
    padding: 10px;
    position: relative;
    transition: all 0.4s;
    -webkit-transform: scale(0) translateY(0%);
    transform: scale(0) translateY(0%);

    button {
        background: none;
        border: none;
        color: $colorPrimary;
        cursor: pointer;
        float: right;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin: 0 6px 4px 0;
        padding: 13px 9px;

        &:focus {
            outline: 0;
        }
    }

    &.ui-datepicker-holder-open {
        -webkit-transform: scale(1) translateY(-50%);
        transform: scale(1) translateY(-50%);
    }
}

.ui-datepicker-year-select {
    display: none
}

.ui-datepicker-icon,
.ui-datepicker-input {
    box-shadow: 0 0 40px -3px grey;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
}

.ui-datepicker-icon {
    background: $colorPrimary;
    color: white;
    cursor: pointer;
    font-family: 'Material Icons';
    font-size: 30px;
    padding: 20px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateY(-50%) translateX(110%);
    transform: translateY(-50%) translateX(110%);
}

.ui-datepicker-input {
    border: 2px solid $colorPrimary;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 23px 16px;
    width: 260px;

    &:focus {
        outline: 0;
    }
}

.ui-datepicker {
    display: block !important;

    thead tr th span {
        color: lighten($fontGrey, 60%);
        display: block;
        font-size: 12px;
        margin: 14px 0 5px 0;
    }

    td a {
        border-radius: 100%;
        color: $fontGrey;
        display: block;
        font-size: 12px;
        padding: 13px;
        text-align: center;
        text-decoration: none;

        &:hover {
            background: $colorPrimary;
            color: white;
        }
    }

    .ui-state-highlight {
        color: $colorPrimary;
        font-weight: bold;
    }

    .ui-datepicker-prev,
    .ui-datepicker-next {
        cursor: pointer;
        font-family: 'Material Icons';
        font-size: 20px;
        margin: -3px 0 0;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
    }

    .ui-datepicker-prev {
        float: left;
    }

    .ui-datepicker-next {
        float: right;
    }

    .ui-datepicker-title {
        color: #616161;
        font-size: 14px;
        font-weight: 500;
        margin: 30px 0 11px 0;
    }
}

.ui-datepicker-result {
    background: $colorPrimary;
    color: white;
    margin: -10px;
    padding: 20px;
    text-align: left;

    div:first-of-type {
        color: lighten($fontGrey, 75%);
        font-size: 14px;
        margin: 4px 0 3px;
    }

    div:not(:first-of-type) {
        display: inline-block;
        font-size: 34px;
        font-weight: 500;
        margin-right: 7px;
    }
}
