.ip_op_list_div {
    height: 98vh;
    display: flex;
}

.list_item_name {
    width: 230px;
    font-size: 11px;
}

.list_item_uhid {
    font-size: 11px;
}

tr.ip_op_list_item:hover {
    /* color: aqua; */
    transform: scale(1.05);
}

/* Tabs */
.tabs {
    width: 100%;
    border-radius: 10px 2px 10px 2px;
    height: 90%;
    border: 1px solid #1f9ee83b;
    box-shadow: 10px 10px 10px rgb(199 199 199 / 50%);
}

ul#tabs-nav {
    list-style: none;
    margin: 0;
    padding: 5px;
    overflow: auto;
}

ul#tabs-nav li {
    float: left;
    font-weight: bold;
    margin-right: 2px;
    padding: 3px 3px;
    border-radius: 5px 2px 5px 2px;
    /*border: 1px solid #d5d5de;
    border-bottom: none;*/
    cursor: pointer;
    text-align: center;
    width: 78px;
}

ul#tabs-nav li:hover,
ul#tabs-nav li.active {
    background-color: #21a4f1;
}

ul#tabs-nav li.active a {
    color: #fff;
}

#tabs-nav li a {
    text-decoration: none;
    color: #21a4f1;
}

.tab-content {
    background-color: #FFF;
}

.ip_op_list_item {
    border-bottom: 1px solid #21a4f1;
    border-top: 1px solid #21a4f1;
    cursor: pointer;
}

.ip_op_list_item>td {
    padding: 5px 0px !important;
}

.hover_btn {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    /* outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px; */
    text-shadow: none;
    /* transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1); */
}

.hover_btn:hover {
    /* border: 1px solid #bf6e2d; */
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    /* outline-color: rgba(255, 255, 255, 0); */
    /* outline-offset: 15px; */
}

.hover_btn:hover a {
    color: #fff;
}

.list_item_token_div {
    background: #ffffff;
    border: 1px dotted #21a4f1;
    border-radius: 15px;
    color: black;
    width: 25px;
    text-align: center;
    height: 25px;
    font-weight: 600;
    margin-top: 5px;
    line-height: 1.8;
}

.list_item_tokenunseen_div {
    /* background: #21a4f1; */
    /* border: 1px dotted #21a4f1; */
    border-radius: 15px;
    /* color: white; */
    color: black;
    /* width: 25px; */
    text-align: center;
    /* height: 25px; */
    font-weight: 600;
    /* margin-top: 5px; */
    /* line-height: 1.8; */
}

.tr_token_unseen {
    background: #a5deff !important;
}

.tr_new_patient {
    background: #ebb882 !important;
}

.tr_token_seen {
    /* background: #ffffff !important; */
}

.list_item_tokenseen_div {
    /* background: #f3efec; */
    /* border: 1px dotted #21a4f1; */
    border-radius: 15px;
    color: black;
    /* width: 25px; */
    text-align: center;
    /* height: 25px; */
    font-weight: 600;
    /* margin-top: 5px; */
    /* line-height: 1.8; */
}

.patient_details_div {
    height: 100%;
    /* border: 1px solid #1f9ee83b; */
    /* border-radius: 10px 2px; */
    background: white;
}

.patient_details_inner_div {
    display: none;
    border: 1px solid #1f9ee83b;
    border-radius: 10px 2px;
    box-shadow: 10px 10px 10px rgb(199 199 199 / 50%);
    margin-bottom: 10px;
    padding: 5px !important;
    background: #ffffff !important;
}

.dashed_border_box {
    border: 1px dashed #e7e6e6;
}

.timer_container {
    color: red;
    font-size: 25px;
    text-align: center;
    padding: 8px 13px !important;
}

.timer_container label {
    font-size: 25px;
    color: red;
}

.span_count {
    color: white;
    background: #db6825;
    border-radius: 15px;
    font-size: 13px;
    padding: 3px;
    font-weight: 600;
}

.patient_details_inner_div:hover {
    /* transform: scale(1.05); */
}


.left_side_tools_container1 {
    height: 260px;
    border: 1px solid #1f9ee83b;
    border-radius: 10px 2px;
    background: #f7f7f7;
    box-shadow: 10px 10px 10px rgb(199 199 199 / 50%);
    margin-top: 6px;
}

.left_side_tools_container2 {
    height: 385px;
    border: 1px solid #1f9ee83b;
    border-radius: 10px 2px;
    background: #f7f7f7;
    box-shadow: 10px 10px 10px rgb(199 199 199 / 50%);
    margin-top: 6px;
}

.patient_demographics_container {
    height: 650px;
    border: 1px solid #1f9ee83b;
    border-radius: 10px 2px;
    background: white;
    box-shadow: 10px 10px 10px rgb(199 199 199 / 50%);
    margin-top: 6px;
}

.expanding_button {
    background-color: #3c5b6f;
    color: #21a4f1;
    text-decoration: none;
    border-radius: 10px 2px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    width: auto;
    max-width: 32px;
    /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
    -webkit-transition: max-width 0.5s;
    transition: max-width 0.5s;
    position: relative;
    z-index: 10;
    margin-top: 4px;
    margin-left: 4px;
    border: 1px solid #21a4f1;
    cursor: pointer;
}

.expanding_button:hover {
    max-width: 300px;
    color: #21a4f1 !important;
    background-color: #3c5b6f;
}

.expanding_button_icon {
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    margin-right: 15px;
    padding: 0px 8px;
    display: flex;
    align-items: center;
}

.expanding_button_icon i {
    color: #21a4f1;
}

/* .expanding_button_icon:hover>i {
    color: #fff;
  } */

.expanding_button_text {
    white-space: nowrap;
    padding-right: 15px;
}

.text_head {
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 2px;
}

.allergy_and_notes_div {
    height: 125px;
}

.vital_item>td {
    padding: 3px 0px !important;
}

.vital_icon {
    text-align: center;
}


.visit_details_div {
    height: 100%;
    background: white;
}

.visit_details_inner_div {
    height: 100%;
    border: 1px solid #1f9ee83b;
    border-radius: 10px 2px;
    box-shadow: 10px 10px 10px rgb(199 199 199 / 50%);
}

.tableRowHead {
    background: #21a4f1;
    color: white;
}

/* .visit_details_inner_div:hover{
    transform: scale(1.05);
  } */

.allergic_item {
    font-size: 12px;
    color: #dd0808;
}

.vital_item {
    font-size: 12px;
}

.table_box {
    border: 1px solid #1f9ee83b;
    border-radius: 10px 2px;
    background: white;
}

.form-control {
    opacity: 1 !important;
}

.notes_entering_area {
    margin-top: 5px;
    height: 245px;
}

.bookmarked_notes_area {
    margin-top: 10px;
    height: 245px;
}

.patient_history_container {
    margin-top: 5px;
    height: 325px;
}

.prescription_entering_area {
    margin-top: 5px;
    height: 400px;
}

.advice_on_prescription_area {
    margin-top: 10px;
    height: 100px;
}

.prescription_chief_complaint_container {
    margin-top: 5px;
    height: 100px;
}

.prescription_history_container {
    margin-top: 5px;
    height: 400px;
}

.investigation_entering_area {
    margin-top: 5px;
    height: 460px;
}

.advice_on_investigation_area {
    margin-top: 10px;
    height: 100px;
}

.investigation_chief_complaint_container {
    margin-top: 5px;
    height: 100px;
}

.investigation_history_container {
    margin-top: 5px;
    height: 460px;
}

.investigation_remarks {
    height: 100px;
}

.investigation_clinical_history {
    height: 100px;
}

.investigation_remarks_area {
    margin-top: 5px;
}

.investigation_clinical_history_textarea {
    height: 65px !important;
}


.investigation_remarks_textarea {
    height: 65px !important;
}


/* tree view structure design */

ul.investigation_group_tree {
    margin: 0;
    padding-left: 25px;
    line-height: 2em;
    list-style: none;
    background-color: #fff;
}

ul.investigation_group_tree li {
    position: relative;
}

ul.investigation_group_tree li:before {
    position: absolute;
    top: 0;
    left: -15px;
    display: block;
    width: 15px;
    height: 1em;
    content: "";
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

/* hide the vertical line on the first item */
ul.investigation_group_tree>li:first-child:before {
    border-left: none;
}

ul.investigation_group_tree li:after {
    position: absolute;
    top: 1.1em;
    bottom: 1px;
    left: -15px;
    display: block;
    content: "";
    border-left: 1px solid #ccc;
}

/* hide the lines on the last item */
ul.investigation_group_tree li:last-child:after {
    display: none;
}

/* inserted via JS  */
.js-toggle-icon {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 14px;
    margin-right: 2px;
    margin-left: -23px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
    background-color: #a9bf2d;
    border: 1px solid #808080;
    border-radius: 2px;
    color: #FFF;
    font-weight: 600;
}

.bg_brown {
    background: #21a4f1;
}

.bg_brown.active {
    background: #137ab7;
}

.text_field {
    color: white !important;
}

.investigation_tree_area {
    margin-top: 10px;
    height: 210px;
    border: 1px dotted #9a9a9a;
}

.investigation_selected_area {
    margin-top: 5px;
    height: 150px;
    border: 1px dotted #9a9a9a;
}

.investigation_selected_area table>tr>td {
    font-size: 12px !important;
}

.chief_complaint_div {
    height: 65px;

}

.chief_complaint {
    line-height: 1.3;
}

.border_dashed_bottom {
    border-bottom: 1px dashed #cccccc;
}

.investigation_history_item {
    border-bottom: 1px dotted #000;
    margin-bottom: 5px;
}

.investigation_history_div {
    height: 425px;
}

.tree_checkbox {
    margin: 5px 0px 0px 4px !important;
}

.prescription_advice_textarea {
    height: 65px !important;
}

.checkbox_serial {
    margin-left: 10px !important;
}

.prescription_history_div {
    height: 325px;
}

.presc_history_head {
    border-bottom: 1px dashed #cccccc;
}

.presc_history_head_left {
    cursor: pointer;
    width: 73%;
}


.prescription_list {
    /* display: none; */
    margin-bottom: 10px;
}

.copyBtn {
    cursor: pointer;
    border: 1px dotted #b5b2b2;
    padding: 1px;
    border-radius: 2px;
    background: #cdff68;
    margin-right: 2px;
}

.editBtn {
    cursor: pointer;
    border: 1px dotted #b5b2b2;
    padding: 1px;
    border-radius: 2px;
    background: #ffd661;
    margin-right: 2px;
}

.deleteBtn {
    cursor: pointer;
    border: 1px dotted #b5b2b2;
    padding: 1px;
    border-radius: 2px;
    background: #ff9664;

}

.applyBtn {
    cursor: pointer;
    border: 1px dotted #b5b2b2;
    padding: 1px;
    border-radius: 2px;
    background: #cdff68;
    margin-right: 2px;

}

.printBtn {
    cursor: pointer;
    border: 1px dotted #b5b2b2;
    padding: 1px;
    border-radius: 2px;
    background: #61fff8;
    margin-right: 2px;

}

.prescription_history_item {
    margin-bottom: 10px;
}


.invest_history_head {
    border-bottom: 1px dashed #cccccc;
}

.invest_history_head_left {
    cursor: pointer;
    width: 73%;
}


.investigation_list {
    /* display: none; */
    margin-bottom: 10px;
}

.investigation_history_item {
    margin-bottom: 10px;
}


.presc_bookmark_head {
    border-bottom: 1px dashed #cccccc;
}

.presc_bookmark_head_left {
    cursor: pointer;
    width: 73%;
}


.bookmarks_list {
    /* display: none; */
    margin-bottom: 5px;
    margin-top: 5px;
}


.table-border-radius-top tr:first-child th:first-child {
    border-top-left-radius: 5px;
}

.table-border-radius-top tr:first-child th:last-child {
    border-top-right-radius: 5px;
}

.notes_chief_complaint_textarea,
.doctor_refer_notes {
    height: 210px !important;
}

.bookmarked_notes_item {
    cursor: pointer;
}


.bg-brown {
    background: #21a4f1;
}


.modal_box {
    background: #21a4f1;
    color: #FFFFFF;
}

.modal {
    z-index: 9999;
}

.table_header_bg {
    background: #21a4f1 !important;
    color: #fff;
}

.bg-green {
    background: #21a4f1 !important;
    color: #fff;
}

.save_btn_bg {
    background: #21a4f1 !important;
    color: #fff;
}


.btn-brown {
    background: #21a4f1 !important;
    border: 1px solid #ee9b5a !important;
    color: #fff;
}

.brown-border {
    border: 1px solid #21a4f1 !important;
}

.bg-brown.active {
    background: #186fa2 !important;
}

.bg-brown:hover {
    background: #186fa2 !important;
}

.headergroupbg {
    background: #21a4f1 !important;
}


.notes_history_head {
    border-bottom: 1px dashed #cccccc;
}

.notes_history_head_left {
    cursor: pointer;
    width: 73%;
}


.notes_list {
    /* display: none; */
    margin-bottom: 10px;
}

.notes_history_item {
    margin-bottom: 10px;
}

.selected_investigation_service_name {
    text-align: left !important;
    cursor: pointer;
    width: 90%;
}

.selected_investigation_delete_btn {
    text-align: center;
    cursor: pointer;
}

.borderless_textbox {
    border: none !important;
    border-bottom: 1px solid #21a4f1 !important;
    box-shadow: none;
}

.addNewPrescriptionItemBtn {
    cursor: pointer;
}

.brown {
    color: #21a4f1;
}

.deletePrescriptionItemBtn {
    cursor: pointer;
    margin-top: 5px;

}

/* ecg loader design start */

.ecg_loader_wrapper {
    position: relative;
    background: #fff;
    width: 100%;
    height: 100%;
    /* height: 100vh; */
    overflow: hidden;
}

.ecg_loader_blockcont {
    position: relative;
    top: 50%;
    width: 100%;
}

.checkbox-brown input[type="checkbox"]:checked+label::before,
.checkbox-brown input[type="radio"]:checked+label::before {
    background-color: #21a4f1;
    border-color: #21a4f1;
}

.checkbox-brown input[type="checkbox"]:indeterminate+label::before,
.checkbox-brown input[type="radio"]:indeterminate+label::before {
    background-color: #21a4f1;
    border-color: #21a4f1;
}

.checkbox-brown input[type="checkbox"]:checked+label::after,
.checkbox-brown input[type="radio"]:checked+label::after {
    color: #fff;
}

.radio-brown input[type="radio"]+label::after {
    background-color: #21a4f1;
}

.radio-brown input[type="radio"]:checked+label::before {
    border-color: #21a4f1;
}

.radio-brown input[type="radio"]:checked+label::after {
    background-color: #21a4f1;
}

.ecg_loader_block {
    background: #21a4f1;
    width: 10px;
    height: 10px;
    position: absolute;
    float: left;
    border-radius: 5px;
    transition: all 1s;
    animation: ecg 5s linear infinite;
}

.ecg_loader_block:nth-child(1) {
    animation-delay: 232ms;
}

.ecg_loader_block:nth-child(2) {
    animation-delay: 224ms;
}

.ecg_loader_block:nth-child(3) {
    animation-delay: 216ms;
}

.ecg_loader_block:nth-child(4) {
    animation-delay: 208ms;
}

.ecg_loader_block:nth-child(5) {
    animation-delay: 200ms;
}

.ecg_loader_block:nth-child(6) {
    animation-delay: 192ms;
}

.ecg_loader_block:nth-child(7) {
    animation-delay: 184ms;
}

.ecg_loader_block:nth-child(8) {
    animation-delay: 176ms;
}

.ecg_loader_block:nth-child(9) {
    animation-delay: 168ms;
}

.ecg_loader_block:nth-child(10) {
    animation-delay: 160ms;
}

.ecg_loader_block:nth-child(11) {
    animation-delay: 152ms;
}

.ecg_loader_block:nth-child(12) {
    animation-delay: 144ms;
}

.ecg_loader_block:nth-child(13) {
    animation-delay: 136ms;
}

.ecg_loader_block:nth-child(14) {
    animation-delay: 128ms;
}

.ecg_loader_block:nth-child(15) {
    animation-delay: 120ms;
}

.ecg_loader_block:nth-child(16) {
    animation-delay: 112ms;
}

.ecg_loader_block:nth-child(17) {
    animation-delay: 104ms;
}

.ecg_loader_block:nth-child(18) {
    animation-delay: 96ms;
}

.ecg_loader_block:nth-child(19) {
    animation-delay: 88ms;
}

.ecg_loader_block:nth-child(20) {
    animation-delay: 80ms;
}

.ecg_loader_block:nth-child(21) {
    animation-delay: 72ms;
}

.ecg_loader_block:nth-child(22) {
    animation-delay: 64ms;
}

.ecg_loader_block:nth-child(23) {
    animation-delay: 56ms;
}

.ecg_loader_block:nth-child(24) {
    animation-delay: 48ms;
}

.ecg_loader_block:nth-child(25) {
    animation-delay: 40ms;
}

.ecg_loader_block:nth-child(26) {
    animation-delay: 32ms;
}

.ecg_loader_block:nth-child(27) {
    animation-delay: 24ms;
}

.ecg_loader_block:nth-child(28) {
    animation-delay: 16ms;
}

.ecg_loader_block:nth-child(29) {
    animation-delay: 8ms;
}

.ecg_loader_block:nth-child(30) {}

@keyframes ecg {
    0% {
        left: 0;
    }

    25% {
        left: 25%;
        transform: translate(0, 0);
    }

    50% {
        left: 50%;
        transform: translate(0, 0);
    }

    26%,
    51%,
    76% {
        transform: translate(0, -30px);
    }

    27%,
    52%,
    77% {
        transform: translate(0, 0);
    }

    28%,
    53%,
    78% {
        transform: translate(0, 30px);
    }

    29%,
    54%,
    79% {
        transform: translate(0, 0);
    }

    30%,
    55%,
    80% {
        transform: translate(0, 10px);
    }

    31%,
    56%,
    81% {
        transform: translate(0, 0);
    }

    75% {
        left: 75%;
        transform: translate(0, 0);
    }

    100% {
        left: 100%;
    }
}

/* ecg loader design end */
.addNewItemBtn {
    font-size: 30px;
    color: #21a4f1;
    margin-top: 10%;
    vertical-align: middle;
    cursor: pointer;
}

.text-normal {
    color: #21a4f1;
    font-weight: 600;
}

.notes_history_div {
    height: 465px;
}

strong {
    font-weight: 600;
    font-size: 12px;
    color: #21a4f1;
}

.favourite_btn {
    padding: 5px;
    margin-top: 2px;
    color: #21a4f1;
}

table.smart_table>tr>td> {
    font-size: 12px;
}

.investigation_subtest_list {
    margin-left: 10px;
}

.antinatal_clinical_data_table.table>tbody>tr>td{
    border : 1px dashed #cccccc !important;
    padding:3px !important;
}
.patientCombinedHistoryTable.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 1px;
    font-size: 12px;
    font-weight:400 !important;
}

/* .bill_converted_class{
    display: none;
} */
.list-medicine-search-data-row-listing {
    text-align: left;
}

.medicine-list-div-row-listing {
    top: 22%;
    right: 10%;
    z-index: 9999;
    position: absolute;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 1px;
    width: 1000px;
    cursor: grab;
}

.active_row_item {
    background: #21a4f1 !important;
    color: white;
    cursor: pointer;
}

.active_item {
    background: white !important;
    color: #21a4f1;
    cursor: pointer;
    width: 25px;
}

.active_row {
    background: #21a4f1 !important;
    color: white;
    cursor: pointer;
    font-weight: 600;
    border: 1px #1c6fa0 solid;
}

.frequency-list-div-row-listing tbody tr:hover {
    background: #21a4f1 !important;
    color: white;
    cursor: pointer;
}

.list-frequency-search-data-row-listing {
    text-align: left;
}

.frequency-list-div-row-listing {
    top: 15%;
    right: 32%;
    z-index: 9999;
    position: absolute;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 1px;
    width: 275px;
    height: 300px;
}

.frequency-list-div-row-listing tbody tr:hover {
    background: #21a4f1 !important;
    color: white;
    cursor: pointer;
}

.direction-list-div-row-listing tbody tr:hover {
    background: #21a4f1 !important;
    color: white;
    cursor: pointer;
}

.list-direction-search-data-row-listing {
    text-align: left;
}

.direction-list-div-row-listing {
    top: 15%;
    right: 10%;
    z-index: 9999;
    position: absolute;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 1px;
    width: 275px;
    height: 300px;
}

.direction-list-div-row-listing tbody tr:hover {
    background: #21a4f1 !important;
    color: white;
    cursor: pointer;
}

.ajaxSearchBox {
    z-index: 1016 !important;
    background: white;
    border: 1px solid #ccc;
}

.ajaxSearchBox li {
    font-size: 12px;

}

.table_header_common {
    background: #21a4f1 !important;
    color: #FFF !important;
}

.close_btn_dialog {
    float: left;
    position: absolute;
    z-index: 99;
    color: #FFF !important;
    background: #f37819;
    right: -8px;
    top: -8px;
    border-radius: 100%;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    font-weight: 600;
    z-index: 99999;
}

.addPrescriptionFavItemBtn {
    margin-top: 5px;
}

.saveButtonDiv {
    position: absolute;
    float: right;
    top: 10px;
    right: 5px;

}

.saveClinicalDataButton {
    background: #21a4f1;
    border: 1px solid #21a4f1;
    border-radius: 5px 2px;
    color: white;
}

.saveAndPrintClinicalDataButton {
    background: #21a4f1;
    border: 1px solid #21a4f1;
    border-radius: 5px 2px;
    color: white;
}

.common_td_rules {
    text-align: left !important;
    overflow: hidden !important;
    /* border-right: solid 1px #bbd2bd !important;
    border-left: solid 1px #bbd2bd !important; */
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.td_common_numeric_rules {
    border-left: solid 1px #bbd2bd !important;
    text-align: right !important;
}


.btn-blue {
    background: #21a4f1;
    border: 1px solid #21a4f1;
    border-radius: 5px 2px;
    color: white;
}

.btn-lite {
    background: #1983c1;
    border: 1px solid #1983c1;
    border-radius: 5px 2px;
    color: white;
}

.notes_chief_complaint_container textarea {
    height: 200px !important;
    margin-top: 5px;
    border-radius: 10px 2px;
}

.updatePrescriptionBtnDiv {
    display: none;
    position: absolute;
    right: 0;
    top: 1px;
}


.updateInvestigationBtnDiv {
    display: none;
    position: absolute;
    right: 0;
    top: 5px;
}


.investigation-list-div {
    display: none;
    min-width: 580px !important;
    margin-top: 60px;
    position: absolute;
    z-index: 9999;
    background: white;
}


.close_btn_inv_search {
    position: absolute;
    z-index: 99;
    color: #FFF !important;
    background: #000;
    right: -11px;
    top: -11px;
    border-radius: 100%;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

.addOutsideInvestigationBtn {
    background: #21a4f1;
    color: white;
}

.updateNotesBtn {
    background: #21a4f1;
    border: 1px solid #21a4f1;
    border-radius: 5px 2px;
    color: white;
}


.updateNotesDiv {
    display: none;
    position: absolute;
    top: 1px;
    right: 0px;
}


.emr_box {
    padding: 5px;
    box-shadow: 0px 1px #ccc;
    border: 2px solid #21a4f1;
    border-radius: 10px 2px;
}

.dropdown_div {
    text-align: left;
    list-style: none;
    cursor: pointer;
    max-height: 350px;
    margin: -2px 0px 0px 0px;
    overflow-y: auto;
    z-index: 99999 !important;
    position: absolute;
    display: none;
    background: #ffffff;
    border-radius: 3px;
    margin-top: 0px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}


.dropdown_list {
    display: block;
    padding: 5px 10px 5px 5px;
    color: #000;
    background: #ffffff;
}


.dropdown_list:hover {
    transform: translateY(-3px);
    background: #21a4f1;
    color: white;
}

.liHover {
    transform: translateY(-3px);
    background: #21a4f1;
    color: white;
}

.btn-blue-sm {
    font-size: 21px;
    color: #21a4f1;
    vertical-align: middle;
    cursor: pointer;
}

.bookmarks-notes-text {
    width: 90%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.bookmarked_notes_item {
    display: flex;
    border-bottom: 1px dotted #ddd;
}

.btn-blue-sm_sm {
    font-size: 16px;
    color: #21a4f1;
    vertical-align: middle;
    cursor: pointer;
}

.btn-yellow-sm_sm {
    font-size: 16px;
    color: #21a4f1;
    vertical-align: middle;
    cursor: pointer;
}

.btn-green-sm_sm {
    font-size: 16px;
    color: #21a4f1;
    vertical-align: middle;
    cursor: pointer;
}

.blink_me {
    animation: blinker 1s linear infinite;
    color: red;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}


tr.vital_item:hover {
    background: #eaf2f7;
    cursor: pointer;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #21a4f1;
    border-color: #21a4f1;
}

.pagination>li>a,
.pagination>li>span {
    color: #21a4f1;
    border: 1px solid #21a4f1;
}

.pagination>li>a:hover,
.pagination>li>span:hover,
.pagination>li>a:focus,
.pagination>li>span:focus {
    background-color: #21a4f1;
    border-color: #21a4f1;
}

.mate-input-box {
    border-bottom: 2px solid #21a4f1;
}

.patient_todays_visit_container {
    height: 175px;
    margin-top: 5px;
}

.leaf_border {
    border-radius: 7px 0px 7px 0px;
}

#addnewinv {
    box-shadow: 0px 3px 0px 0px;
    display: flex;
}

#addnewgrp {
    box-shadow: 0px 3px 0px 0px;
    display: flex;
}

#addNewGrp {
    width: 61% !important;
}

#addNewInv {
    width: 60% !important;
}

.overflow_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text_right {
    text-align: right;
}

.assessment-fav-button {
    position: absolute;
    top: 2px;
    right: 185px;
    color: #21a4f1;
    cursor: pointer;
    display: none;
}

.assessment-fav-button:hover {
    transform: scale(1.10);
}

/* .nav-sm .container.body .col-md-3.left_col{
    display:none;
}
.nav-sm .main_container .top_nav{
    margin-left: 0px !important;
}

.right_col {
    padding: 10px 5px !important;
    margin-left: 0px !important;
} */

.list_item_age {
    display: none;
}

.toggle-ip-op-list-btn {
    position: fixed;
    top: 285px;
    left: -4px;
    z-index: 99;
    background-color: #c0dcec;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 2px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    width: auto;
    max-width: 32px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 4px;
    margin-left: 4px;
    box-shadow: 2px 2px #d5e8f3;
}

.toggle-ip-op-list-btn-icon {
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    margin-right: 15px;
    padding: 0px 8px;
    display: flex;
    align-items: center;
}


.toggle-ip-op-list-btn:hover {
    transform: scale(1.10);
    color: white !important;
    background: #21a4f1;
}


.toggle-ip-op-list-btn-icon i {
    color: white;
}

.add-other-allergy-btn {
    background: #2d7aec;
    border: 1px solid #2d7aec;
    border-radius: 5px 2px;
    color: white;
    float: right;
}

tr.new_record_to_add.freq_new_record:hover {
    background: #798da9 !important;
}

/* Style the tab */
.dynamic_notes.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 215px;
    margin-top: 20px;
}

/* Style the buttons that are used to open the tab content */
.dynamic_notes.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 5px 5px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.dynamic_notes.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.dynamic_notes.tab button.active {
    background-color: #3e8cf6;
    color: white;
}



/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    /* border: 1px solid #ccc; */
    width: 70%;
    border-left: none;
    height: 215px;
    margin-top: 25px;
}

.list-medicine-search-data-row-listing tr {
    cursor: pointer;
}

.dynamic_single_head_text {
    display: none;
}

textarea.form-control {
    height: 100px !important;
}

.timepickerclass {
    font-weight: 600;
}

.timepickerclass_default {
    color: #a8a8a8 !important;
}

.bootstrap-datetimepicker-widget .form-control,
.bootstrap-datetimepicker-widget .btn {
    box-shadow: none !important;
}

.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second {
    width: 70% !important;
}

.bootstrap-datetimepicker-widget td span {
    height: 34px !important;
    line-height: 34px !important;
}

.viewBtn {
    cursor: pointer;
    border: 1px dotted #b5b2b2;
    padding: 1px 0px;
    width: 16px;
    border-radius: 2px;
    background: #0df0f0;
    margin-right: 2px;
}

.close_btn_freq_search {
    position: absolute;
    z-index: 99;
    color: #FFF !important;
    background: #000;
    right: -11px;
    top: -1px;
    border-radius: 100%;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

.chart_class {
    text-align: left;
    margin-top: 8px !important;
    border: 1px solid #d9cccc;
    padding-top: 7px;
    padding-left: 0px;
    height: 80px;
    border-radius: 5px;
    margin: 2px;
    width: 190px;
}

.medication_stop {
    width: 17px;
    height: 17px;
    text-align: center;
    padding: 0px;
}

.fav_investigation_box {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 5px #c0c0c0;
    padding: 10px;
    position: absolute;
    right: 45px;
    width: 530px;
    z-index: 9999;
    display: none;
    /* height: 492px; */
    top: 0px;
}

.slidedown_close_btn {
    background: #333333 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    height: 25px;
    right: -10px;
    line-height: 25px;
    position: absolute;
    text-align: center;
    top: -15px;
    width: 25px;
    z-index: 1500;
}

.nav-tabs.sm_nav.vertical_tab_btn,
.vertical_tab_btn_fav_group {
    display: flex;
    flex-direction: column !important;
}

.vertical_tab_btn {
    border: 1px solid #CCC;
}


.vertical_tab_btn li a,
.vertical_tab_btn_fav_group li a {
    text-align: left;
}

.vertical_tab_btn li,
.vertical_tab_btn_fav_group li {
    width: 100%;
    padding: 2px 0;
    /* border-bottom: 1px solid #CCC; */
}

.nav-tabs-custom.blue_theme_tab .sm_nav li.active a {
    color: #FFF !important;
    background: #0c9e61 !important;
    border: none;
}

.nav-tabs-custom.blue_theme_tab .sm_nav li a {
    color: rgb(56, 52, 52) !important;
    /*background: #36A693 !important;*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border: none;
    box-shadow: none;
    color: #212529;
}

button.close {
    margin: -10px -2px 10px 8px !important;
}

.assessment_history_head {
    border-bottom: 1px dashed #cccccc;
}

.assessment_history_head_left {
    cursor: pointer;
    width: 25%;
}

.radio_container {
    display: flex !important;
    justify-content: space-around !important;
    /* align-items: center !important; */
    background-color: #eeeeee !important;
    width: 270px !important;
    height: 30px !important;
    border-radius: 9999px !important;
    box-shadow: inset 0.5px 0.5px 2px 0 rgba(0, 0, 0, 0.15) !important;
}

.radio_container>input[type="radio"] {
    appearance: none !important;
    display: none !important;
}

.radio_container>label {
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: inherit !important;
    width: 80px !important;
    height: 20px !important;
    text-align: center !important;
    border-radius: 9999px !important;
    transition: linear 0.3s !important;
    margin-top: 5px !important;
}

.radio_container>input[type="radio"]:checked+label {
    background-color: #1e90ff !important;
    color: #f1f3f5 !important;
    transition: 0.3s !important;
}


.popDurationDiv {
    display: none;
    border-radius: 2px;
    padding: 0px;
    position: absolute;
    /* top: 22px; */
    min-width: 120px;
    z-index: 850 !important;
    width: 120px;
    min-height: 104px;
    left: 400px;
}

.popDurationDiv .show {
    display: block;
}

.popDurationDiv .col-md-1 {
    border-radius: 50%;
    height: 20px;
    background: #f37819;
    top: -15px;
    left: 2px;
    z-index: 9999;
}

button.close {
    margin: -4px -5px !important;
    opacity: 1;
}

.list-group-item {
    padding: 2px 8px !important;
}

.list-group-item:hover {
    background-color: whitesmoke !important;
}

.list-group-item.active {
    color: #fff;
    background-color: #337ab7 !important;
    border-color: #337ab7;
}

.popDiv {
    display: none;
    border-radius: 2px;
    padding: 0px;
    position: absolute;
    /* top: 22px; */
    min-width: 120px;
    z-index: 850 !important;
    width: 120px;
    min-height: 104px;
    left: 240px;
}

.popDiv .show {
    display: block;
}

.popDiv .col-md-1 {
    border-radius: 50%;
    height: 20px;
    background: #f37819;
    top: -15px;
    left: 2px;
    z-index: 9999;
}

.gy-btn-blue-sm {
    font-size: 17px;
    color: #21a4f1;
    vertical-align: middle;
    cursor: pointer;
}
