h5{
    color:cornflowerblue !important;
    font-weight:600 !important;
}
.box-body{
    border-radius: 5px !important;
    padding: 6px !important;
    background-color: #fff !important;
}

ul{
    list-style: none!important;
    padding-left: 0px!important;
}
.control-container,.template-container{
    min-height: 610px !important;
    padding-left:10px !important;
    /* margin:5px !important; */
}


#src_copy, #src_move  {
    color: blue;
    border: 5px solid black;
    width: 300px;
    height: 50;
}

#dynamic_template_data label{
   font-family:'Poppins', sans-serif !important;
   font-weight:600 !important;
   color:#525252 !important;
   font-size: 12px !important;
}

.bg-blue{
    color:white !important;
}

#dynamic_template_data .form-control {
    /* background: #f8f8f8 !important; */
    background:white !important;
    border: 1px solid #e4e3e3 !important;
    border-radius:4px;
    box-shadow: none;
    font-size: 12px !important;
    font-family:'Poppins', sans-serif !important;
    font-weight: 600;
    margin-bottom: 15px;
    transition: all ease-in-out 0.4s;
    height:25px !important;
    padding-left:8px !important;
    color:#5c5c5c;
}

#dynamic_template_data .form-control:focus  {
    @include box-shadow(0 0 5px rgba(81, 203, 238, 1));
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1.5px solid rgba(81, 203, 238, 1);
  }

.bg-blue{
   background-color: #44aeff !important;
   color:white !important;
}
.radio_label,.check_label{
    margin-left: 2px !important;
    margin-right: 2px !important;
    height: 25px !important;
    padding-top:2px !important;
    border-radius: 3px !important;

}
input[type=radio] {
    display:contents;
}

.radio_label, .check_label{
    color:white !important;
}

.btn.active, .btn:active {
    background-color:#326bc7 !important;
    outline: 0 !important;
    color:white !important;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125) !important;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125) !important;
}

.select_button>li{
    height:30px !important;
    padding-top:8px !important;
    padding: 5px 8px;
}

.select_button>li.active {
    background: #23b170 !important;
    color: #FFF !important;
}
.select_button>li{
    background: #7bffd7 !important;
    color: #393939 !important;
    font-family: system-ui;
    font-size: 11px !important;
}

.select_button > li.active i {
    display: inline-block;
    font-size: 15px;
    margin-right: 5px;
    color: #FFF !important;
    background: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    height: 32px !important;
    padding-top: 10px !important;
    color: #444 !important;
    line-height: 12px !important;
    background: #f6f6f6 !important;
}

.select2-container--default .select2-selection--multiple{
    background: #f6f6f6 !important;
}


.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #f2eded !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice, .select2-container--default .select2-selection--multiple .select2-selection__clear {
    background: cornflowerblue !important;
    color:white !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: white !important;
}
.header-class{
    background: aliceblue !important;
    height: 25px !important;
    padding-top: 6px !important;
    padding-left: 6px !important;
    color: #585757 !important;
    border-radius: 6px !important;
}

.sortable{
    margin-bottom:15px !important;
}


.tox .tox-toolbar, .tox .tox-toolbar__overflow, .tox .tox-toolbar__primary {
    background: #f6f6f6 !important;
}


.tox .tox-editor-container {
    border-radius: 8px !important;
}

.tox:not([dir=rtl]) {
    border-radius: 6px !important;
}

.fa-times-circle{
    color:red;
    float:right;
}

fieldset.scheduler-border {
    border: 1px solid #ddd !important;
    border-radius: 5px !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

textarea{
    min-height:50px !important;
}

fieldset legend{
   font-family: 'Poppins', sans-serif !important;
   font-weight: 500 !important;
   color:#d6d6d6 !important;
   font-size: 14px !important;
}

.main-btn-class{
    margin-top: 25px !important;
    height: 33px !important;
    font-size: 12px !important;
}

.btn-main{
    width: 90px !important;
    height: 32px !important;
    font-size: 12px !important;
    margin-top:-20px !important;
}

.template-name{
    text-align: center !important;
    color:#666 !important;
}

.patient-header{
    margin-top:10px !important;
    margin-bottom:10px !important;
}

.template-name{
    text-decoration: initial !important;
}

.bg-blue{
    color:white !important;
}

#static_component_pain_assessment_scale input[type="radio"] {
    display: none; /* hide the default radio button */
}
#static_component_pain_assessment_scale label.radio-image {
    display: inline-block;
    cursor: pointer;
    margin: 10px; /* adjust the margin as needed */
    text-align: center;

}
#static_component_pain_assessment_scale label.radio-image img {
    display: block;
    margin-bottom: 5px; /* space the label from the image */
    width: 50px; /* adjust the image size as needed */
    height: 50px;
    border-radius:50%;
    display: inline-block;
}
#static_component_pain_assessment_scale label.radio-image span {
    display: block;
}
.pain_scale_smiley {
    opacity:.5;
}

.collapse.in {
    display: block;
    margin-bottom: 15px;
}

.txt_box_collapsible {
    height: 25px;
    border-radius: 6px;
    margin: 0 5px !important;
    width: 30px;
    background: #77e1eb !important;
    font-size: 15px;
    color: #FFF !important;
}

.collapsible_text_box_header {
    width: 96%;
    /* background: #f0f0f0; */
    height: 25px !important;
    border-radius: 6px;
    padding: 3px 0 0 10px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 6px;
    border: 1px solid #f0f0f0;
    color: #939393;
}

.table-striped td b {
    font-size: 13px;
}

#dynamic_template_data label.radio_label{
    color:white !important;
}

.show_print{
    font-size: 13px !important;
    margin-bottom: 20px !important;
}

.template_name{
    text-align: center !important;
    font-weight: 700 !important;
    text-decoration: none !important;
    color: #777777 !important;
    font-family: sans-serif !important;
}

.show_print{
    min-height: 24px !important;
}
