html,
body {
    color: #000 !important;
}

* {
    outline: none !important;
}

.img-responsive {
    display: inline-block !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.no-border {
    border: 0px !important;
}

.padding_xs {
    padding: 0 2px 0 2px !important;
}

.padding_sm {
    padding: 0 5px 0 5px !important;
}

.pos_rel {
    position: relative;
}

.ht5 {
    height: 5px;
}

.ht10 {
    height: 10px;
}

input[type="radio"]:focus {
    outline: none !important;
}

.radio input[type="radio"]:focus+label::before {
    outline: none !important;
}

.checkbox input[type="checkbox"]:focus+label::before {
    outline: none !important;
}

.table.no-border,
.table.no-border td,
.table.no-border th {
    border: 0;
}

.table_sm th,
.table_sm td {
    font-size: 12px !important;
    padding: 1px 5px !important;
}

.table_lg th,
.table_lg td {
    padding: 10px 5px !important;
    font-size: 12px;
}

.table_head.tth {
    font-size: 12px !important;
    padding: 1px !important;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    border: 1px solid #CCC !important;
}

.table-col-bordered>thead>tr>th,
.table-col-bordered>tbody>tr>th,
.table-col-bordered>tfoot>tr>th,
.table-col-bordered>thead>tr>td,
.table-col-bordered>tbody>tr>td,
.table-col-bordered>tfoot>tr>td {
    border-right: 1px solid #CCC !important;
    border-top: none;
}

.ps-container>.ps-scrollbar-y-rail {
    z-index: 1100;
}

.codfox_container .radio-primary input[type="radio"]:checked+label::before {
    /*border-color: #76deee !important;*/
    border-color: #E1D5F4 !important;
}


.codfox_container .radio-primary input[type="radio"]:checked+label::after {
    /*background-color: #76deee !important;*/
    background-color: #9473C8 !important;
}

.codfox_container .checkbox-primary input[type="checkbox"]:checked+label::before,
.checkbox-primary input[type="radio"]:checked+label::before {
    background-color: #E1D5F4 !important;
    border-color: #E1D5F4 !important;
}

.codfox_container .checkbox-primary input[type="checkbox"]:checked+label::after,
.codfox_container .checkbox-primary input[type="radio"]:checked+label::after {
    color: #9473c8;
}

@font-face {
    font-family: 'poppinsbold';
    src: url('fonts/poppins-bold-webfont.woff2') format('woff2'),
        url('fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'poppinslight';
    src: url('fonts/poppins-light-webfont.woff2') format('woff2'),
        url('fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'poppinsmedium';
    src: url('fonts/poppins-medium-webfont.woff2') format('woff2'),
        url('fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'poppinsregular';
    src: url('fonts/poppins-regular-webfont.woff2') format('woff2'),
        url('fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.no_bg {
    background: none !important;
}

/*adminlte box style starts here*/

label {
    font-size: 12px;
    font-weight: 400;
}

div.box {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 3px;
    border-top: 3px solid #d2d6de;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    height: auto !important;
    overflow: visible !important;
    padding: 0px !important;
}

.box-body {
    padding: 2px !important;
    border-radius: 0;
    border: 1px solid #ddd;
    background-color: #FFF;
}

.top_nav .toggle {
    padding-top: 8px !important;
}

.top_nav .nav>li>a {
    padding: 5px 15px 5px !important;
}

.top_nav .nav_menu {
    background: #f8fffd !important;
    box-shadow: 0 0 6px #ccc;
}

/*adminlte box style ends here*/

.box-body,
.card_body {
    background: white !important;
}

.user_img {
    border: 1px solid #E1D5F4;
    width: 60px;
}

.delete_row {
    color: #ca2222;
}

.blue_bg {
    background: lightgrey;
    color: #191818 !important;
}

.dark_blue_bg {
    background: #003e99;
    color: #FFF !important;
}

.cyan_green_bg {
    background: #d4f3f3 !important;
    color: #191818 !important;
}

.cyan_green_bg1 {
    background: #e9f1e9 !important;
    color: #191818 !important;
}

.medium_purple_bg {
    background: #9473C8;
    color: #000;
}

.light_purple_bg {
    background: #E1D5F4 !important;
    color: #000;
}

.bg-teal-active {
    background-color: #30bbbb !important;
}

.table_header_bg {
    /*background: #dee9e0 !important;*/
    background: #1a9b36 !important;
    color: rgb(250, 245, 245) !important;
}

.modal-content {
    border-radius: 0 !important;
}

.modal-title {
    font-size: 16px;
}

.modal_header_dark_purple_bg {
    color: #FFF;
    background: #9473C8;
}

.save_btn_bg {
    background: #36A693;
    color: #FFF;
}

.text-red {
    color: #dd4b39 !important;
}

.theadscroll {
    position: relative;
}

.table_header_bg th {
    color: #fff;
    vertical-align: middle !important;
}

.cyan_green_bg th {
    color: #000000;
    vertical-align: middle !important;
}

.dark_blue_bg th {
    background: #003e99 !important;
    color: #FFF;
    vertical-align: middle !important;
}

.grn_btn_group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grn_btn_group .input-group-btn {
    margin: 0 1px !important;
    flex: 1;
}

.btn {
    font-size: 11px;
    padding: 2px 6px;
    box-shadow: 3px 2px 3px #bdbdbd;
}

.add_row_btn {
    font-size: 11px;
    padding: 2px 4px;
    line-height: 12px;
}

.modal-header .close {
    color: #FFF !important;
    font-size: 30px;
    line-height: 20px;
    opacity: 1;
}

.modal-header-sm {
    padding: 8px;
}

.form-control {
    font-size: 12px !important;
    height: 23px !important;
    padding: 2px !important;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 2px 3px 7px #e4e4e4;
}

select.form-control {
    font-size: 12px !important;
    height: 23px !important;
    padding: 0 !important;
}

.purple_pagination.pagination>.active>a,
.purple_pagination.pagination>.active>span,
.purple_pagination.pagination>.active>a:hover,
.purple_pagination.pagination>.active>span:hover,
.purple_pagination.pagination>.active>a:focus,
.purple_pagination.pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    background-color: #9473c8;
    border-color: #9473c8;
    cursor: default;
}

.purple_pagination.pagination>li>a:hover,
.purple_pagination.pagination>li>span:hover,
.purple_pagination.pagination>li>a:focus,
.purple_pagination.pagination>li>span:focus {
    color: #9473c8;
    background-color: #E1D5F4;
    border-color: #9473c8;
}


.purple_pagination.pagination>li>a,
.purple_pagination.pagination>li>span {
    color: #9473c8;
    background-color: transparent;
    border: 1px solid #9473c8;
    padding: 3px 12px;
}


/*card style starts here*/

.card {
    float: left;
    width: 100%;
}

.card_title {
    padding: 2px 4px;
    margin: 0;
    font-size: 13px;
    font-weight: 700;

}

.card_body {
    float: left;
    width: 100%;
    padding: 4px;
    border: 1px solid #CCC;
}

/*card style ends here*/


/*tab design style starts here*/
.nav-tabs-custom.blue_theme_tab>.sm_nav.nav-tabs>li.active {
    border-top-color: #FFF;
}

.nav-tabs-custom.blue_theme_tab .sm_nav li a {
    padding: 2px 2px;
    background: #FFF !important;
    color: #000 !important;
    font-size: 12px;
    border-radius: 0;
}

.nav-tabs-custom.blue_theme_tab .sm_nav li.active a {
    color: #000 !important;
    background: #E1D5F4 !important;
}

.nav-tabs-custom.blue_theme_tab .sm_nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.nav-tabs-custom.blue_theme_tab .sm_nav li {
    /*flex: 1;*/
    margin: 0 1px 0 0;
}

.nav-tabs-custom.blue_theme_tab .sm_nav li i {
    position: absolute;
    z-index: 1;
    left: 5px;
    top: 6px;
    font-size: 13px;
    color: #FFF;
    cursor: pointer;
}

.nav-tabs-custom.blue_theme_tab .sm_nav li:first-child {
    flex: 1.4;
}

.btn-flat {
    border-radius: 0 !important;
}

.view_box {
    display: none;
}

/*tab design style ends here*/



.notes_sec_list li {
    display: block;
    padding: 3px;
    /*background: #dcebed;*/
    margin: 2px 0 0 0 !important;
    cursor: pointer;
    font-size: 12px;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.notes_sec_list li i {
    color: #9473C8;
}

.notes_sec_list li.active {
    /*background:#a8e3eb;*/
    background: #E1D5F4;
    color: #000;
}

.notes_sec_list li:hover {
    background: #E1D5F4;
    color: #000;
}

.chekbox_table .radio,
.checkbox {
    margin: 0;
}

.note_content {
    display: none;
    height: 297px;
}

.note_content_box {
    padding: 5px;
    border: 1px solid #CCC;
    height: 312px;
    overflow: auto;
}






/*custom text editor style starts here*/


.custom_note_editor_wrapper {
    float: left;
    width: 100%;
    border-bottom: 1px solid #CCC !important;
    background: #f0f0f0;
    border: 1px solid #CCC;
    padding: 0px 0 10px 0;
}

.text_format_options {
    background: #f0f0f0;
    float: left;
    width: 100%;
    border-bottom: 1px solid #CCC;
    padding: 0;
}

.text_format_options ul li {
    float: left;
    margin: 0;
    padding: 2px 10px;
    border-right: 1px solid #CCC;
    font-size: 12px;
}

.text_format_options ul li:hover {
    background: #e1d5f4;
    cursor: pointer;
}

.custom_note_editor_wrapper .custom_note_editor {
    width: 100%;
    border: none;
    height: 265px;
    overflow: auto;
    font-size: 12px;
    padding: 3px 7px 2px;
    background: #FFF;
}

/*custom text editor style ends here*/


.badge_purple_bg {
    color: #000;
    background: #e1d5f4;
}

.partition_line {
    height: 0px;
    background: #e1d5f4;

}

.grn_btn_dropdown {
    position: absolute;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-content: center; */
    right: 5px;
    top: 100%;
    background: #FFF;
    box-shadow: 0 0 6px #CCC;
    /*padding: 5px;*/
    display: none;
    width: 120px;
    z-index: 1100;
}

.grn_btn_dropdown ul {
    margin: 0px !important;
    padding: 0px !important;
    /* flex: 1; */
}

.grn_btn_dropdown ul li {
    display: block;
    width: 100%;
    float: left;
    margin: 0 0 2px 0;
    padding: 2px 5px;
}

.grn_btn_dropdown ul li:hover {
    background: #F4EDFF;
}

.grn_btn_dropdown ul li a {
    color: #000;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.grn_btn_dropdown ul li button {
    float: left;
    width: 25px;

}

.grn_btn_dropdown ul li span {
    float: left;
    margin: 0 0 0 10px;
    font-size: 12px;
}


.table_header_bg {
    /* background: #dee9e0 !important; */
    background: #48b35a !important;
    color: rgb(255, 255, 255) !important;
}

.table_header_bg {
    background: #36A693 !important;
    color: #FFF !important;
}

.table_header_bg th {
    color: #FFF !important;
}
