.patient_details_inner_div{
    display:block !important;
    border-radius: 2px !important;
    box-shadow: none !important;
    background:white !important;
    margin-left:8px !important;
    padding-left:8px !important;
}

.patient_details_inner_div:hover {
    transform: none !important;
    display: block !important;
}

.toolbar_inner_div {
    min-height: 87px !important;
    padding-top:15px !important;
    display: block;
    border: 1px solid #1f9ee83b;
    margin-left: 8px !important;
    background:white !important;
    text-wrap: wrap !important;
}
.toolbar_inner_div .col-md-12{
    margin: 3px !important;
}

.expanding_button{
    background-color:white !important;
}
.toolbar_icons {
    width: 47% !important;
    height: 59px;
    padding-top: 10px !important;
}
.clinical_data_container{
    margin-top:3px !important;
}

.lined {
    display: block;
    margin-top: -1px !important;
    width: 95% !important;
    font-size: 13px;
    line-height: 20px;
    background-image: linear-gradient(#e5e5e5 1px,transparent 0.2px);
    background-size: 100% 20px;
    background-position-y: -2px;
    border: none !important;
    outline: 0;
    color:#000000 !important;
    font-weight: 500;
}
.gyncec_main_container{
    width:70% !important;
}
.toggle-ip-op-list-btn-icon {
    font-family: "Font Awesome 5 Free";
    font-size: 11px;
    margin-right: 1px;
    padding: 0px 8px;
    display: flex;
    align-items: center;
}
.toggle-ip-op-list-btn{
    opacity: 0.2;
}
.toggle-ip-op-list-btn:hover{
    opacity:1;
}
#showHidePatientFiltersAjaxDiv{
    width : 90% !important;
    margin-left: 6px !important;
    background-color:#eaf3ff !important;
}
.ip_op_list_div{
    background-color: white !important;
}
.ip_op_list_div .form-control{
    border-color:white !important;
    border-radius: 3px !important;
}

.dashboard-text{
    font-size:12px !important;
    font-weight: 600 !important;
    /* color:#303030 !important; */
    font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
    margin-left: 5px !important;
}

.tr_new_patient{
    background: #ebb882 !important;
}
tr.ip_op_list_item:hover {
    transform: none !important;
}
.ip_op_list_item{
    border-top:none !important;
}

.list_item_tokenunseen_div {
    background-image: linear-gradient(to right top, #0cceff, #00afff, #008bff, #0060ff, #2e12eb);
    -webkit-box-shadow: 1px 1px 2px 0px rgba(143,206,255,1);
-moz-box-shadow: 1px 1px 2px 0px rgba(143,206,255,1);
box-shadow: 1px 1px 2px 0px rgba(143,206,255,1);
    border-radius: 15px;
    color: white;
    width: 21px;
    font-size: 10px;
    text-align: center;
    height: 21px;
    font-weight: 600;
    margin-top: 5px;
    padding-top: 1px !important;
    padding-right: 4px !important;
    line-height: 1.8;
}

.toolbar_inner_div .text-normal{
    width:95% !important;
}
.text-right{
    text-align: right !important;
}
.text-left{
    text-align: left !important;
}
.text-center{
    text-align: center !important;
}

.toolbar_inner_div .fa:hover{
    transform: scale(1.5) !important;
}

.form-control{
    box-shadow:none !important;
    border-color: #d3d3d3;
    border-radius: 3px;
}

.bg-green:hover{color:aquamarine;}
.gyncec_main_container{
    background: white;
    margin-left: 8px;
    margin-top: 5px;
    width:72.5% !important;
    border-radius: 10px 2px 10px 2px;
    border: 1px solid #1f9ee83b;
    /* box-shadow: 10px 10px 10px rgb(199 199 199 / 50%); */
}

.text-normal{
    color:#222222 !important;
}
.gynec_vitals{
    font-size: 12px !important;
}
/* .expanding_button_icon i {
    color: #7a9aac !important;
} */

.active_row {
    background: #21a4f1 !important;
    color: white !important;
    cursor: pointer;
    font-weight: 600;
    border: 1px #1c6fa0 solid;
}

#gynec_history_container{
    color: #000000 !important;
}

.add_bg-green{
    background: #1ABB9C !important;
}
.add_color-white{
    color:white !important;
}
.list_item_tokenunseen_div{
    color:black !important;
}

.blink_me {
    animation: blinker 1s linear infinite;
  }

  @keyframes blinker {
    50% { opacity: 0; }
}

.usg_form{
    float:left !important;
    clear:right !important;
    display: block !important;
    margin-left :2px !important;
    margin-right: 5px !important;
}
.usg_form_text{
    padding-top:10px !important;
}

.usg_results_entry_block{
    height:480px !important;
}
