.color-yellow{
    color:rgb(255, 255, 0);
}
.color-red{
    color:rgb(255, 0, 0);
}
.color-green{
    color:rgb(0, 128, 0);
}
.color-blue{
    color:rgb(0, 0, 255);
}
.color-black{
    color:rgb(0, 0, 0);
}
.color-white{
    color:rgb(255, 255, 255);
}
.color-orange{
    color:rgb(255, 165, 0);
}
.color-purple{
    color:rgb(128, 0, 128);
}
.color-brown{
    color:rgb(165, 42, 42);
}
.color-gray{
    color:rgb(128, 128, 128);
}
.color-pink{
    color:rgb(255, 192, 203);
}
.color-lime{
    color:rgb(0, 255, 0);
}
.color-maroon{
    color:rgb(128, 0, 0);
}
.color-navy{
    color:rgb(0, 0, 128);
}
.color-teal{
    color:rgb(0, 128, 128);
}
.color-olive{
    color:rgb(128, 128, 0);
}
.color-silver{
    color:rgb(192, 192, 192);
}
.color-gold{
    color:rgb(255, 215, 0);
}
.color-fuchsia{
    color:rgb(255, 0, 255);
}
.color-aqua{
    color:rgb(0, 255, 255);
}
.color-limegreen{
    color:rgb(50, 205, 50);
}
.color-lightblue{
    color:rgb(173, 216, 230);
}
.color-lightgray{
    color:rgb(211, 211, 211);
}
.color-lightgreen{
    color:rgb(144, 238, 144);
}
.color-lightyellow{
    color:rgb(255, 255, 224);
}
.color-lightred{
    color:rgb(255, 182, 193);
}
.color-lightpurple{
    color:rgb(221, 160, 221);
}
.color-lightorange{
    color:rgb(255, 182, 193);
}
.color-lightbrown{
    color:rgb(245, 222, 179);
}
.color-lightgray{
    color:rgb(245, 245, 245);
}
.color-lightpink{
    color:rgb(255, 182, 193);
}
.color-lightlime{
    color:rgb(144, 238, 144);
}
.color-lightmaroon{
    color:rgb(255, 182, 193);
}
.color-lightnavy{
    color:rgb(173, 216, 230);
}
.color-lightteal{
    color:rgb(0, 255, 255);
}
.color-lightolive{
    color:rgb(255, 255, 224);
}
.color-lightsilver{
    color:rgb(211, 211, 211);
}
.color-lightgold{
    color:rgb(255, 215, 0);
}
.color-lightfuchsia{
    color:rgb(255, 182, 193);
}
.color-lightaqua{
    color:rgb(0, 255, 255);
}
.color-lightlimegreen{
    color:rgb(50, 205, 50);
}
.color-darkblue{
    color:rgb(0, 0, 139);
}
.color-darkgray{
    color:rgb(169, 169, 169);
}
.color-darkgreen{
    color:rgb(0, 100, 0);
}
.color-darkyellow{
    color:rgb(255, 215, 0);
}
.color-darkred{
    color:rgb(139, 0, 0);
}
.color-darkpurple{
    color:rgb(128, 0, 128);
}
.color-darkorange{
    color:rgb(255, 69, 0);
}
.color-darkbrown{
    color:rgb(165, 42, 42);
}
.color-darkgray{
    color:rgb(169, 169, 169);
}
.color-darkpink{
    color:rgb(255, 182, 193);
}
.color-darklime{
    color:rgb(144, 238, 144);
}
.color-darkmaroon{
    color:rgb(255, 182, 193);
}
.color-darknavy{
    color:rgb(173, 216, 230);
}
.color-darkteal{
    color:rgb(0, 255, 255);
}
.color-darkolive{
    color:rgb(255, 255, 224);
}
.color-darksilver{
    color:rgb(211, 211, 211);
}
.color-darkgold{
    color:rgb(255, 215, 0);
}
.color-darkfuchsia{
    color:rgb(255, 182, 193);
}
.color-darkaqua{
    color:rgb(0, 255, 255);
}
.color-darklimegreen{
    color:rgb(50, 205, 50);
}

.bg-yellow{
    background-color:rgb(255, 255, 0);
}
.bg-red{
    background-color:rgb(255, 0, 0);
}
.bg-green{
    background-color:rgb(0, 128, 0) !important;
}
.bg-blue{
    background-color:rgb(0, 0, 255);
}
.bg-black{
    background-color:rgb(0, 0, 0);
}
.bg-white{
    background-color:rgb(255, 255, 255);
}
.bg-orange{
    background-color:rgb(255, 165, 0);
}
.bg-purple{
    background-color:rgb(128, 0, 128);
}
.bg-brown{
    background-color:rgb(165, 42, 42);
}
.bg-gray{
    background-color:rgb(128, 128, 128);
}
.bg-pink{
    background-color:rgb(255, 192, 203);
}
.bg-lime{
    background-color:rgb(0, 255, 0);
}
.bg-maroon{
    background-color:rgb(128, 0, 0);
}
.bg-navy{
    background-color:rgb(0, 0, 128);
}
.bg-teal{
    background-color:rgb(0, 128, 128);
}
.bg-olive{
    background-color:rgb(128, 128, 0);
}
.bg-silver{
    background-color:rgb(192, 192, 192);
}
.bg-gold{
    background-color:rgb(255, 215, 0);
}
.bg-fuchsia{
    background-color:rgb(255, 0, 255);
}
.bg-aqua{
    background-color:rgb(0, 255, 255);
}
.bg-limegreen{
    background-color:rgb(50, 205, 50);
}
.bg-lightblue{
    background-color:rgb(173, 216, 230);
}
.bg-lightgray{
    background-color:rgb(211, 211, 211);
}
.bg-lightgreen{
    background-color:rgb(144, 238, 144);
}
.bg-lightyellow{
    background-color:rgb(255, 255, 224);
}
.bg-lightred{
    background-color:rgb(255, 182, 193);
}
.bg-lightpurple{
    background-color:rgb(221, 160, 221);
}
.bg-lightorange{
    background-color:rgb(255, 182, 193);
}
.bg-lightbrown{
    background-color:rgb(245, 222, 179);
}
.bg-lightgray{
    background-color:rgb(245, 245, 245);
}
.bg-lightpink{
    background-color:rgb(255, 182, 193);
}
.bg-lightlime{
    background-color:rgb(144, 238, 144);
}
.bg-lightmaroon{
    background-color:rgb(255, 182, 193);
}
.bg-lightnavy{
    background-color:rgb(173, 216, 230);
}
.bg-lightteal{
    background-color:rgb(0, 255, 255);
}
.bg-lightolive{
    background-color:rgb(255, 255, 224);
}
.bg-lightsilver{
    background-color:rgb(211, 211, 211);
}
.bg-lightgold{
    background-color:rgb(255, 215, 0);
}
.bg-lightfuchsia{
    background-color:rgb(255, 182, 193);
}
.bg-lightaqua{
    background-color:rgb(0, 255, 255);
}
.bg-dark-red{
    background-color:rgb(139, 0, 0);
}
.bg-dark-yellow{
    background-color:rgb(255, 215, 0);
}
.bg-dark-green{
    background-color:rgb(0, 100, 0);
}
.bg-dark-blue{
    background-color:rgb(0, 0, 139);
}
.bg-dark-gray{
    background-color:rgb(169, 169, 169);
}
.bg-dark-purple{
    background-color:rgb(128, 0, 128);
}
.bg-dark-orange{
    background-color:rgb(255, 69, 0);
}
.bg-dark-brown{
    background-color:rgb(165, 42, 42);
}
.bg-dark-pink{
    background-color:rgb(255, 182, 193);
}
.bg-dark-lime{
    background-color:rgb(144, 238, 144);
}
.bg-dark-maroon{
    background-color:rgb(255, 182, 193);
}
.bg-dark-navy{
    background-color:rgb(173, 216, 230);
}
.bg-dark-teal{
    background-color:rgb(0, 255, 255);
}
.bg-dark-olive{
    background-color:rgb(255, 255, 224);
}
.bg-dark-silver{
    background-color:rgb(211, 211, 211);
}
.bg-dark-gold{
    background-color:rgb(255, 215, 0);
}
.bg-dark-fuchsia{
    background-color:rgb(255, 182, 193);
}
.bg-dark-aqua{
    background-color:rgb(0, 255, 255);
}
.bg-dark-limegreen{
    background-color:rgb(50, 205, 50);
}
.bg-dark-lightblue{
    background-color:rgb(173, 216, 230);
}
.bg-dark-lightgray{
    background-color:rgb(211, 211, 211);
}
.bg-dark-lightgreen{
    background-color:rgb(144, 238, 144);
}
.bg-dark-lightyellow{
    background-color:rgb(255, 255, 224);
}
.bg-dark-lightred{
    background-color:rgb(255, 182, 193);
}
.bg-dark-lightpurple{
    background-color:rgb(221, 160, 221);
}
.bg-dark-lightorange{
    background-color:rgb(255, 182, 193);
}
.bg-dark-lightbrown{
    background-color:rgb(245, 222, 179);
}
.bg-dark-lightgray{
    background-color:rgb(245, 245, 245);
}
.bg-dark-lightpink{
    background-color:rgb(255, 182, 193);
}
.bg-dark-lightlime{
    background-color:rgb(144, 238, 144);
}
.bg-dark-lightmaroon{
    background-color:rgb(255, 182, 193);
}
.bg-dark-lightnavy{
    background-color:rgb(173, 216, 230);
}
.bg-dark-lightteal{
    background-color:rgb(0, 255, 255);
}
.bg-dark-lightolive{
    background-color:rgb(255, 255, 224);
}
.bg-dark-lightsilver{
    background-color:rgb(211, 211, 211);
}
.bg-dark-lightgold{
    background-color:rgb(255, 215, 0);
}
.bg-dark-lightfuchsia{
    background-color:rgb(255, 182, 193);
}
.bg-dark-lightaqua{
    background-color:rgb(0, 255, 255);
}
