
.tab_wrapper {
    margin: 10px 0 50px;
    display: inline-block;
    width: 100%;
    /* position: relative; */
  }

  .tab_wrapper > ul {
    clear: both;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #7b809a;
  }

  .tab_wrapper > ul li {
    float: left;
    cursor: pointer;
    font-weight: bold;
    /* padding: 8px 18px; */
    padding: 3px 10px;
    /* text-transform: uppercase; */
    border: 1px solid #ccc;
    /* font-size: 1.05em; */
    font-size: 12px;
    border-bottom: 0;
    /* position: relative; */
    /* border-top: 3px solid #ccc; */
    color: #7b809a;
    margin: 0 3px 0 0;
    border-top-left-radius:7px !important;
    background-color:#ffff;
    border-color:#7b809a;
  }

  .tab_wrapper > ul li.active {
    border-color: #7b809a;
    color: #ffff;
    background-color:#7b809a;
    border-bottom:1 !important;
  }

  .tab_wrapper > ul li.active:after {
    content: "";
    position: absolute;
    bottom: -1px;
    height: 1px;
    left: 0;
    background: #fff;
    width: 100%;
  }

  .tab_wrapper .controller {
    display: block;
    overflow: hidden;
    clear: both;
    position: absolute;
    top: 0;
    right: 0;
  }

  .tab_wrapper .controller span {
    padding: 8px 22px;
    background: #21a4f1;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
  }

  .tab_wrapper .controller span.next {
    float: right;
    margin-left: 10px;
  }

  .tab_wrapper .content_wrapper {
    float: left;
    width: 100%;
    /* border: 1px solid #21a4f1; */
    border-top: 0;
    box-sizing: border-box;
  }

  .tab_wrapper .content_wrapper .tab_content {
    display: none;
    /* padding: 15px 20px; */
  }

  .tab_wrapper .content_wrapper .tab_content.active { /* display: block; */
  }

  .tab_wrapper .content_wrapper .tab_content .error { color: red; }

  .tab_wrapper .content_wrapper .accordian_header {
    display: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    position: relative;
    cursor: pointer;
  }

  .tab_wrapper .content_wrapper .accordian_header.active {
    color: #21a4f1;
    border-bottom: 1px solid #ccc;
  }

  .tab_wrapper .content_wrapper .accordian_header.active:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 5px;
    height: 100%;
    background: #21a4f1;
  }

  .tab_wrapper .content_wrapper .accordian_header .arrow {
    float: right;
    display: inline-block;
    width: 12px;
    height: 12px;
    position: relative;
    border-radius: 2px;
    transform: rotate(-135deg);
    background: #fff;
    border-top: 3px solid #ccc;
    border-left: 3px solid #ccc;/* &:after{
        position: absolute;
        top: 0;
        content: "";
        left: 0;
        width: 10px;
        height: 10px;
        background: $white;
        border-top: 3px solid $border_color;
        border-left: 3px solid $border_color;
    } */
  }

  .tab_wrapper .content_wrapper .accordian_header.active .arrow {
    transform: rotate(45deg);
    margin-top: 5px;
    border-top: 3px solid #21a4f1;
    border-left: 3px solid #21a4f1;
  }

  .tab_wrapper.left_side > ul {
    width: 25%;
    float: left;
    border-bottom: 1px solid #ccc;
  }

  .tab_wrapper.left_side > ul li {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 12px 18px;
    border-width: 1px;
    border-right: 0;
    border-left: 0;
  }

  .tab_wrapper.left_side > ul li:after {
    left: 0;
    top: 0;
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background: #ccc;
  }

  .tab_wrapper.left_side > ul li.active { border-color: #ccc; }

  .tab_wrapper.left_side > ul li.active:after {
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background: #21a4f1;
  }

  .tab_wrapper.left_side > ul li.active:before {
    right: -1px;
    position: absolute;
    top: 0;
    content: "";
    width: 2px;
    height: 100%;
    background: #fff;
  }

  .tab_wrapper.left_side .content_wrapper {
    width: 75%;
    border: 1px solid #ccc;
    float: left;
  }

  .tab_wrapper.left_side .controller { top: -50px; }

  .tab_wrapper.right_side > ul {
    width: 25%;
    float: right;
    border-bottom: 1px solid #ccc;
  }

  .tab_wrapper.right_side > ul li {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 12px 18px;
    border-width: 1px;
    border-right: 0;
    border-left: 0;
    text-align: right;
  }

  .tab_wrapper.right_side > ul li:after {
    right: 0;
    left: inherit;
    top: 0;
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background: #ccc;
  }

  .tab_wrapper.right_side > ul li.active { border-color: #ccc; }

  .tab_wrapper.right_side > ul li.active:after {
    right: 0;
    left: inherit;
    top: 0;
    width: 5px;
    height: 100%;
    content: "";
    background: #21a4f1;
  }

  .tab_wrapper.right_side > ul li.active:before {
    left: -2px;
    right: inherit;
    position: absolute;
    top: 0;
    content: "";
    width: 2px;
    height: 100%;
    background: #fff;
  }

  .tab_wrapper.right_side .content_wrapper {
    width: 75%;
    float: left;
    border: 1px solid #ccc;
  }

  .tab_wrapper.right_side .controller { top: -50px; }

  .tab_wrapper.accordion .content_wrapper { border-color: #ccc; }

  .tab_wrapper.accordion .content_wrapper .accordian_header { display: block; }

  .tab_wrapper.accordion > ul { display: none; }
   @media only screen and (max-width: 736px) {

  .tab_wrapper > ul { display: none; }

  .tab_wrapper .content_wrapper { border: 0; }

  .tab_wrapper .content_wrapper .accordian_header { display: block; }

  .tab_wrapper.left_side .content_wrapper, .tab_wrapper.right_side .content_wrapper {
    width: 100%;
    border-top: 0;
  }

  .tab_wrapper .controller { display: none; }
  }

  /*# sourceMappingURL=style.css.map */

  .tab_list{
    list-style: none;
  }
