.ns_left_container{
    /* min-height:298px; */
    min-height: 44vh;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius:8px;
    padding: 12px !important;
    padding-top:10px;
    margin-bottom:14px !important;
    color:#303030 !important;
}
.ns_main_search{
    /* min-height:70px; */
    min-height: 10vh;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius:8px;
    padding-top:15px !important;
}
.ns_main_patients_container{
    /* height:530px; */
    height: 80vh;
    position: relative;
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius:8px;
    margin-top:10px !important;
    background: url('images/nsbg3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.bottom-border-text{
    border:none !important;
    border-bottom:1px solid rgb(160, 160, 160) !important;
    box-shadow:none;
}
.select2{
    border:none !important;
    font-size:11px !important;
}
label{
    font-size:11px;
}
.nav-tabs{
    margin-top:10px !important;
}

.btn_refresh_dashboard{
    width:30px;
    height:30px;
    font-size:11px;
}
.text-right{
    text-align:right !important;
}

.ns_patient_container{
    border: 1px solid #e5e5e5;
    border-radius:8px;
    margin:10px !important;
    padding:10px !important;
    cursor: pointer;
    color:#686868 !important;
    box-shadow: 1px 2px 11px 0px rgba(10,60,181,0.22);
    -webkit-box-shadow: 1px 2px 11px 0px rgba(10,60,181,0.22);
    -moz-box-shadow: 1px 2px 11px 0px rgba(10,60,181,0.22);
    background:rgba(255,255,255,0.3);
}
.ns_patient_container_main{
    width: 23% !important;
    margin-right: 17px;
}
.ns_patient_container_sub{
    padding-left: 11px !important;
    margin-top:-5px !important;
    cursor: pointer;
    color:#686868 !important;
    font-size:10px !important;
    font-weight:600 !important;
}
.room_label{
    border: 1px solid #e5e5e5;
    border-radius:5px;
    text-align: center !important;
    padding-top :2px !important;
}

.ns_patient_container:hover{
    transform: translateY(-3px);
    background-color: rgba(0,100,0,0.02);
}

.ns_patient_container .btn{
    width: 22px !important;
    height: 22px !important;
    padding: 0px !important;
    float:right !important;
    -webkit-box-shadow: 1px 1px 2px 1px rgba(219,219,219,1);
    -moz-box-shadow: 1px 1px 2px 1px rgba(219,219,219,1);
    box-shadow: 1px 1px 2px 1px rgba(219,219,219,1);
}
.ns_patient_container .btn:hover{
    --bs-gutter-x:1.5rem !important;
}

.ns_patient_container .fa{
    font-size:11px !important;
    float:right !important;
    margin:5px !important;
}
.ns_patient_container label{
    font-weight:600!important;
    font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
    font-size:10.5px;
}
.ns_patient_container .col-md-12{
    margin-top:-5px !important;
}
.ns_patient_continer:hover{
    color:red !important;
}
.right_col{
   background-color:#f1f5fc !important;
   /* background-color:#ffffff !important; */
}
.name-label{
    font-size:13px !important;
    color:rgb(0, 128, 167) !important;
    text-transform: capitalize;
    height: 18px !important;
    overflow: hidden !important;
}
.table_bed_occupancy_count{
    width:100%;
}
.table_bed_occupancy_count tr{
    height:30px !important;
    font-size:10px !important;
    font-weight: 600 !important;
    color:#303030 !important;
}
#ns_station_list{
    font-size:10px !important;
    font-weight:600 !important;
}
.ns_dashboard-text{
    height: 35px !important;
    box-shadow: none;
    border: 0px;
    border-bottom: 2px solid #00ccff;
    border-radius: 3px;
    border-color: #00ccff;
    margin-top: 2px !important;
    font-size: 14px !important;
    padding-left: 10px !important;
    color: #00ccff !important;
}
.doctor-label{
    max-width: 130px;
    overflow: hidden !important;
    height: 20px;
    margin-top: 2px !important;
}
.select2-search {
    color:#939393;
    font-size: 13px !important;
}
.select2-chosen {color:#939393;
    font-size: 13px !important;
}
.select.form-control{
    font-size: 13px !important;
}

.bg-linear-blue-gradient{
background: #396afc;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* .bg-linear-blue-gradient{
    background-color: #ffffff;
    background-image: linear-gradient(to right, rgba(0, 158, 251, 0.80), #ffffff);
} */
.bg-custom-blue{
    color:#21A4F1 !important;
    border-color:#b9e5ff !important;
    -webkit-box-shadow: 2px 2px 13px 0px rgba(168,218,250,1);
-moz-box-shadow: 2px 2px 13px 0px rgba(168,218,250,1);
box-shadow: 2px 2px 13px 0px rgba(168,218,250,1);
}
.table_bed_occupancy_count td{
    color:#21A4F1 !important;
}
.table_bed_occupancy_count .badge-ready{
    background-color: #00a160 !important;
    color: #ffff !important;
}
.table_bed_occupancy_count .badge-reserved{
    background-color: #8d6911 !important;
    color: #ffff !important;
}
.table_bed_occupancy_count .badge-occupied{
    background-color: #c76000 !important;
    color: #ffff !important;
}
.table_bed_occupancy_count .badge-vacant{
    background-color: #8c8c8c !important;
    color: #ffff !important;
}
.table_bed_occupancy_count .badge-blocked{
    background-color: #ae3a3a !important;
    color: #ffff !important;
}
.table_bed_occupancy_count .badge-total{
    background-color: orange !important;
    color: #000 !important;
}

.ns_patient_container_sub label{
    font-weight:600;
}

#room_type{
    margin-top: 4px !important;
    height:34px !important;
}

.popover{
    min-width:300px;
}

#collapse_to_do_list{
    display: none;
}
#modal_add_to_do_content{
    height: 450px;
    z-index: 999 !important;
}
.to-do-input{
    height:70px !important;
}
#to_do_description{
    border-radius: 3px !important;
    height:90px !important;
}

.ajaxSearchBox{
    z-index: 99999 !important;
    background-color: #fdfdfd;
}
.ajaxSearchBox>li{
    font-size:11px !important;
}
.liHover{
    background: #2190f8 !important;
    color:white !important;
}

#to_do_patient_uhid{
    height: 33px !important;
    border-radius: 3px;
}

.to-do-left-top{
    text-align: right;
    font-size: 10.5px;
    font-weight: 600;
    color:#686868 !important;
}
.to-do-list-toolbar{
    padding: 2px !important;
    background-color: aliceblue;
    padding-top: 6px !important;
    margin-bottom: 10px !important;
}
.to-do-description{
    font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
    font-weight: 600!important;
    font-size:10.5px !important;
    color:#686868 !important;
}
.to_do_list_content{
    position:absolute;
    height:227px;
}
.text-left{
    text-align:left !important;
}
.text-right{
    text-align:right !important;
}
.btn-update-to-do{
    font-size:8px !important;
    float: right !important;
    margin-left:5px !important;
}
.to_do_content_list{
    margin-top:6px !important;
    border-bottom: 1px solid rgb(227, 227, 227) !important;
}
.to_do_label{
    font-weight: 600 !important;
    color:#525252 !important;
}
.to-do-select-patient-container{
    z-index: 1053 !important;
}
.round-btn{
    font-size:11px !important;
    padding: 3px !important;
    width: 25px !important;
    border-radius: 50px !important;
}
.round-btn-sm{
    font-size: 10px !important;
    padding: 1px !important;
    width: 18px !important;
    border-radius: 50px !important;
    box-shadow: 1px 1px 2px 0px rgba(100,92,92,0.75);
    -webkit-box-shadow: 1px 1px 2px 0px rgba(100,92,92,0.75);
    -moz-box-shadow: 1px 1px 2px 0px rgba(100,92,92,0.75);
}

.left_side_span >i{
    font-size:16px !important;
}

.casuality_patient_container{
    border: 1px solid #36a693;
    background: rgba(255,255,255,1);
}
.ns_casuality_patient_container{
    background: #caebdf;
}

.btn-group>.btn.active {
    z-index: 2;
    background: #22c3e3 !important;
}


#prescription-history-data-list .pagination,
#investigation-history-data-list .pagination {
    margin: 15px 0 !important;
}