.right_col{
    padding: 10px 5px !important;
    background: #edeff2 !important;
}

.ip_op_list_div {
    height: 98vh;
    display: flex;
}

.list_item_name {
    width: 160px;
    font-size: 11px;
}

.list_item_uhid {
    font-size: 11px;
}

tr.ip_op_list_item:hover {
    /* color: aqua; */
    transform: scale(1.05);
}

/* Tabs */
.tabs {
    width: 100%;
    border-radius: 10px 2px 10px 2px;
    height: 90%;
    border: 1px solid #1f9ee83b;
    box-shadow: 10px 10px 10px rgb(199 199 199 / 50%);
}

ul#tabs-nav {
    list-style: none;
    margin: 0;
    padding: 5px;
    overflow: auto;
}

ul#tabs-nav li {
    float: left;
    font-weight: bold;
    margin-right: 2px;
    padding: 3px 5px;
    border-radius: 5px 2px 5px 2px;
    /*border: 1px solid #d5d5de;
    border-bottom: none;*/
    cursor: pointer;
    text-align: center;
    width: 30px;
}

ul#tabs-nav li:hover,
ul#tabs-nav li.active {
    background-color: #21a4f1;
}

ul#tabs-nav li.active a {
    color: #fff;
}

#tabs-nav li a {
    text-decoration: none;
    color: #21a4f1;
}

.tab-content {
    background-color: #FFF;
}

.ip_op_list_item {
    border-bottom: 1px solid #21a4f1;
    border-top: 1px solid #21a4f1;
    cursor: pointer;
}

.ip_op_list_item>td {
    padding: 5px 0px !important;
}

.hover_btn {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    /* outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px; */
    text-shadow: none;
    /* transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1); */
}

.hover_btn:hover {
    border: 1px solid #bf6e2d;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    /* outline-color: rgba(255, 255, 255, 0); */
    /* outline-offset: 15px; */
}

.hover_btn:hover a {
    color: #fff;
}

.list_item_token_div {
    background: #ffffff;
    border: 1px dotted #21a4f1;
    border-radius: 15px;
    color: black;
    width: 25px;
    text-align: center;
    height: 25px;
    font-weight: 600;
    margin-top: 5px;
    line-height: 1.8;
}

.list_item_tokenunseen_div {
    background: #21a4f1;
    border: 1px dotted #21a4f1;
    border-radius: 15px;
    color: white;
    width: 25px;
    text-align: center;
    height: 25px;
    font-weight: 600;
    margin-top: 5px;
    line-height: 1.8;
}

.list_item_tokenseen_div {
    background: #f3efec;
    border: 1px dotted #21a4f1;
    border-radius: 15px;
    color: black;
    width: 25px;
    text-align: center;
    height: 25px;
    font-weight: 600;
    margin-top: 5px;
    line-height: 1.8;
}

.patient_details_div {
    height:600px !important;
    background: #edeff2 !important;
    padding:10px !important;

}

.patient_details_inner_div {
    /* border: 1px solid #1f9ee83b; */
    border-radius: 10px 2px;
    padding:5px !important;
    padding-left:10px !important;
    background-color: white !important;
    /* box-shadow: 10px 10px 10px rgb(199 199 199 / 50%); */
    /* background: #f7f7f7; */


}

.blink_me {
    animation: blinker 1s linear infinite;
    color: red;
}

.vital_list_table_body tr td{
    text-align: center !important;
}


.left_side_tools_container1 {
    height: 200px;
    /* border: 1px solid #1f9ee83b; */
    border-radius: 10px 2px;
    background-color: white !important;
    /* background: #f7f7f7; */
    /* box-shadow: 10px 10px 10px rgb(199 199 199 / 50%); */
    margin-top: 6px;
    width: 85% !important;
}

.left_side_tools_container2 {
    height:320px;
    /* border: 1px solid #1f9ee83b; */
    border-radius: 10px 2px;
    background-color: white !important;
    /* background: #f7f7f7; */
    /* box-shadow: 10px 10px 10px rgb(199 199 199 / 50%); */
    margin-top: 6px;
    width: 85% !important;
}

.patient_demographics_container {
    height: 526px;
    /* border: 1px solid #1f9ee83b; */
    border-radius: 10px 2px;
    background: white;
    /* box-shadow: 10px 10px 10px rgb(199 199 199 / 50%); */
    margin-top: 6px;
    margin-left: 2px;
    margin-right: -4px;
}

.expanding_button {
    /* background-color: #21a4f1; */
    background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
    color: white;
    text-decoration: none;
    border-radius: 10px 2px;
    height: 31px;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    width: auto;
    max-width: 30px;
    -webkit-transition: max-width 0.5s;
    transition: max-width 0.5s;
    position: relative;
    z-index: 10;
    margin-top: 4px;
    margin-left: 5px;
    /* border: 1px solid #21a4f1; */
    cursor: pointer;
}


.expanding_button:hover {
    max-width: 300px;
    color: white !important;
    background-color: #21a4f1;
}

.expanding_button_icon {
    font-family: "Font Awesome 5 Free";
    font-size: 11px;
    margin-right: 15px;
    padding: 0px 8px;
    display: flex;
    align-items: center;
}

.expanding_button_icon i {
    color: white;
}

/* .expanding_button_icon:hover>i {
    color: #fff;
  } */

.expanding_button_text {
    white-space: nowrap;
    padding-right: 15px;
}

.allergy_and_notes_div {
    height: 230px;
}

.vital_item>td {
    padding: 3px 0px !important;
}

.vital_icon {
    text-align: center;
}


.visit_details_div {
    height: 596px;
    background: white;
    margin-top: 10px;
    border-radius:8px !important;
}

.visit_details_inner_div {
    height:92% !important;
    /* border: 1px solid #1f9ee83b; */
    border-radius: 10px 2px;
    /* box-shadow: 10px 10px 10px rgb(199 199 199 / 50%); */
}

.tableRowHead {
    background: #21a4f1;
    color: white;
}

/* .visit_details_inner_div:hover{
    transform: scale(1.05);
  } */

.allergy_list{
    position: absolute;
    height: 80px !important;
    width:96% !important;
}

.allergic_item {
    font-size: 10px;
    padding-left: 9px !important;
}

.vital_item {
    font-size: 12px;
}

.table_box {
    border: 1px solid #1f9ee83b;
    border-radius: 10px 2px;
    background: white;
}

.form-control {
    opacity: 1 !important;
}

.notes_entering_area {
    margin-top: 5px;
    height: 245px;
}

.bookmarked_notes_area {
    margin-top: 10px;
    height: 290px;
}

.patient_history_container {
    margin-top: 5px;
    height: 546px;
}

.prescription_entering_area {
    margin-top: 5px;
    height: 400px;
}

.advice_on_prescription_area {
    margin-top: 10px;
    height: 100px;
}

.prescription_chief_complaint_container {
    margin-top: 5px;
    height: 100px;
}

.prescription_history_container {
    margin-top: 5px;
    height: 400px;
}

.investigation_entering_area {
    margin-top: 5px;
    height: 400px;
}

.advice_on_investigation_area {
    margin-top: 10px;
    height: 100px;
}

.investigation_chief_complaint_container {
    margin-top: 5px;
    height: 100px;
}

.investigation_history_container {
    margin-top: 5px;
    height: 400px;
}

.investigation_remarks {
    height: 100px;
}

.investigation_clinical_history {
    height: 100px;
}

.investigation_remarks_area {
    margin-top: 5px;
}

.investigation_clinical_history_textarea {
    height: 65px !important;
}


.investigation_remarks_textarea {
    height: 65px !important;
}


/* tree view structure design */

ul.investigation_group_tree {
    margin: 0;
    padding-left: 25px;
    line-height: 2em;
    list-style: none;
    background-color: #fff;
}

ul.investigation_group_tree li {
    position: relative;
}

ul.investigation_group_tree li:before {
    position: absolute;
    top: 0;
    left: -15px;
    display: block;
    width: 15px;
    height: 1em;
    content: "";
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

/* hide the vertical line on the first item */
ul.investigation_group_tree>li:first-child:before {
    border-left: none;
}

ul.investigation_group_tree li:after {
    position: absolute;
    top: 1.1em;
    bottom: 1px;
    left: -15px;
    display: block;
    content: "";
    border-left: 1px solid #ccc;
}

/* hide the lines on the last item */
ul.investigation_group_tree li:last-child:after {
    display: none;
}

/* inserted via JS  */
.js-toggle-icon {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 14px;
    margin-right: 2px;
    margin-left: -23px;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
    background-color: #a9bf2d;
    border: 1px solid #808080;
    border-radius: 2px;
    color: #FFF;
    font-weight: 600;
}

.bg_brown {
    background: #21a4f1;
}

.bg_brown.active {
    background: #137ab7;
}

.text_field {
    color: white !important;
}

.investigation_tree_area {
    margin-top: 10px;
    height: 210px;
    border: 1px dotted #9a9a9a;
}

.investigation_selected_area {
    margin-top: 5px;
    height: 90px;
    border: 1px dotted #9a9a9a;
}

.investigation_selected_area table>tr>td {
    font-size: 12px !important;
}

.chief_complaint_div {
    height: 65px;

}

.chief_complaint {
    line-height: 1.3;
}

.border_dashed_bottom {
    border-bottom: 1px dashed #1f9ee83b;
}

.investigation_history_item {
    border-bottom: 1px dotted #000;
    margin-bottom: 5px;
}

.investigation_history_div {
    height: 365px;
}

.tree_checkbox {
    margin: 5px 0px 0px 4px !important;
}

.prescription_advice_textarea {
    height: 65px !important;
}

.checkbox_serial {
    margin-left: 10px !important;
}

.prescription_history_div {
    height: 325px;
}

.presc_history_head {
    border-bottom: 1px dashed;
}

.presc_history_head_left {
    cursor: pointer;
    width: 77%;
}


.prescription_list {
    /* display: none; */
    margin-bottom: 10px;
}

.copyBtn {
    cursor: pointer;
    border: 1px dotted #b5b2b2;
    padding: 1px;
    border-radius: 2px;
    background: #cdff68;
    margin-right: 2px;
}

.editBtn {
    cursor: pointer;
    border: 1px dotted #b5b2b2;
    padding: 1px;
    border-radius: 2px;
    background: #ffd661;
    margin-right: 2px;
}

.deleteBtn {
    cursor: pointer;
    border: 1px dotted #b5b2b2;
    padding: 1px;
    border-radius: 2px;
    background: #ff9664;

}

.applyBtn {
    cursor: pointer;
    border: 1px dotted #b5b2b2;
    padding: 1px;
    border-radius: 2px;
    background: #cdff68;
    margin-right: 2px;

}

.prescription_history_item {
    margin-bottom: 10px;
}


.invest_history_head {
    border-bottom: 1px dashed;
}

.invest_history_head_left {
    cursor: pointer;
    width: 77%;
}


.investigation_list {
    /* display: none; */
    margin-bottom: 10px;
}

.investigation_history_item {
    margin-bottom: 10px;
}


.presc_bookmark_head {
    border-bottom: 1px dashed;
}

.presc_bookmark_head_left {
    cursor: pointer;
    width: 77%;
}


.bookmarks_list {
    /* display: none; */
    margin-bottom: 5px;
    margin-top: 5px;
}


.table-border-radius-top tr:first-child th:first-child {
    border-top-left-radius: 5px;
}

.table-border-radius-top tr:first-child th:last-child {
    border-top-right-radius: 5px;
}

.notes_chief_complaint_textarea,
.doctor_refer_notes {
    height: 210px !important;
}

.bookmarked_notes_item {
    cursor: pointer;
}


.bg-brown {
    background: #21a4f1;
}


.modal_box {
    background: #21a4f1;
    color: #FFFFFF;
}


.btn-brown {
    background: #21a4f1 !important;
    border: 1px solid #ee9b5a !important;
    color: #fff;
}

.brown-border {
    border: 1px solid #21a4f1 !important;
}

.bg-brown.active {
    background: #186fa2 !important;
}

.bg-brown:hover {
    background: #186fa2 !important;
}

.headergroupbg {
    background: #21a4f1 !important;
}


.notes_history_head {
    border-bottom: 1px dashed;
}

.notes_history_head_left {
    cursor: pointer;
    width: 77%;
}


.notes_list {
    /* display: none; */
    margin-bottom: 10px;
}

.notes_history_item {
    margin-bottom: 10px;
}

.selected_investigation_service_name {
    text-align: left !important;
    cursor: pointer;
    width: 90%;
}

.selected_investigation_delete_btn {
    text-align: center;
    cursor: pointer;
}

.borderless_textbox {
    border: none !important;
    border-bottom: 1px solid #21a4f1 !important;
    box-shadow: none;
}

.addNewPrescriptionItemBtn {
    cursor: pointer;
}

.brown {
    color: #21a4f1;
}

.deletePrescriptionItemBtn {
    cursor: pointer;
    margin-top: 5px;

}

/* ecg loader design start */

.ecg_loader_wrapper {
    position: relative;
    background: #fff;
    width: 100%;
    height: 100%;
    /* height: 100vh; */
    overflow: hidden;
}

.ecg_loader_blockcont {
    position: relative;
    top: 50%;
    width: 100%;
}

.checkbox-brown input[type="checkbox"]:checked+label::before,
.checkbox-brown input[type="radio"]:checked+label::before {
    background-color: #21a4f1;
    border-color: #21a4f1;
}

.checkbox-brown input[type="checkbox"]:indeterminate+label::before,
.checkbox-brown input[type="radio"]:indeterminate+label::before {
    background-color: #21a4f1;
    border-color: #21a4f1;
}

.checkbox-brown input[type="checkbox"]:checked+label::after,
.checkbox-brown input[type="radio"]:checked+label::after {
    color: #fff;
}

.radio-brown input[type="radio"]+label::after {
    background-color: #21a4f1;
}

.radio-brown input[type="radio"]:checked+label::before {
    border-color: #21a4f1;
}

.radio-brown input[type="radio"]:checked+label::after {
    background-color: #21a4f1;
}

.ecg_loader_block {
    background: #21a4f1;
    width: 10px;
    height: 10px;
    position: absolute;
    float: left;
    border-radius: 5px;
    transition: all 1s;
    animation: ecg 5s linear infinite;
}

.ecg_loader_block:nth-child(1) {
    animation-delay: 232ms;
}

.ecg_loader_block:nth-child(2) {
    animation-delay: 224ms;
}

.ecg_loader_block:nth-child(3) {
    animation-delay: 216ms;
}

.ecg_loader_block:nth-child(4) {
    animation-delay: 208ms;
}

.ecg_loader_block:nth-child(5) {
    animation-delay: 200ms;
}

.ecg_loader_block:nth-child(6) {
    animation-delay: 192ms;
}

.ecg_loader_block:nth-child(7) {
    animation-delay: 184ms;
}

.ecg_loader_block:nth-child(8) {
    animation-delay: 176ms;
}

.ecg_loader_block:nth-child(9) {
    animation-delay: 168ms;
}

.ecg_loader_block:nth-child(10) {
    animation-delay: 160ms;
}

.ecg_loader_block:nth-child(11) {
    animation-delay: 152ms;
}

.ecg_loader_block:nth-child(12) {
    animation-delay: 144ms;
}

.ecg_loader_block:nth-child(13) {
    animation-delay: 136ms;
}

.ecg_loader_block:nth-child(14) {
    animation-delay: 128ms;
}

.ecg_loader_block:nth-child(15) {
    animation-delay: 120ms;
}

.ecg_loader_block:nth-child(16) {
    animation-delay: 112ms;
}

.ecg_loader_block:nth-child(17) {
    animation-delay: 104ms;
}

.ecg_loader_block:nth-child(18) {
    animation-delay: 96ms;
}

.ecg_loader_block:nth-child(19) {
    animation-delay: 88ms;
}

.ecg_loader_block:nth-child(20) {
    animation-delay: 80ms;
}

.ecg_loader_block:nth-child(21) {
    animation-delay: 72ms;
}

.ecg_loader_block:nth-child(22) {
    animation-delay: 64ms;
}

.ecg_loader_block:nth-child(23) {
    animation-delay: 56ms;
}

.ecg_loader_block:nth-child(24) {
    animation-delay: 48ms;
}

.ecg_loader_block:nth-child(25) {
    animation-delay: 40ms;
}

.ecg_loader_block:nth-child(26) {
    animation-delay: 32ms;
}

.ecg_loader_block:nth-child(27) {
    animation-delay: 24ms;
}

.ecg_loader_block:nth-child(28) {
    animation-delay: 16ms;
}

.ecg_loader_block:nth-child(29) {
    animation-delay: 8ms;
}

.ecg_loader_block:nth-child(30) {}

@keyframes ecg {
    0% {
        left: 0;
    }

    25% {
        left: 25%;
        transform: translate(0, 0);
    }

    50% {
        left: 50%;
        transform: translate(0, 0);
    }

    26%,
    51%,
    76% {
        transform: translate(0, -30px);
    }

    27%,
    52%,
    77% {
        transform: translate(0, 0);
    }

    28%,
    53%,
    78% {
        transform: translate(0, 30px);
    }

    29%,
    54%,
    79% {
        transform: translate(0, 0);
    }

    30%,
    55%,
    80% {
        transform: translate(0, 10px);
    }

    31%,
    56%,
    81% {
        transform: translate(0, 0);
    }

    75% {
        left: 75%;
        transform: translate(0, 0);
    }

    100% {
        left: 100%;
    }
}

/* ecg loader design end */
.addNewItemBtn {
    font-size: 30px;
    color: #21a4f1;
    margin-top: 10%;
    vertical-align: middle;
    cursor: pointer;
}

.text-normal {
    color: #21a4f1;
    font-weight: 600;
}

.notes_history_div {
    height: 465px;
}

strong {
    font-weight: 600;
    font-size: 12px;
    color: #21a4f1;
}

.favourite_btn {
    padding: 5px;
    margin-top: 2px;
    color: #21a4f1;
}

table.smart_table>tr>td> {
    font-size: 12px;
}

.investigation_subtest_list {
    margin-left: 10px;
}

.patientCombinedHistoryTable.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 1px;
    font-size: 12px;
}

/* .bill_converted_class{
    display: none;
} */
.list-medicine-search-data-row-listing {
    text-align: left;
}

.medicine-list-div-row-listing {
    top: 22%;
    right: 10%;
    z-index: 9999;
    position: absolute;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 1px;
    width: 1000px;
}

.active_row_item {
    background: #21a4f1 !important;
    color: white;
    cursor: pointer;
}

.frequency-list-div-row-listing tbody tr:hover {
    background: #21a4f1 !important;
    color: white;
    cursor: pointer;
}

.list-frequency-search-data-row-listing {
    text-align: left;
}

.frequency-list-div-row-listing {
    top: 15%;
    right: 32%;
    z-index: 9999;
    position: absolute;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 1px;
    width: 275px;
    height: 300px;
}

.frequency-list-div-row-listing tbody tr:hover {
    background: #21a4f1 !important;
    color: white;
    cursor: pointer;
}

.direction-list-div-row-listing tbody tr:hover {
    background: #21a4f1 !important;
    color: white;
    cursor: pointer;
}

.list-direction-search-data-row-listing {
    text-align: left;
}

.direction-list-div-row-listing {
    top: 15%;
    right: 10%;
    z-index: 9999;
    position: absolute;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 1px;
    width: 275px;
    height: 300px;
}

.direction-list-div-row-listing tbody tr:hover {
    background: #21a4f1 !important;
    color: white;
    cursor: pointer;
}

.ajaxSearchBox {
    z-index: 1016 !important;
}

.table_header_common {
    background: #21a4f1 !important;
    color: #FFF !important;
}

.close_btn_dialog {
    float: left;
    position: absolute;
    z-index: 99;
    color: #FFF !important;
    background: #f37819;
    right: -8px;
    top: -8px;
    border-radius: 100%;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    font-weight: 600;
    z-index: 99999;
}

.addPrescriptionFavItemBtn {
    margin-top: 5px;
}

.saveButtonDiv {
    position: absolute;
    float: right;
    top: 7px;
    right: 10px;

}

.saveClinicalDataButton {
    background: #21a4f1;
    border: 1px solid #21a4f1;
    border-radius: 5px 2px;
    color: white;
}


.btn-blue {
    background: #21a4f1;
    border: 1px solid #21a4f1;
    border-radius: 5px 2px;
    color: white;
}

.notes_chief_complaint_container textarea {
    height: 210px !important;
    margin-top: 5px;
    border-radius: 10px 2px;
}

.updatePrescriptionBtnDiv {
    display: none;
}

.updatePrescriptionBtn {
    background: #21a4f1;
    border: 1px solid #21a4f1;
    border-radius: 5px 2px;
    color: white;
}

.investigation-list-div {
    display: none;
    min-width: 580px !important;
    margin-top: 60px;
    position: absolute;
    z-index: 9;
    background: white;
}


.close_btn_inv_search {
    position: absolute;
    z-index: 99;
    color: #FFF !important;
    background: #000;
    right: -11px;
    top: -11px;
    border-radius: 100%;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

.addOutsideInvestigationBtn {
    background: #21a4f1;
    color: white;
}

.updateNotesBtn {
    background: #21a4f1;
    border: 1px solid #21a4f1;
    border-radius: 5px 2px;
    color: white;
}


.updateNotesDiv {
    display: none;
    position: absolute;
    top: 1px;
    right: 0px;
}


.emr_box {
    padding: 5px;
    box-shadow: 0px 1px #ccc;
    border: 2px solid #21a4f1;
    border-radius: 10px 2px;
}

.dropdown_div {
    text-align: left;
    list-style: none;
    cursor: pointer;
    max-height: 350px;
    margin: -2px 0px 0px 0px;
    overflow-y: auto;
    z-index: 99999 !important;
    position: absolute;
    display: none;
    background: #ffffff;
    border-radius: 3px;
    margin-top: 0px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}


.dropdown_list {
    display: block;
    padding: 5px 10px 5px 5px;
    color: #000;
    background: #21a4f1;
}


.dropdown_list:hover {
    transform: translateY(-3px);
    background-color: rgba(0, 100, 0, 0.02);
}

.liHover {
    transform: translateY(-3px);
    background-color: rgba(0, 100, 0, 0.02);
}

.btn-blue-sm {
    font-size: 21px;
    color: #21a4f1;
    vertical-align: middle;
    cursor: pointer;
}
.lined{
    display: block;
    margin-top: -1px !important;
    width: 95% !important;
    font-size: 12px;
    line-height: 20px;
    background-image: linear-gradient(#e5e5e5 1px,transparent 0.2px);
    background-size: 100% 20px;
    background-position-y: -2px;
    border: none !important;
    outline: 0;
}


.css-normal-label {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.15rem;
    line-height: 1.25;
    letter-spacing: 0.03333em;
    opacity: 1;
    text-transform: capitalize;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(123, 128, 154);
    font-weight: 600;
}
.css-normal-text {
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.35rem;
    line-height: 1.5;
    letter-spacing: 0.02857em;
    opacity: 1;
    text-transform: capitalize;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(52, 71, 103);
    font-weight: 400;
}
.css-normal-box-shadow{
   box-shadow:rgb(0 0 0 / 10%) 0rem 0.25rem 0.375rem -0.0625rem, rgb(0 0 0 / 6%) 0rem 0.125rem 0.25rem -0.0625rem;
}

.text_head{
    margin:5px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.15rem;
    line-height: 1.25;
    letter-spacing: 0.03333em;
    opacity: 1;
    text-transform: capitalize;
    vertical-align: unset;
    text-decoration: none;
    color: #7b809a;
    font-weight: 600;
}

.btn-bg-orange{
   background:linear-gradient(60deg, #ffa726, #fb8c00);
}
.btn-bg-green{
    background : linear-gradient(60deg, #66bb6a, #43a047);
}
.btn-bg-red{
    background: linear-gradient(60deg, #ef5350, #e53935);
}
.btn-bg-teal{
    background: linear-gradient(60deg, #26c6da, #00acc1);
}

.btn-common-sm{
    color: #7b809a !important;
    font-size:13px !important;
}

.patient_details_info_btn{
    font-size:14px !important;
    float:right !important;
    margin-right:6px !important;
    margin-top: 10px;
    cursor: pointer;

}
.pop-content {
    display:none !important;
    width: 650px !important;
    z-index: 9999999 !important;
    position: absolute;
}

.pop-title {
    display: none;
    color: blue;
    font-size: 15px;
}
.pop-content_additional {
    display: none;
    color: red;
    font-size: 10px;
}
.popover {
    max-width: 1024px;
    z-index: 900000;
}
.popover-content{
    width:900px !important;
}

.popover-content .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 0.8;
    vertical-align: top;
    border-top: 1px solid rgb(250, 250, 250);
}

.small_bounce:hover {
    scale: 1.5 !important;
}
