
* {
	outline: none !important;
}
html, body {
    color: #000;
    font-family: Arial, sans-serif;
}
.img-responsive {
	display: inline-block !important;
}
.no-padding {
	padding: 0 !important;
}
.no-margin {
	margin: 0 !important;
}
.no-border {
    border: 0px !important;
}
.padding_xs{
 padding: 0 2px 0 2px !important;
}
.padding_sm{
 padding: 0 5px 0 5px !important;
}
.pos_rel {
    position: relative;
}
.ht5 {
	height: 5px;
}
.ht10 {
	height: 10px;
}
input[type="radio"]:focus {
	outline: none !important;
}
.radio input[type="radio"]:focus + label::before {
	outline: none !important;
}
.checkbox input[type="checkbox"]:focus + label::before {
 outline: none !important;
}
.table.no-border, .table.no-border td, .table.no-border th {
    border: 0;
}
.table_sm th, .table_sm td {
    font-size: 12px !important;
     padding: 1px 5px!important;
}
.table_sm td span {
    line-height: 18px !important;
}
.table_lg th, .table_lg td {
    padding: 10px 5px !important;
    font-size: 12px;
}
.table_head.tth {
    font-size: 12px !important;
    padding: 1px !important;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
 border: 1px solid #CCC !important;
}

.table-col-bordered>thead>tr>th,
.table-col-bordered>tbody>tr>th,
.table-col-bordered>tfoot>tr>th,
.table-col-bordered>thead>tr>td,
.table-col-bordered>tbody>tr>td,
.table-col-bordered>tfoot>tr>td {
 border-right: 1px solid #CCC !important;
border-top: none;
}

.ps-container > .ps-scrollbar-y-rail {
    z-index: 1100;
}

.codfox_container .radio-primary input[type="radio"]:checked + label::before {
    /*border-color: #76deee !important;*/
    border-color: #337ab7  !important;
}


.codfox_container .radio-primary input[type="radio"]:checked + label::after {
    /*background-color: #76deee !important;*/
    background-color: #337ab7 !important;
}

.codfox_container .checkbox-primary input[type="checkbox"]:checked + label::before, .checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
}
.codfox_container .checkbox-primary input[type="checkbox"]:checked + label::after, .codfox_container .checkbox-primary input[type="radio"]:checked + label::after {
    color: #337ab7;
}

@font-face {
    font-family: 'poppinsbold';
    src: url('fonts/poppins-bold-webfont.woff2') format('woff2'),
    url('fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'poppinslight';
    src: url('fonts/poppins-light-webfont.woff2') format('woff2'),
    url('fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'poppinsmedium';
    src: url('fonts/poppins-medium-webfont.woff2') format('woff2'),
    url('fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'poppinsregular';
    src: url('fonts/poppins-regular-webfont.woff2') format('woff2'),
    url('fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.no_bg {
    background: none !important;
}

/*adminlte box style starts here*/

label {
    font-size: 12px;
    font-weight: 400;
}
div.box {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 3px;
    border-top: 3px solid #d2d6de;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    height: auto !important;
    overflow: visible !important;
    padding: 0px !important;
}
.box-body {
    padding: 2px !important;
    border-radius: 0;
    border: 1px solid #ddd !important;
    background-color: #FFF;
}


/*adminlte box style ends here*/

.box-body, .card_body {
    background: #fbfbfb !important;
}

.user_img {
    border: 1px solid #337ab7;
    width: 80px;
}

.delete_row {
    color: #ca2222;
}
.blue_bg  {
    background:lightgrey;
    color:#191818 !important;
}
.dark_blue_bg {
    background: #003e99;
    color: #FFF !important;
}
.cyan_green_bg {
    background: #d4f3f3 !important;
    color: #191818 !important;
}
.cyan_green_bg1 {
    background: #e9f1e9 !important;
    color: #191818 !important;
}
.medium_purple_bg {
    background: #337ab7;
    color: #FFF;
}
.light_purple_bg {
    background: #04b491 !important;
    color: #FFF;
}
.bg-teal-active {
    background-color: #30bbbb !important;
    color: white;
}

.table_header_bg {
    /*background: #dee9e0 !important;*/
    background: #26b99a !important;
    color:#FFF !important;
}
.table_header_bg th{
    color:#FFF !important;
}
.modal-content {
    border-radius: 0 !important;
}
.modal-title {
    font-size: 16px;
}
.modal_header_dark_purple_bg {
    color: #FFF;
    background: #337ab7;
}
.save_btn_bg {
    background: #36A693;
    color: #FFF;
}
.text-red {
    color: #dd4b39 !important;
}
.theadscroll {
    position: relative;
}
.table_header_bg th {
    color: #000000;
    vertical-align: middle !important;
}
.cyan_green_bg th {
    color: #000000;
    vertical-align: middle !important;
}
.dark_blue_bg th {
    background: #003e99 !important;
    color: #FFF;
    vertical-align: middle !important;
}
.grn_btn_group {
        display: flex;
    align-items: center;
    justify-content: center;
}
.grn_btn_group .input-group-btn {
    margin: 0 1px !important;
    flex: 1;
}

.btn {
    font-size: 11px;
    padding: 2px 6px;
}
.add_row_btn {
    font-size: 11px;
    padding: 2px 4px;
    line-height: 12px;
}
.modal-header .close {
    color: #FFF;
    font-size: 30px;
    line-height: 20px;
    opacity: 1;
}
.modal-header-sm {
    padding: 8px;
}
.form-control {
    font-size: 12px !important;
    height: 23px !important;
    padding: 2px !important;
}
select.form-control {
    font-size: 12px !important;
    height: 23px !important;
    padding: 0 !important;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    color: #FFF ;
    background-color: #337ab7 ;
    border-color: #337ab7 ;
}


.pagination > li > a, .pagination > li > span {
    color: #337ab7 ;
    background-color: transparent ;
    border: 1px solid #337ab7 ;
    padding: 3px 12px;
}


/*card style starts here*/

.card {
  float: left;
  width: 100%;
}
.card_title {
  padding: 2px 4px;
  margin: 0;
  font-size: 13px;
  font-weight: 700;

}
.card_body {
  float: left;
  width: 100%;
  padding: 4px;
  border: 1px solid #CCC;
}

/*card style ends here*/


/*tab design style starts here*/
.nav-tabs-custom.blue_theme_tab > .sm_nav.nav-tabs > li.active {
    border-top-color: #FFF;
    margin-bottom: -2px;
}
.nav-tabs-custom.blue_theme_tab .sm_nav li a {
    padding: 2px 2px;
    background: #FFF  !important;
    color: #000 !important;
    font-size: 12px;
    border-radius: 0;
    box-shadow: 0px -2px 6px #c8c8c8;
}
.nav-tabs-custom.blue_theme_tab .sm_nav li.active a{
   color: #FFF !important;
background: #337ab7 !important;
border: none;
box-shadow: none;
}

.nav-tabs-custom.blue_theme_tab .sm_nav  {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.nav-tabs-custom.blue_theme_tab .sm_nav li {
    /*flex: 1;*/
    margin: 0 1px 0 0;
}
.nav-tabs-custom.blue_theme_tab .sm_nav li i {
    position: absolute;
    z-index: 1;
    left: 5px;
    top: 6px;
    font-size: 13px;
    color: #FFF;
    cursor: pointer;
}
.nav-tabs-custom.blue_theme_tab .sm_nav li:first-child {
    /*flex: 1.4;*/
}
.btn-flat {
    border-radius: 0 !important;
}
.view_box {
    display: none;
}
/*tab design style ends here*/



.notes_sec_list li {
    display: block;
    padding: 3px;
    /*background: #dcebed;*/
    margin: 2px 0 0 0 !important;
    cursor: pointer;
    font-size: 12px;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}
.notes_sec_list li i {
color: #337ab7 ;
}
.notes_sec_list li.active {
    /*background:#a8e3eb;*/
    background: #337ab7;
    color: #000;
}
.notes_sec_list li:hover {
    background: #337ab7;
    color: #000;
}
.chekbox_table .radio, .checkbox {
    margin: 0;
}
.note_content {
    display: none;
    height: 297px;
}
.note_content_box {
    padding: 5px;
    border: 1px solid #CCC;
    height: 295px;
    overflow: auto;
}



/*custom checkbox style starts here*/
.select_button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.select_button > li {
    background: #e3e3e3;
    display: inline-block;
    padding: 2px;
    color: #000;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    margin: 0 2px 2px 0;
}
.select_button > li:hover {
  cursor: pointer;
  background: #337ab7;
}
.select_button > li.active {
  background: #337ab7;

}
.select_button > li i{
  background: #d9c6f7;
  display: none;
}
.select_button > li.active i {
    display: inline-block;
    font-size: 15px;
    margin-right: 5px;
    color: #337ab7;
}

/*custom checkbox style ends here*/


/*custom text editor style starts here*/


.custom_note_editor_wrapper {
    float: left;
    width: 100%;
    border-bottom: 1px solid #CCC!important;
    background: #f0f0f0;
    border: 1px solid #CCC;
    padding: 0px 0 10px 0;
}
.text_format_options {
    background: #f0f0f0;
    float: left;
    width: 100%;
    border-bottom: 1px solid #CCC;
    padding: 0;
}
.text_format_options ul li {
    float: left;
    margin: 0;
    padding: 2px 10px;
    border-right: 1px solid #CCC;
    font-size: 12px;
}
.text_format_options ul li:hover {
    background: #337ab7;
    cursor: pointer;
}
.custom_note_editor_wrapper .custom_note_editor {
    width: 100%;
    border: none;
    height: 265px;
     overflow: auto;
    font-size: 12px;
    padding: 3px 7px 2px;
    background: #FFF;
}
/*custom text editor style ends here*/


.badge_purple_bg {
    color: rgb(255, 255, 255);
    background: #337ab7;
}
.partition_line {
    height: 0px;
    background: #f5fcfa;

}
.grn_btn_dropdown {
    position: absolute;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-content: center; */
    right: 5px;
    top: 100%;
    background: #FFF;
    box-shadow: 0 0 6px #CCC;
    /*padding: 5px;*/
     display: none;
    width: 120px;
    z-index: 1100;
}
.grn_btn_dropdown  ul{
    margin: 0px !important;
    padding: 0px !important;
    /* flex: 1; */
}
.grn_btn_dropdown ul li {
    display: block;
    width: 100%;
    float: left;
    margin: 0 0 2px 0;
    padding: 2px 5px;
}
.grn_btn_dropdown ul li:hover {
    background: #F4EDFF;
}
.grn_btn_dropdown ul li a {
    color: #000;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.grn_btn_dropdown ul li button {
    float: left;
    width: 25px;

}
.grn_btn_dropdown ul li span {
    float: left;
    margin: 0 0 0 10px;
    font-size: 12px;
}
.anim {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.preview_container_wrapper.expand {
    width: 298%;
    position: absolute;
    z-index: 1500;
        box-shadow: 0 0 6px #caa8ff;

}
.preview_right_box {
    background: #e8e8e8;
    padding: 20px;
    border: 1px solid #CCC;
}
.preview_div {
    width: 100%;
    border: 1px solid #CCC !important;
    height: 430px;
    overflow: auto;
    font-size: 12px;
    padding: 3px 7px 2px;
    background: #FFF;
    box-shadow: 0 0 8px #aeaeae;
}

.always-visible.ps-container > .ps-scrollbar-x-rail,
.always-visible.ps-container > .ps-scrollbar-y-rail {
  opacity: 0.6 !important;
  z-index: 1001;
}

.prescription_wrapper.expand {
    width: 198%;
    position: absolute;
    z-index: 1500;
        box-shadow: 0 0 6px #caa8ff;
}
.right_wrapper_box.expand {
    width: 200%;
    position: absolute;
    z-index: 1500;
    right: 0;
        box-shadow: 0 0 6px #caa8ff;
}

.checkbox-primary input[type="checkbox"]:indeterminate + label::before,
.checkbox-primary input[type="radio"]:indeterminate + label::before {
  background-color: #FFF !important;
  border-color: #CCC !important;
}


.checkbox-primary input[type="checkbox"]:checked + label::after, .checkbox-primary input[type="radio"]:checked + label::after {
    color: #337ab7  !important;
}

.uom_table .checkbox label {
    padding-left: 0;
}


.uom_table .checkbox {
    padding-left: 12px;
}




.text-bold {
    font-weight: 700 !important;
}
.table_grn_btn_list.table_sm td {
    padding: 1px 1px !important;
}
.grn_btn_group_list .btn {
    border-left: 1px solid #FFF;
}
.grn_btn_group_list .btn span {
    background: #337ab7;
    padding: 2px;
    color: #FFF;
    border-radius: 3px;
}
.grn_btn_group_list .btn:first-child {
    border-left: none;
}
.grn_btn_group_list .btn:hover {
    border-left: 1px solid #FFF !important;
    border-right: 1px solid #FFF !important;
    background: #337ab7 !important;
    color: #FFF;
}
.grn_btn_group_list .btn:hover span{
   background: #337ab7 !important;
   color: #000;
}
.grn_btn_group_list .btn:first-child:hover {
    border-left: none !important;
    border-right: 1px solid #FFF !important;

}
.grn_btn_group_list .btn:last-child:hover {
    border-left: 1px solid #FFF !important;
    border-right: none !important;
    background: #337ab7;
}


.grn_total_table input[type="text"] {
    background: none;
    border: none;
    box-shadow: none;
    color: #ed430b;
}


/*switch button style starts here*/

.switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(5, 143, 143);
}

input:focus + .slider {
  box-shadow: 0 0 1px #337ab7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*switch button style ends here*/
table tbody tr:hover {
    /*color:#045a49;*/
    background-color: #FFF;
}

/* table>tbody>tr>td,table>tbody>tr>td{
    text-align: left!important;
    padding-left: 15px;;
} */

.codfox_container .checkbox-primary input[type="checkbox"]:checked + label::before, .checkbox-primary input[type="radio"]:checked + label::before {
    background-color: #ffffff !important;
    border-color: #337ab7 !important;
}
   .mate-input-box {
          width: 100%;
          position: relative;
          padding: 15px 4px 4px 4px !important;
          border-bottom: 2px solid #01A881;
          box-shadow: 0 0 3px #CCC;
          border-radius: 6px 6px 0 0;
          margin-bottom: 10px;
      }
      .mate-input-box label {
          position: absolute;
          top: 2px;
          left: 6px;
          font-size: 12px;
          font-weight: 700;
      }
      .mate-input-box input.form-control {
          border-radius: ;
          border-bottom: ;
          border: none;
          box-shadow: none;
      }

      .mate-input-box select.form-control {
          border-bottom: none;
          border: none;
          box-shadow: none;
      }
       .mate-input-box textarea.form-control {
          border-bottom: none;
          border: none;
          box-shadow: none;
          height: 80px !important;
          resize: none;
      }
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
    border: 0px !important;
}

#btn-toggle-search{
 float:right;
 font-size:20px;
 color:#E7E7E7 !important;
 margin-right:19px;
 margin-top: 8px;
}

#menu_search{
    background-color: black;
    border-radius: 4px !important;
    height: 35px;
    border: none;
    width: 77%;
    float: right;
    margin-right: 5px;
    padding-left: 15px;
    color:white;
}
