@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?lk6epf');
  src:  url('fonts/icomoon.eot?lk6epf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?lk6epf') format('truetype'),
    url('fonts/icomoon.woff?lk6epf') format('woff'),
    url('fonts/icomoon.svg?lk6epf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-callback:before {
  content: "\e900";
}
.icon-exchange:before {
  content: "\e901";
}
.icon-list-view-icon:before {
  content: "\e902";
}
.icon-card-view-icon:before {
  content: "\e903";
}
.icon-Add-to-Rounding-List:before {
  content: "\e904";
}
.icon-Discharge-Patient:before {
  content: "\e905";
}
.icon-Generate-Link:before {
  content: "\e906";
}
.icon-Home-Dashboard:before {
  content: "\e907";
}
.icon-Organization:before {
  content: "\e908";
}
.icon-date-time-icon:before {
  content: "\e909";
}
.icon-outgoing-call:before {
  content: "\e90a";
}
.icon-received--call:before {
  content: "\e90b";
}
.icon-cross:before {
  content: "\e90c";
}
.icon-ct:before {
  content: "\e90d";
}
.icon-clinical-pathology:before {
  content: "\e90e";
}
.icon-clear_icon:before {
  content: "\e90f";
}
.icon-call_history:before {
  content: "\e910";
}
.icon-clear:before {
  content: "\e911";
}
.icon-calender-edit:before {
  content: "\e912";
}
.icon-biochemistry:before {
  content: "\e913";
}
.icon-angio:before {
  content: "\e914";
}
.icon-basic:before {
  content: "\e915";
}
.icon-user-plus:before {
  content: "\e916";
}
.icon-user-check:before {
  content: "\e917";
}
.icon-x-ray:before {
  content: "\e918";
}
.icon-url:before {
  content: "\e919";
}
.icon-ultra:before {
  content: "\e91a";
}
.icon-tooth:before {
  content: "\e91b";
}
.icon-syringe:before {
  content: "\e91c";
}
.icon-tablet-medicine:before {
  content: "\e91d";
}
.icon-stool:before {
  content: "\e91e";
}
.icon-reset-zoom:before {
  content: "\e91f";
}
.icon-semi-circle:before {
  content: "\e920";
}
.icon-save-btn:before {
  content: "\e921";
}
.icon-reset-camera:before {
  content: "\e922";
}
.icon-refer:before {
  content: "\e923";
}
.icon-not-paid:before {
  content: "\e924";
}
.icon-medicine:before {
  content: "\e925";
}
.icon-out-patient:before {
  content: "\e926";
}
.icon-line:before {
  content: "\e927";
}
.icon-image-upload:before {
  content: "\e928";
}
.icon-hormones:before {
  content: "\e929";
}
.icon-ivf:before {
  content: "\e92a";
}
.icon-custom-save:before {
  content: "\e92b";
}
.icon-in-patient:before {
  content: "\e92c";
}
.icon-clear-records:before {
  content: "\e92d";
}
.icon-reject-chat-request:before {
  content: "\e92e";
}
.icon-accept-chat-request:before {
  content: "\e92f";
}
.icon-audio-call-button:before {
  content: "\e930";
}
.icon-chat-button:before {
  content: "\e931";
}
.icon-collapse-menu:before {
  content: "\e932";
}
.icon-directory-icon:before {
  content: "\e933";
}
.icon-search:before {
  content: "\e934";
}
.icon-video-call-button:before {
  content: "\e935";
}
.icon-admin:before {
  content: "\e936";
}
.icon-appointments:before {
  content: "\e937";
}
.icon-carts:before {
  content: "\e938";
}
.icon-chat-request:before {
  content: "\e939";
}
.icon-clinical:before {
  content: "\e93a";
}
.icon-doctors:before {
  content: "\e93b";
}
.icon-missed-calls:before {
  content: "\e93c";
}
.icon-patients:before {
  content: "\e93d";
}
