.popupDiv {
    position: absolute;
}

.list-group-item:first-child {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;

}

.list-group-item {
    padding: 10px 12px !important;
}

.popDiv {
    display: none;
    /* background: white; */
    border-radius: 2px;
    /* box-shadow: 0px 0px 4px #d0d0d0; */
    padding: 9px;
    position: absolute;
    top: -25px;
    min-width: 162px;
    z-index: 850 !important;
    width: 150px;
    min-height: 104px;
    left: 22px;
}

.popDiv .show {
    display: block;
}

.list-group-item {
    background-color: #ffffff !important;
}

button.close {
    margin: 1px -6px !important;
}

.list-group-item {
    padding: 2px 8px !important;
}

.list-group-item:hover {
    background-color: whitesmoke !important;
}

.pop_closebtn {
    background: #333 none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 0 5px #a2a2a2;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    padding: 2px 6px;
    position: absolute;
    right: -10px;
    top: -4px;
    min-width: 20px;
}

.search_header {
    background: #36A693 !important;
    color: #FFF !important;
}

.close {
    opacity: 1 !important;
    color: black !important;
}

.ps-scrollbar-x-rail {
    left: 11px !important;
}
