/* body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */


/* .nav-tabs-custom.blue_theme_tab .sm_nav li.active a {
    color: #FFF !important;
    background: #36A693 !important;
    border: none;
    box-shadow: none;
    color:#212529;
} */

.nav-tabs-custom.blue_theme_tab .sm_nav li.active a {
    color: #FFF !important;
    background: #0c9e61 !important;
    border: none;
}

.nav-tabs-custom.blue_theme_tab .sm_nav li a {
    color: rgb(56, 52, 52) !important;
    /*background: #36A693 !important;*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border: none;
    box-shadow: none;
    color: #212529;
}

.box-body,
.card_body {
    background: #f9f7fd;
    color: #212529;
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
    min-height: 23px !important;
    border-color: #CCC !important;
}

.select2-container {
    width: 100% !important;
    padding: 0;
}

.select2-container .select2-selection--single {
    height: 23px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin: -4px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 12px !important;
}


/* table tr td span {
    line-height: 24px !important;
} */


/* html, body {
  overflow-y: hidden;
} */

.medicine-list-div {
    position: absolute;
    z-index: 99;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    width: 95%;
}

.close_btn_med_search {
    position: absolute;
    z-index: 99;
    color: #FFF !important;
    background: #000;
    right: -11px;
    top: -1px;
    border-radius: 100%;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

.frequency-list-div {
    position: absolute;
    z-index: 99;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    width: 40%;
}

.close_btn_freq_search {
    position: absolute;
    z-index: 99;
    color: #FFF !important;
    background: #000;
    right: -11px;
    top: -1px;
    border-radius: 100%;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

.purple_pagination.pagination>li>span,
.purple_pagination.pagination>li>a {
    color: #9473c8;
    background-color: transparent;
    border: 1px solid #9473c8;
    padding: 1px 10px !important;
}

.del-presc-list-row {
    cursor: pointer;
}

#medicine-listing-table>tr>td>span {
    line-height: 0px !important;
}

.medicine-list-div-row-listing {
    position: absolute;
    z-index: 99;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    width: 93%;
}


.medicine-list-div-row-listing tbody tr:hover {
    background: #feedc1 !important;
    cursor: pointer;
}

.frequency-list-div-row-listing {
    position: absolute;
    z-index: 99;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    width: 40%;
}

.frequency-list-div-row-listing tr:hover {
    background: #feedc1 !important;
    cursor: pointer;
}

.purple_pagination>li {
    display: inline;
    font-size: 10px;
}

.header-text {
    font-weight: bold;
    font-size: 17px;
}

.nav-tabs.sm_nav.vertical_tab_btn,
.vertical_tab_btn_fav_group {
    display: flex;
    flex-direction: column !important;
}

.vertical_tab_btn {
    border: 1px solid #CCC;
}


.vertical_tab_btn li a,
.vertical_tab_btn_fav_group li a {
    text-align: left;
}

.vertical_tab_btn li,
.vertical_tab_btn_fav_group li {
    width: 100%;
    padding: 2px 0;
    /* border-bottom: 1px solid #CCC; */
}

.custom-text-area {
    width: 99% !important;
    height: 140px !important;
}

.draft-badge {
    display: inline-block;
    min-width: 10px;
    padding: 2px 5px;
    font-size: 10px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.right_wrapper_box .ggg .checkbox {
    width: 32%;
    margin: 0 0 10px 5px;
}

.right_wrapper_box .ggg {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.right_wrapper_box.expand .ggg .checkbox {
    width: 23%;
    margin: 0 0 10px 5px;
}

.text_limit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    max-width: 150px;
}

.modal .select2-container {
    z-index: 4000 !important;
    text-align: left !important;
    font-size: 13px !important;
}

.select2-container {
    text-align: left !important;
    font-size: 13px !important;
    box-shadow: 2px 3px 7px #e4e4e4;
}

.select2-container--open {
    z-index: 4000 !important;
}

.select2-container .select2-selection--single {
    height: auto !important;
    border-radius: 4px !important;
}

.combined_view_date_list li a {
    display: block;
    padding: 3px;
    /*background: #dcebed;*/
    margin: 2px 0 0 0 !important;
    cursor: pointer;
    font-size: 12px;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    color: #000 !important;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.combined_view_date_list li a.active {
    /*background:#a8e3eb;*/
    background: #02c097 !important;
    color: rgb(255, 255, 255) !important;
}

.combined_view_date_list li a.visited {
    /*background:#a8e3eb;*/
    background: #02c097 !important;
    color: rgb(255, 255, 255) !important;
}

.combined_view_date_list li a:hover {
    background: #02c097 !important;
    color: rgb(255, 255, 255) !important;
}

.btn-success.active {
    background-color: rgb(8, 92, 53);
    color: white;
}

.user_patient_img {
    width: 83px;
    /* height: 83px; */
}

.smiley_status {
    position: absolute;
    top: 5px;
    right: 0;
}

.smiley_status img {
    width: 20px;
    height: 20px;
}

.nav-sm .container.body .col-md-3.left_col {
    min-height: 100%;
    width: 70px;
    padding: 0;
    z-index: 1060 !important;
    position: absolute;
}

.table_header_bg_grey {
    background: #DDD !important;
    color: #000 !important;
}

.table_header_bg_grey.tr_highlight {
    background: #02c097 !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 3px !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f2fef5;
}

footer {
    padding: 2px !important;
}

.nav_menu {
    margin-bottom: 5px !important;
}

.bg-seen {
    background-color: #8fe78c !important;
    color: white !important;
}

.bg-not_seen {
    background-color: #db99f5 !important;
    color: white !important;
}

.bg-high_risk {
    background-color: #ffce49 !important;
    color: white !important;
}

.bg-walkin {
    background-color: #ff4995 !important;
    color: white !important;
}

.bg-teal-active {
    background-color: #30bbbb !important;
    color: white !important;
}

body {
    color: black !important;
}

.combined_view_date_list {
    border: 1px solid #CCC;
}

.combined_view_date_list .btn {
    /* box-shadow: 3px 2px 3px #bdbdbd; */
    border-bottom: 1px solid #CCC;
}

.combined_view_date_list .btn:last-child {
    /* box-shadow: 3px 2px 3px #bdbdbd; */
    border-bottom: none;
}

.btn_class>button {
    min-width: 108px;
}

.btn_class>button>span {
    top: 2px;
}

.pill_button {
    padding: 3px;
    min-height: 25px;
    font-size: 11px;
    /* box-shadow: 2px 3px 3px 0px #0000007a; */
}

.pill_button_badge {
    margin: 2px;
}

.user_img {
    border: 1px solid #b9d3f3;
    width: 60px;
}

.smiley_status {
    position: absolute;
    top: 5px;
    right: 12px;
}

.pop-title {
    display: none;
    color: blue;
    font-size: 15px;
}

.pop-content {
    display: none;
    color: red;
    font-size: 10px;
}

.pop-content_additional {
    display: none;
    color: red;
    font-size: 10px;
}

.popover {
    max-width: 1024px;
    z-index: 900000;
}

.patient_list_row:hover {
    cursor: pointer;
    color: blue;
    opacity: 6;
}

.emr_sub {
    margin-bottom: 40px;
    ;
}

.top_margin {
    padding-top: 200px !important;
}

.affix {
    top: 50px;
    position: fixed;
}

.position_fixed_header {
    box-shadow: 0 3px 15px #cecece;
    padding: 10px;
    background: #FFF;
    float: left;
    border-radius: 6px;
    width: 100%;
    position: fixed;
    z-index: auto;
}

.modal {
    z-index: 9999;
}

.header_label_text {
    padding: 10px;
    font-size: 12px;
    /* color: #337ab7; */
    font-weight: 600;
    /* float: left; */
}

.ca_border_bottom {
    /* border-bottom: 1px solid #dfdfdf; */
    padding-bottom: 5px;
}

.notes_box {
    background: white;
}


/* .select_button > li {
    background: #b9d3f3;
    display: inline-block;
    padding: 2px 5px;
    color: #000;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    margin: 0 5px 5px 0;
    box-shadow: 3px 2px 3px #bdbdbd;
} */

.dropdown-menu a {
    display: block;
    padding: 2px 5px;
}

.dropdown-menu a:hover {
    background: #f5f3fa;
}

.table_header_bg {
    color: #fff !important;
    background: #36A693 !important;
    /* background: linear-gradient(to right, #0099cc 0%, #99ccff 100%) !important; */
}

.table_header_bg>th {
    color: white;
    padding: 5px !important;
}

.light_purple_bg {
    background: #f5f5f5 !important;
    color: #111;
    border: 1px solid green;
    /* background:#36A693 !important;
    color: white; */
    font-family: sans-serif;
}

.light_purple_bg:hover {
    background: green !important;
    color: #ffff !important;
    ;
    border: 1px solid green;
    /* background:#36A693 !important;
    color: white; */
    font-family: sans-serif;
}


/*------------nihith design changes---------------------------*/


/* .light_purple_bg {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%) !important;
	background-color:#007dc1 !important;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: sans-serif;
	padding:3px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.light_purple_bg:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%)!important;
	background-color:#0061a7!important;
}
.light_purple_bg:active {
	position:relative;
	top:1px;
}

.save_btn_bg{

}

.save_btn_bg {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%)!important;
	background-color:#89c403 !important;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: sans-serif;
	font-weight:bold;
	padding:3px 12px;
	text-decoration:none;
    text-shadow:0px 1px 0px #528009;
    width: 140px;
    height: 28px;
}
.save_btn_bg:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%)!important;
	background-color:#77a809!important;
}


.select_button > li {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%)!important;
	background-color:#599bb3!important;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:sans-serif;
	font-weight:bold;
	padding:2px 8px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.select_button > li:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%)!important;
	background-color:#408c99!important;
}
.select_button > li:active {
	position:relative;
	top:1px;
}
.select_button > li.active i{
    color: #ffe428;
    background: none;
}
 .box-body, .card_body {
background: #feffff;
background: -moz-linear-gradient(top,  #feffff 0%, #ddf1f9 86%, #cee4ed 100%);
background: -webkit-linear-gradient(top,  #feffff 0%,#ddf1f9 86%,#cee4ed 100%);
background: linear-gradient(to bottom,  #feffff 0%,#ddf1f9 86%,#cee4ed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#cee4ed',GradientType=0 );

}

 .save_btn_bg:active {
	position:relative;
	top:1px;
}

.box-body{
    background-color: white;
    border: none;
    overscroll-behavior-y: contain;
}



.table_header_bg,.modal-title{
    box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%)!important;
	background-color:#33bdef !important;
	border:1px solid #057fd0;
	color:#ffffff;
    text-shadow:0px -1px 0px #5b6178;

}

.nav-tabs-custom.blue_theme_tab .sm_nav li.active a {
    color: rgb(255, 255, 255) !important;
    background: #93c6ea !important;
}

.right_btn_widget ul li button.btn {
    background: #acd5f3 !important;
    color: #000;
} */


/*------------nihith design changes ends---------------------------*/

.form-control {
    font-size: 12px !important;
    height: 22px !important;
    padding: 2px !important;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 2px 3px 7px #e4e4e4;
}

textarea.form-control {
    height: 140px !important;
}

.dropdown-menu a {
    display: block;
    padding: 5px 5px;
    margin: 1.5px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.card_body {
    min-height: 85px;
}

.floating-table-list {
    width: 100%;
    position: absolute;
    display: none;
}

.active-favorite {
    position: absolute;
    background: #FFF;
    z-index: 3660;
    width: 100%;
    box-shadow: 0 0 10px #c1c1c1;
    display: block !important;
}

.assess_input_fav {
    margin: 2px;
    border-radius: 0 !important;
    position: absolute;
    right: 38px;
    bottom: -1px;
    font-size: 11px !important;
}

.assess_input_refresh {
    margin: 2px;
    border-radius: 0 !important;
    position: absolute;
    right: 13px;
    bottom: -1px;
    font-size: 11px !important;
}

.fav_textarea_icon {
    position: absolute;
    right: 16px;
    bottom: 27px;
}

.refresh_textarea_icon {
    position: absolute;
    right: 16px;
    bottom: 1px;
}

.active-favorite {
    position: absolute;
    background: #FFF;
    z-index: 999;
    width: 100%;
    box-shadow: 0 0 10px #c1c1c1;
}

#investigation_clipboard {
    margin: 5px;
    font-size: 10px;
}


/*custom checkbox style starts here*/

.select_button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.select_button>li {
    background: #d7fbf0;
    display: inline-block;
    padding: 5px 10px;
    color: #000;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    margin: 0 5px 5px 0;
    box-shadow: 3px 2px 3px #bdbdbd;
}

.select_button>li:hover {
    cursor: pointer;
    background: #36A693;
    color: #FFF;
}

.select_button>li.active {
    background: #36A693;
    color: #FFF;
}

.select_button>li i {
    background: none;
    display: none;
}

.select_button>li.active i {
    display: inline-block;
    font-size: 15px;
    margin-right: 5px;
    color: #FFF;
    background: none;
}


/*custom checkbox style ends here*/

.position-fixed {
    position: fixed;
}

.route-list-div {
    position: absolute;
    z-index: 99;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    width: 30%;
}

.route-list-div-row-listing {
    position: absolute;
    z-index: 99;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    width: 30%;
}

.close_btn_route_search {
    position: absolute;
    z-index: 99;
    color: #FFF !important;
    background: #000;
    right: -11px;
    top: -1px;
    border-radius: 100%;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

.instruction-list-div {
    position: absolute;
    z-index: 99;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    width: 30%;
    right: 4%;
}

.instruction-list-div-row-listing {
    position: absolute;
    z-index: 99;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    width: 30%;
    right: 30px;
}

.instruction-list-div-row-listing tbody tr:hover {
    background: #feedc1 !important;
    cursor: pointer;
}

.close_btn_instruction_search {
    position: absolute;
    z-index: 99;
    color: #FFF !important;
    background: #000;
    right: -11px;
    top: -1px;
    border-radius: 100%;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

.position-fixed {
    position: fixed;
}

.investigation-list-div {
    position: absolute;
    z-index: 99;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    width: 40%;
}

.close_btn_inv_search {
    position: absolute;
    z-index: 99;
    color: #FFF !important;
    background: #000;
    right: -11px;
    top: -1px;
    border-radius: 100%;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

#investigation_clipboard>div i {
    cursor: pointer;
    color: red;
}

.outside-medicine {
    background-color: #C9D5F3;
}

.bg-primary:hover {
    color: white;
}


/* .combined_theadscroll {
    scroll-behavior: smooth;
} */

html {
    scroll-behavior: smooth;
}

#ListMedicineSearchData tr td {
    cursor: pointer !important;
}

.color-red {
    color: #e60101de;
    font-size: 13px;
}

.favorite-medicine-list-popup {
    position: absolute;
    z-index: 99;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    width: 95%;
    top: 155px;
}

.close_btn_fav_med_search {
    position: absolute;
    z-index: 99;
    color: #FFF !important;
    background: #000;
    right: -11px;
    top: -1px;
    border-radius: 100%;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

.no-padding {
    padding: 0px !important;
}

.combined_view_date_list .list-unstyled {

    list-style: none;
}

.bg_ip_title {
    background-color: #acd5f3;
    color: rgb(0, 0, 0);
}

.btn_ip {
    background: #ffeeca !important;
    color: #000 !important;
}

.current {
    /* color:white !important;
    background-color :#01987a !important; */

    border: 2px solid black !important;
    background-color: white !important;
    color: black !important;
    padding: 14px 28px !important;
    font-size: 16px !important;
    cursor: pointer !important;
    background-color: #04AA6D !important;
    color: white !important;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    position: absolute;
    bottom: -1.6em;
    right: 100%;
    padding: 4px 4px 4px 8px;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    background-color: #36A693;
    box-shadow: 2px 2px #096147;
    border-radius: 3px;
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
}

[data-title] {
    position: relative;
}

.pain_score_img li {
    display: inline-block;
    width: 120px;
}

.pain_score_img li img {
    max-width: 100%;
}

.iv-medicine-list-div {
    position: absolute;
    z-index: 99;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    width: 95%;
}

.iv-instruction-list-div {
    position: absolute;
    z-index: 99;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    width: 30%;
    right: 4%;
}

.iv-instruction-list-div-row-listing {
    position: absolute;
    z-index: 99;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    width: 30%;
}

.close_btn_iv_instruction_search {
    position: absolute;
    z-index: 99;
    color: #FFF !important;
    background: #000;
    right: -11px;
    top: -1px;
    border-radius: 100%;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

#iv-medicine-listing-table>tr>td>span {
    line-height: 0px !important;
}

.iv-medicine-list-div-row-listing {
    position: absolute;
    z-index: 99;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    width: 95%;
}

.iv-rate-list-div {
    position: absolute;
    z-index: 99;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    width: 20%;
    right: 21%;
}

.iv-rate-list-div-row-listing {
    position: absolute;
    z-index: 99;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    width: 20%;
}

.close_btn_iv_rate_search {
    position: absolute;
    z-index: 99;
    color: #FFF !important;
    background: #000;
    right: -11px;
    top: -1px;
    border-radius: 100%;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

.fa-info-circle {
    float: right;
    font-size: 15px;
    margin-top: -23px;
    margin-right: 9px;
    z-index: 9999;
    position: relative;
}

#MedicationTable>tbody>tr>td {
    padding: 8px;
    line-height: 2;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

#IvMedicationTable>tbody>tr>td {
    padding: 8px;
    line-height: 2;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

#FrequencyTable>tbody>tr>td {
    padding: 8px;
    line-height: 2;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

#InstructionTable>tbody>tr>td {
    padding: 8px;
    line-height: 2;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

#IvInstructionTable>tbody>tr>td {
    padding: 8px;
    line-height: 2;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

#IvRateTable>tbody>tr>td {
    padding: 8px;
    line-height: 2;
    vertical-align: top;
    border-top: 1px solid #ddd;
}


/** :hover event; **/

#MedicationTable>tbody>tr:hover {
    background: #87d7ca52;
}

#FrequencyTable>tbody>tr:hover {
    background: #87d7ca52;
}

#IvRateTable>tbody>tr:hover {
    background: #87d7ca52;
}

#RouteTable>tbody>tr:hover {
    background: #87d7ca52;
}

#UserTable>tbody>tr:hover {
    background: #87d7ca52;
}

#fav_groups>tbody>tr:hover {
    background: #87d7ca52;
}

#InstructionTable>tbody>tr:hover {
    background: #87d7ca52;
}

#IvMedicationTable>tbody>tr:hover {
    background: #87d7ca52;
}

#IvInstructionTable>tbody>tr:hover {
    background: #87d7ca52;
}

.admitted_patients_data>tbody>tr:hover {
    font-size: 11px;
    background-color: #c1f1f1;
    color: black;
    font-weight: 600;
    cursor: pointer;
}

#default_nursing_station:hover {
    background-color: rgb(254, 255, 255);
    color: rgb(121, 206, 218);
}

#default_nursing_station {
    background-color: rgb(121, 206, 218);
    color: white;
}

.custom-uploadfile_label {
    width: 241px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid green;
    background: #f9f9f9;
}

.noClick {
    pointer-events: none;
}


/* background: none !important; */


/* background: none !important; */

.badge_new {
    padding: .25rem .375rem;
    font-size: 80%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    float: right;
    margin-right: 4px;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background: white !important;
    color: rgb(37, 36, 36) !important;
    min-width: 44px;
    border: 1px solid green;
    box-shadow: 2px 1px 2px #bdbdbd;
}

.pt_container>table>tbody>tr>td {
    background: #fffdfd;
    color: #555252;
    font-size: 13px;
}

/* .pt>tbody>tr:hover {
    background-color: #e6e4e3;
} */

.patient_det_widget:hover {
    transform: scale(1.05);
    height: 115%;
    z-index: 99999 !important;
}

.favorite-pres-list-popup {
    position: absolute;
    z-index: 99;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    width: 95%;
    top: 110px;
}

#UserTable>tbody>tr>td {
    padding: 8px;
    line-height: 2;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.user-list-div {
    position: absolute;
    z-index: 99;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    width: 95%;
}

.close_btn_user_search {
    position: absolute;
    z-index: 99;
    color: #FFF !important;
    background: #000;
    right: -11px;
    top: -1px;
    border-radius: 100%;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

.fav_investigation_box {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 5px #c0c0c0;
    padding: 10px;
    position: absolute;
    right: 45px;
    width: 530px;
    z-index: 1500;
    display: none;
    /* height: 492px; */
    top: 0px;
}

.show_inv_bookmarks_box {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 5px #c0c0c0;
    padding: 10px;
    position: absolute;
    width: 97%;
    z-index: 1500;
    display: none;
    height: 425px;
    top: 35px;
    left: 10px;
}

.fav_prescription_box {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 5px #c0c0c0;
    padding: 10px;
    position: absolute;
    left: 50px;
    width: 530px;
    z-index: 1500;
    display: none;
    /* height: 492px; */
    top: 0px;
}

.slidedown_close_btn {
    background: #333333 none repeat scroll 0 0;
    border-radius: 100%;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    height: 25px;
    right: -10px;
    line-height: 25px;
    position: absolute;
    text-align: center;
    top: -15px;
    width: 25px;
    z-index: 1500;
}

.prescription_entry_head {
    background-color: #ddfcf1;
}

.favorite-inves-list-popup {
    position: absolute;
    z-index: 99;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    width: 95%;
    top: 110px;
}

.fav-groups-row tbody tr.highlight td {
    background-color: #ccc;
}

div#combined_view_modal table tr td {
    padding: 4px;
    font-size: 12px;
}

.custom-uploadfile_label:hover {
    background: green;
    color: white;
}

.chart_class {
    height: 60px;
    text-align: left;
    margin-top: 8px !important;
    border: 1px solid #d9cccc;
    padding-top: 7px;
    padding-left: 0px;
    height: 75px;
    border-radius: 5px;
    margin: 2px;
}

.close_btn_patient_search {

    position: absolute;
    z-index: 99;
    color: #FFF !important;
    background: #000;
    right: -11px;
    top: -1px;
    border-radius: 100%;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

.patient-list-div {
    position: absolute;
    z-index: 99;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    width: 95%;
}

#PatientTable>tbody>tr:hover {
    background: #87d7ca52;
}

#PatientTable>tbody>tr>td {
    padding: 8px;
    line-height: 2;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.paginate_button>.current {
    font-weight: 700;
}

.pop-content {
    width: 650px !important;
    z-index: 9999999 !important;
    position: absolute;
}

.select-doctor-box {
    text-align: center;
    min-height: 140px;
    box-shadow: 0px 19px 15px #e4e4e4;
    padding: 12px !important;
    border: 1px solid #dcfff6;
    border-radius: 5px;
    cursor: pointer;
    background: white;
}

.select-doctor-box:hover {
    transform: scale(1.1);
    z-index: 1;
    background-color: #e2f0f5;
}

.select-location-box {
    text-align: center;
    min-height: 105px;
    box-shadow: 0px 19px 15px #e4e4e4;
    padding: 12px !important;
    border: 1px solid #dcfff6;
    border-radius: 5px;
    cursor: pointer;
    background: white;
}

.select-location-box:hover {
    transform: scale(1.1);
    z-index: 1;
    background-color: #e2f0f5;
}

.selected_dr_div {
    width: 30px;
    height: 30px;
    border: 1px solid #3bb99a;
    border-radius: 15px;
    position: absolute;
    left: 12px;
    top: 7px;
}


.selected_dr_check {
    color: #3bb99a;
    font-size: 20px;
    margin-top: 5px;
}

.selected_location_check {
    color: #3bb99a;
    font-size: 20px;
    margin-top: 5px;
}

.selected_location_check {
    color: #3bb99a;
    font-size: 20px;
    margin-top: 5px;
}

.selected_dr_icon {
    color: #3bb99a !important;
}

.select_default_dr_icon {
    color: #2b537c;
    height: 50px;
}

.select_dr_name {
    color: #123344;
    font-size: 12px;
}

.select_dr_speciality {
    color: #5fa9a9;
    font-size: 10px;
}

.blink-icon {
    color: #000;
    font-size: 2rem;
    animation: blinkingIcon 1s infinite;
}

@keyframes blinkingIcon {
    0% {
        color: #ef0a1a;
    }

    25% {
        color: #ececec;
    }

    50% {
        color: #ef0a1a;
    }

    75% {
        color: #ececec;
    }

    100% {
        color: #ef0a1a;
    }
}

.lab_graph_icon {
    background-color: cornflowerblue;
    padding: 3px;
    color: white;
    cursor: pointer;
}

.revenue_main_shadow {
    box-shadow: .5px .5px .5px .5px #ebebe1;
    border-radius: 10px;
    border: 2px solid #ebebe1;
}
