html,
body {
  overflow-x: hidden;
}

.full_btn_name {
  display: none;
}
.expand_btn {
  width: 30px;
}
a.expand_btn {
  color: #fff;
}

.ip_op_btn_group {
  position: absolute;
  top: 28%;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  align-items: flex-end;
}
.ip_btn {
  margin: 0 0 5px 0;
  background: #9a309d;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  box-shadow: 0 0 6px #ccc;
}
.ip_btn:hover {
  background: #9a309d;
  color: #fff;
}
.op_btn {
  margin: 0 0 5px 0;
  background: #17b6c2;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  box-shadow: 0 0 6px #ccc;
}
.op_btn:hover {
  background: #1f12d3;
  color: #fff;
}
.slide_box {
  background: #fff;
  position: fixed;
  z-index: 9999;
  top: 8%;
  right: -100%;
  box-shadow: 0 0 6px #ccc;
  width: 800px;
}
.slide_box.open {
  right: 0%;
}
.slide_header {
  float: left;
  width: 100%;
  padding: 5px;
  background: #9473c8;
  color: #fff;
}
.slide_close_btn {
  font-size: 17px;
  line-height: 18px;
  background: #e1d5f4;
  float: right;
  width: 20px;
  height: 24px;
  padding-top: 4px;
  text-align: center;
  border-radius: 100%;
  font-weight: 700;
  cursor: pointer;
  color: #000;
}
.slide_body {
  padding: 10px;
  float: left;
  width: 100%;
}
.slide_header h4 {
  font-size: 15px;
}
