.patient_det_widget {
  float: left;
  width: 100%;
  border: 1px solid #ccc;
}
.patient_det_first_row {
  float: left;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding: 2px;
}
.pat_det_img {
    width: 45px;
    height: 45px;
    position: relative;
    border: 1px solid #ccc;
    padding-top: 5px;
    text-align: center;
    line-height: 40px;
}
.pat_det_img i {
  font-size: 25px;
}
.pat_det_img img {
  position: absolute;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.pat_det_text {
  float: left;
  width: 100%;
  padding: 0 5px;
}
.flag_list ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.flag_list ul li {
  margin: 0 2px;
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  border-radius: 3px;
}
.patient_det_second_row {
  float: left;
  width: 100%;
  padding: 2px;
  border-top: 1px solid #ccc;
}
.patient_det_second_row .pat_no {
  font-size: 12px;
}
.waiting_time {
  float: right;
  padding: 0 8px;
  text-align: right;
  background: #e1d5f4;
  font-size: 10px;
  height: 20px;
  padding-top: 2px;
}

.right_btn_widget {
  float: left;
  width: 100%;
}
.right_btn_widget ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.right_btn_widget ul li {
  margin: 2px;
  width: 48%;
  text-align: center;
  /*border: 1px solid #CCC;*/
  /*background: #E1D5F4 !important;*/
}

.right_btn_widget ul li button.btn {
  background: #e1d5f4 !important;
  color: #000;
  padding: 15px;
  width: 100%;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
.right_btn_widget ul li button.btn:hover {
  background: #dac5fd !important;
}
.right_btn_widget .badge_purple_bg {
  color: #fff;
  background: #9473c8;
}

.right_btn_list li {
  display: flex;
  padding: 3px;
  /* background: #dcebed; */
  margin: 2px 0 0 0 !important;
  cursor: pointer;
  font-size: 12px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: #000;
  text-decoration: none;
}
.right_btn_list li:hover {
  background: #9473c8;
  color: #fff;
}
.right_btn_list li .badge {
  margin: 0 0 0 10px;
}

.token_time{
    background-color: rgb(184, 15, 184);
    color: white;
    padding: 2px;
    font-size: 12px;
    /* margin-left: 6px; */
    border-radius: 2px;
    min-width:45px;
    height:20px;
    text-align: center;
}
