
.roomtype_list {
  float: left;
  width: 100%;
}
.roomtype_list ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.roomtype_list ul li {
	margin: 2px;
	padding: 10px;
	border: 1px solid #CCC;
	width: 48%;
	text-align: center;
}
.roomtype_list .bed_icon {
	font-size: 25px;
	color: #009869;

}
.patient_room_det h4 {
	font-size: 13px;
}
.patient_room_det .room_det {
	font-size: 11px;
	color: #009869;
}

.block_list button {
    padding: 2px;
    font-size: 13px;
}
.block_list h5 {
    font-size: 13px;
}


