body{
    font-size: 14px;
}
.mce-ico{
    font-size :12px !important;
    line-height: 12px !important;
}
 /* preview slider style starts here */
 .slide_box {
    background: #fff;
    position: fixed;
    z-index: 9999;
    top: 15%;
    right: -100%;
    box-shadow: 0 0 6px #ccc;
    width: 800px;
}
.slide_box.open {
    right: 0%;
}
.slide_close_btn {
    font-size: 14px;
    line-height: 18px;
    background: #e1d5f4;
    float: right;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 100%;
    font-weight: 700;
    cursor: pointer;
    color: #000;
}
.slide_body {
    padding: 10px;
    float: left;
    width: 100%;
}
.slide_header {
    float: left;
    width: 100%;
    padding: 5px;
    background: rgb(72, 118, 179);
    color: #fff;
}

/* preview slider style ends here */

.ajaxSearchBox {
    display:none;
    text-align: left;
    list-style: none;
    cursor: pointer;
    max-height: 350px;
    margin: 3px 0px 0px 0px;
    overflow-y: auto;
    width: 250px;
    z-index: 99999;
    position:absolute;
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-family: 'robotoregular';
    font-size:14px;

}
.ajaxSearchBox>li{
    padding:2px 2px 5px 5px;
    font-size: 12px !important;
    font-weight: 700 !important;
    font-family: "robotoregular";
    border-bottom: 1px solid grey;

}

.liHover{
    background: #6dbb8d !important;
    color:white;
    padding:2px 2px 5px 5px;
    font-size: 12px !important;
    font-weight: 400;
    font-family: "sans-serif";
    border-bottom: 1px solid white;
}
.text-blue{
    font-size: 11px;
    font-weight: 600;
}
.date_floatinput,.time_floatinput{
    border-radius: 0px;
    background: none;
    box-shadow:none;
    border:none;
}
#discharge_department{
    border: none;
}

page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
  page[size="A4"] {
    width: 21cm;
    min-height: 29.7cm;
  }
  page[size="A4"][layout="landscape"] {
    width: 29.7cm;
    height: 21cm;
  }
  @media print {
    body, page {
      margin: 0;
      box-shadow: 0;
    }
  }
tr:hover{
    color:black;
    background-color: white;
}
.vendorListHeading:hover{
    background-color: white;
    color:black;
}
p{
    margin-top:-2px;
}
@media print {
    .vendorListHeading{
        background-color: #aaaeb2;
        color:black;
    }
}
