body {
	/*font-family: 'poppinsregular'!important;*/
}
* {
	outline: none !important;
}
.img-responsive {
	display: inline-block !important;
}
.no-padding {
	padding: 0 !important;
}
.no-margin {
	margin: 0 !important;
}
.no-border {
    border: 0px !important;
}
.padding_xs{
 padding: 0 2px 0 2px !important;
}
.padding_sm{
 padding: 0 5px 0 5px !important;
}
.pos_rel {
    position: relative;
}
.ht5 {
	height: 5px;
}
.ht10 {
	height: 10px;
}
input[type="radio"]:focus {
	outline: none !important;
} 
.radio input[type="radio"]:focus + label::before {
	outline: none !important;
}
.checkbox input[type="checkbox"]:focus + label::before {
 outline: none !important;
}
.table.no-border, .table.no-border td, .table.no-border th {
    border: 0;
}
.table_sm th, .table_sm td {
    font-size: 12px !important;
    padding: 2px !important;
}


@font-face {
    font-family: 'poppinsbold';
    src: url('fonts/poppins-bold-webfont.woff2') format('woff2'),
    url('fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'poppinslight';
    src: url('fonts/poppins-light-webfont.woff2') format('woff2'),
    url('fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'poppinsmedium';
    src: url('fonts/poppins-medium-webfont.woff2') format('woff2'),
    url('fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'poppinsregular';
    src: url('fonts/poppins-regular-webfont.woff2') format('woff2'),
    url('fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*adminlte box style starts here*/


.box {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 3px;
    border-top: 3px solid #d2d6de;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    width: 100%;
}
.box-footer {
    padding: 2px;
    border-radius: 0;
    border: 1px solid #ddd;
    background-color: #FFF;
}


/*adminlte box style ends here*/


/*calendar option box style starts here*/
.box.calendar_option_box {
    box-shadow: none;
    border-radius: 6px 6px 0 0 !important;
}
.box.calendar_option_box .box-footer {
    box-shadow: none;
    border-radius: 6px 6px 0 0;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-top: none;
    border-right: none;
}



/*calendar option box style ends here*/




.blue_bg  {
    background: #0087a9;
    color: #FFF !important;
}
.dark_blue_bg {
    background: #003e99;
    color: #FFF !important;
}
.cyan_green_bg {
    background: #00a7be;
    color: #FFF !important;
}
.modal_header_dark_bg {
    color: #FFF;
    background: #000069;
}

.star_rec_heading {
    font-weight: 700;
    color: #FFF;
    font-size: 15px;
    margin: 0 0 0 0;
    background: #000069;
    padding: 5px 10px;
}
.star_rec_heading_sm {
    font-weight: 700;
    color: #0087a9;
    font-size: 14px;
    margin: 0 0 10px 0;
}

.dashboard_blue_table.table-hover>thead>tr:hover {
    background-color: #00a7be;
}

.dashboard_blue_table.table-hover>tbody>tr:hover {
    background-color: #ccf3fb;
}

.btn {
    font-size: 12px;
    padding: 2px 5px;
}
.modal-header .close {
    color: #FFF;
    font-size: 30px;
    line-height: 20px;
    opacity: 1;
}
.modal-header-sm {
    padding: 8px;
}
.form-control {
    font-size: 12px !important;
    height: 23px !important;
}
select.form-control {
    font-size: 12px !important;
    height: 23px !important;
    padding: 0 !important;
}
#manageModal.modal {
    padding-left: 0 !important;
}

/*calendar style starts here*/
#calendar_div {
    padding: 0 0 15px 0;
    border: 1px solid #ddd;
    margin: 0px;
    border-radius: 6px;
}

#calendar_div h1.title{
    clear: both;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    color: #00a7d0;
    margin: 0 0 0 0;
}

#calendar_div #btnprev {
    background: #00a7d0;
    color: #FFF;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: -30px;
}

#calendar_div #btnnext {
    background: #00a7d0;
    color: #FFF;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: -30px;
}
#calendar_div .calendar .cal-title > .working_day {
    font-size: 15px;
    line-height: 26px;
}
#calendar_div .calendar .cal-title {
    background: #000069;
    color: #FFF;
    min-height: auto;

}
#calendar_div .calendar .cal-title span.holiday {
    color: #f56954;
    font-size: 15px;
    line-height: 26px;
}
#calendar_div [data-toggle="calendar"] > .row > .calendar-day {
    min-height: 75px;
}




.calendar {
    margin: 0px 40px;
}
.popover.calendar-event-popover {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: rgb(120, 120, 120);
    border-radius: 2px;
    max-width: 300px;
}
.popover.calendar-event-popover h4 {
    font-size: 14px;
    font-weight: 900;
}
.popover.calendar-event-popover .location,
.popover.calendar-event-popover .datetime {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
}
.popover.calendar-event-popover .location > span,
.popover.calendar-event-popover .datetime > span {
    margin-right: 10px;
}
.popover.calendar-event-popover .space,
.popover.calendar-event-popover .attending {
    margin-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(160, 160, 160);
    font-weight: 700;
}
.popover.calendar-event-popover .space > .pull-right,
.popover.calendar-event-popover .attending > .pull-right {
    font-weight: 400;
}
.popover.calendar-event-popover .attending {
    margin-top: 5px;
    font-size: 18px;
    padding: 0px 10px 5px;
}
.popover.calendar-event-popover .attending img {
    border-radius: 50%;
    width: 40px;
}
.popover.calendar-event-popover .attending span.attending-overflow {
    display: inline-block;
    width: 40px;
    background-color: rgb(200, 200, 200);
    border-radius: 50%;
    padding: 8px 0px 7px;
    text-align: center;
}
.popover.calendar-event-popover .attending > .pull-right {
    font-size: 28px;
}
.popover.calendar-event-popover a.btn {
    margin-top: 10px;
    width: 100%;
    border-radius: 3px;
}
[data-toggle="calendar"] > .row > .calendar-day {
    font-family: 'Roboto', sans-serif;
    width: 14.28571428571429%;
    border: 1px solid rgb(235, 235, 235);
    border-right-width: 0px;
    border-bottom-width: 0px;
    min-height: 120px;
}
[data-toggle="calendar"] > .row > .calendar-day.calendar-no-current-month {
    color: rgb(200, 200, 200);
}
[data-toggle="calendar"] > .row > .calendar-day:last-child {
    border-right-width: 1px;
}

[data-toggle="calendar"] > .row:last-child > .calendar-day {
    border-bottom-width: 1px;
}

.calendar-day > time {
    position: absolute;
    display: block;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
    font-weight: 300;
    width: 100%;
    padding: 10px 10px 3px 0px;
    text-align: right;
}
.calendar-day > .events {
    cursor: pointer;
}
.calendar-day > .events > .event h4 {
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 3px;
}
.calendar-day > .events > .event > .desc,
.calendar-day > .events > .event > .location,
.calendar-day > .events > .event > .datetime,
.calendar-day > .events > .event > .attending {
    display: none;
}
.calendar-day > .events > .event > .progress {
    height: 10px;
}
.cal-title {
    min-height: 30px !important;    text-align: center;background-color: #ccc;
}
.cal-title > .holiday {
    font-size: 17px;
    color: green;margin-top: 6px;padding-top: 20px
}
.cal-title > .working_day {
    font-size: 17px;
    color: #00000;
    margin-top: 6px;padding-top: 20px
}
.evt {
        /* color:white;
        background-color: blue;*/
        padding: 2px 2px 2px 2px;
        font-size: 13px;
        margin:2px;
    }




    /*calendar style ends here*/



