
.no-padding {
	padding: 0 !important;
}
.no-margin {
	margin: 0 !important;
}
.ht5 {
	height: 5px;
}
.ht10 {
	height: 10px;
}
.login_main_container {
	width: 100%;
	float: left;
	height: 100vh;
	position: relative;
	background: #FFF;
	display: flex;
	align-items: center;
	justify-content: center;
}
.login_main_container::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	background: url(../img/login_outer_top_img.png);
	width: 509px;
	height: 94px;
}
.login_main_container::after {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	background: url(../img/login_outer_bottom_img.png);
	width: 547px;
	height: 89px;
}
.codfox_login_wrapper {
	max-width: 800px;
	width: 100%;
	background: #FFF;
	box-shadow: 3px 4px 15px #c1c1c1;
	position: relative;
	z-index: 10;
}
.login_left_box {
	float: left;
	width: 100%;
	position: relative;
	min-height: 400px;

}
.login_left_box::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(../img/login_inner_bottom_img.png);
	width: 295px;
	height: 53px;
}

.login_img img {
  max-width: 357px;
  width: 100%;
  margin: 10% auto;
  display: inline-block;
}
.login_img {
  float: left;
  width: 100%;
  text-align: center;
}

.login_right_box {
	float: left;
	width: 100%;
	position: relative;
	min-height: 400px;
	background: #FFF;

}

.login_right_box::before {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	background: url(../img/login_inner_top_img.png);
	width: 202px;
	height: 53px;
}
.login_form_box {
	float: left;
	width: 100%;

	padding: 20px 30px;
	margin-top: 20%;
}
.codfox_login_logo {
	float: left;
	width: 100%;
	text-align: center;
	margin: 0 0 20px 0;
}
.login_form_box label {
	font-weight: 700;
	font-size: 12px;
}
.login_form_box .form-control {
	border-radius: 3px;
	height: 26px !important;
}
.login_form_box a {
	font-size: 11px;
	color: #333;
}
.signin_btn {
	height: 26px !important;
	border: none;
	background: #00b7f4;
	color: #FFF;
	font-size: 12px;
	padding: 2px 6px;
	font-weight: 700;
}
.signin_btn:hover {
	color: #FFF;
	background: #0384ae;
}
.codfox_login_logo img {
	max-width: 135px;
	width: 100%;
}
@media only screen and (max-width: 700px) {
	.codfox_login_wrapper {
		max-width: 300px;
	}
	.codfox_login_wrapper .col-xs-8 {
		display: none;
	}
	.codfox_login_wrapper .col-xs-4 {
		width: 100%;
	}
	.login_main_container::before, .login_main_container::after {
		display: none;
	}

}
