#total_patient_chart {
	float: left;
	width: 100%;
}

.credit_outstanding_div {
  float: left;
  width: 100%;
}
.credit_outstanding_div h3 {
  margin: 0 0 10px 0;
  font-size: 14px;
}
.credit_outstanding_box {
  float: left;
  width: 100%;
  position: relative;
  /*! background: #CCC; */
  height: 70px;
}
.credit_outstanding_box .timeline_line {
	height: 1px;
	width: 100%;
	background: #9473C8;
	margin: 28px 0 0 0;
	position: absolute;
}
.credit_count_box {
  float: left;
  width: 120px;
}
.credit_count_row {
	float: left;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.credit_count {
	text-align: right;
	font-size: 12px;
	padding: 1px 5px;
	border-radius: 6px;
	background: #e1d5f4;
	float: right;
}
.credit_round_circle {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #9473C8;
  margin: 5px auto;
}
.credit_time_box {
  float: left;
  font-size: 12px;
}
.table_sm th.no-padding, .table_sm td.no-padding {
	padding: 0 !important;

}