/*vertical tab design style starts here*/


.nav-tabs-custom.blue_theme_tab > .vertical_tab > li.active {
    border-right-color: #FFF;
}
.nav-tabs-custom.blue_theme_tab .vertical_tab li a {
    padding: 5px;
    background: #FFF !important;
    color: #000 !important;
    font-size: 12px;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    border: none;
    /*box-shadow: 0px -2px 6px #c8c8c8;*/
}
.nav-tabs-custom.blue_theme_tab .vertical_tab li a:hover {
    border: none;
}

.nav-tabs-custom.blue_theme_tab .vertical_tab li.active {
    margin-right: -2px;
    position: relative;
    z-index: 20;
}
.nav-tabs-custom.blue_theme_tab .vertical_tab li.active a {
    color: #FFF !important;
    background: #55d499 !important;
    border: none;
    box-shadow: -2px 0px 3px #55d499;
}

.nav-tabs-custom.blue_theme_tab .vertical_tab li a .vertical_tab_icon {
    margin: 0 10px 0 0;
    width: 0px;
    text-align: center;
}
.nav-tabs-custom.blue_theme_tab .vertical_tab li a .vertical_tab_icon i{
    font-size: 25px;
}

.nav-tabs-custom.blue_theme_tab .vertical_tab {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border: 1px solid #DCDCDD;
    width:220px;
}
.nav-tabs-custom.blue_theme_tab .vertical_tab li {
    /*flex: 1;*/
    margin: 0 0 10px 0;
}

.nav-tabs-custom .vertical_tab{
    display: flex;
    flex-direction: column !important;
}
.nav-tabs-custom .vertical_tab li{
    text-align: left;
    width: 100%;
}
.vertical_tab_wrapper .box > .box-body {

    background: #FFF;
    border: 1px solid #EEE;
    margin: 0;
}


/*vertical tab design style ends here*/

.nurse_patient_content_box {
    min-height: 450px;
}
.medication_stop{
    width: 17px;
    height: 17px;
    text-align: center;
    padding: 0px;
}
