.bg-lime-active {
    background-color: #75be5ffd !important;
    border: 1px solid #75be5ffd !important;
    color: white;
}

.bg-blue-active {
    background-color: #0fb5f2 !important;
    border: 1px solid #0fb5f2 !important;
    color: white;
}

.bg-yellow-active {
    background-color: #b5b50e !important;
    border: 1px solid #b5b50e !important;
    color: white;
}

.bg-grey-active {
    background-color: #6d6d6d !important;
    border: 1px solid #6d6d6d !important;
    color: white;
}

.bg-pink-active {
    background-color: #FF0066 !important;
    border: 1px solid #FF0066 !important;
    color: white;
}

.bk_blue {
    background-color: #0000FF !important;
    border: 1px solid #0000FF !important;
    color: white;
}

.bk_dark_orange {
    background-color: #ec8209fd !important;
    border: 1px solid #ec8209fd !important;
    color: white;
}

.pink {
    color: #FF0066;
}

.round_yellow {
    color: #b5b50e;
}

.round_grey {
    color: #6d6d6d;
}

.round_blue {
    color: #0000FF;
}

.acknowledged_text {
    color: #b3866d;
}

.finalized_text {
    color: #03690d;
}

.provisionally_certified_text {
    color: #dd1b9f;
}

.result_entered_text {
    color: #2230ca;
}

.sample_generated_text {
    color: rgb(197 192 36 / 82%);
}

.acknowledged {
    background-color: #b3866d !important;
    border: 1px solid #b3866d !important;
    color: white;
}

.finalized {
    background-color: #03690d !important;
    border: 1px solid #03690d !important;
    color: white;
}

.provisionally_certified {
    background-color: #dd1b9f !important;
    border: 1px solid #dd1b9f !important;
    color: white;
}

.result_entered {
    background-color: #2230ca !important;
    border: 1px solid #2230ca !important;
    color: white;
}

.sample_generated {
    background-color: #ea1111 !important;
    border: 1px solid #ea1111 !important;
    color: white;
}

.dark_orange {
    color: #f0ad4e;
}

.light_pink {
    color: #db6b98;
}
