
        .ajaxSearchBox {
            display: none;
            text-align: left;
            list-style: none;
            cursor: pointer;
            max-height: 200px;
            margin: 0px 0px 0px 0px;
            overflow-y: auto;
            width: 100%;
            z-index: 9999px;
            position: absolute;
            background: #ffffff;
            border-radius: 3px;
            border: 1px solid rgba(0, 0, 0, 0.3);

        }

        .search_box_bottom {
            bottom: -30px;
        }

        .ajax_search_box_bottomcls .ajaxSearchBox {
            bottom: 3px;
            height: 200px !important;
        }

        .ajax_search_box_bottomcls_reduce_box {
            height: 200px !important;
        }

        table td {
            position: relative !important;
        }
