.procedure_panel {
    position: relative;
    width: 40%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #21a4f1;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
}

.billing_panel {
    position: relative;
    width: 60%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #21a4f1;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
}

.doctor_panel {
    position: relative;
    width: 50%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #21a4f1;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
}

.doctorbilling_panel {
    position: relative;
    width: 50%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #21a4f1;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    opacity: 1;
    transition: all .2s ease;
}

.nav-tabs-custom>.sm_nav.nav-tabs>li.active {
    border-top-color: #d81b60;
}

.sm_nav {
    background: #FFFFFF;
}

.sm_nav li a {
    padding: 4px 2px;
    background: #21a4f1 !important;
    color: #FFF !important;
}

.sm_nav li.active a {
    background: #FFF !important;
    color: #444 !important;
    border-bottom: 2px solid #fff;
}

.sm_nav li.active a:hover {
    background: #FFF !important;
    color: #444 !important;
    border-bottom: 2px solid #fff;
}

.sm_nav li.active a:focus {
    background: #FFF !important;
    color: #444 !important;
    border-bottom: 2px solid #fff;
}


.revenue_main_shadow {
    box-shadow: .5px .5px .5px .5px #FFF;
    border-radius: 10px;
    border: 2px solid #537f9980;

}
