.header_bg{
    background-color: mediumseagreen;
    color:white;
}
.ajaxSearchBox{
    display: none;
    width: 250px !important;
    height: 400px !important;
    overflow: hidden;
    padding-top: 0px !important;
    margin-top: -29px !important;
}
a{color:black !important;}
li:hover{background-color: #abe7ce;}
.li_Hover{background-color: #abe7ce;}
ul{padding-left:5px !important;font-weight: 200 !important;}
li>a:hover{color:black !important;}
.table_name{color:rgb(114, 4, 4) !important;}
.gradient_bg{
    background: linear-gradient(90deg, #18dc9d, #02cf99, #00c194, #00b48e, #00a788, #009a81, #058d7a, #118072) !important;
    color:white !important;
}
.bottom-border-text{
border:none !important;
border-bottom:1px solid lightgrey !important;
box-shadow:none;
}
label{
    color:cornflowerblue !important;
}
.bg-radio_grp{
background-color:#b9b9b9 !important;
color:white !important;
margin-right:6px !important;
/* box-shadow: 3px 2px 3px #bdbdbd; */
}

.bg-radio_grp.active{
    background-color:#36a693 !important;
    color:white !important;
    margin-right:6px !important;
    box-shadow: 3px 2px 3px #55ff79;
}
.select2-selection__choice{
    background-color: #e6f1e8 !important;
    border: 1px solid #dbd8d8 !important;
    font-size: 10px !important;
}
.mate-input-box{
    height:45px !important;
}
.mate-input-box>label{
    margin-top:5px !important;
}
.mate-input-box>text{
    margin-top:3px !important;
}
.select2-selection--multiple{
    padding-bottom:0px !important;
}
.table_header_bg{
    height: 30px !important;
    text-align:right !important;
    padding-right :40px !important;
    margin-bottom : 6px !important;
    background: linear-gradient(90deg, #18dc9d, #02cf99, #00c194, #00b48e, #00a788, #009a81, #058d7a, #118072) !important;
}
.table_header_bg>h5{
    margin-top:7px;
    font-weight: 700;
}
.ajaxSearchBox{
    z-index: 9999 !important;
}
.ajaxSearchBox>li{
    font-size:13px !important;
    font-family: Arial !important;

}
.liHover{
    background: linear-gradient(90deg, #18dc9d, #02cf99, #00c194, #00b48e, #00a788, #009a81, #058d7a, #118072) !important;
}
