.poplast_item_box {
    position: relative;
}

.popup_lastitem {
    background: #fff3e0 none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 0 0 5px #909090;
    left: 1.5%;
    padding: 25px 5px 5px;
    position: absolute;
    top: 30px;
    width: 960px;
    z-index: 999;
}

.popup_lastitem_close {
    background: red none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    padding: 2px 6px;
    position: absolute;
    right: 5px;
    top: 2px;
    width: 20px;
}

.poplast_item_box {
    position: relative;
}

.popup_sync {
    background: #fff3e0 none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 0 0 5px #909090;
    left: 1.5%;
    padding: 25px 5px 5px;
    position: absolute;
    top: 125px;
    width: 960px;
    z-index: 999;
}

.popup_sync_close {
    background: red none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    padding: 2px 6px;
    position: absolute;
    right: 5px;
    top: 2px;
    width: 20px;
}


.pop_up_rate_sync {
    position: relative;
}

.batch_pop_container {
    position: relative;
}

.batch_pop {
    background: #deecf9 none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 1px 1px 3px #d0d0d0;
    padding: 10px;
    position: absolute;
    top: 26px;
    width: 1000px;
    z-index: 850;
    right: 0;
}

.batch_pop::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(194, 225, 245, 0) rgba(194, 225, 245, 0) #deecf9;
    border-image: none;
    border-style: solid;
    border-width: 16px;
    content: " ";
    height: 0;
    right: 8px;
    pointer-events: none;
    position: absolute;
    top: -30px;
    width: 0;
}

.batch_pop_closebtn {
    background: #333 none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 0 5px #a2a2a2;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    padding: 2px 6px;
    position: absolute;
    left: -10px;
    top: -4px;
    width: 20px;
}

.batch_pop table thead th {
    background: #19a0d8 none repeat scroll 0 0 !important;
    font-weight: normal !important;
    color: #FFF !important;
    text-align: center;
}


.close_btnspan {
    margin-right: 2px;
    border-radius: 3px;
    color: white;
    float: left;
    font-size: 12px;
    margin-top: 3px;
    overflow: auto;
    padding: 2px 20px 2px 2px;
    position: relative;
}

.item_code_close {
    position: absolute;
    right: 5px;
    top: 2px;
    cursor: pointer;
}

.validate_data {
    background-color: #eb6b6b !important;
    color: #FFF;
}
