.bg-green-active {
    background-color: #005580 !important;
}

.tab_pop_container {
    position: relative;
}

.tab_pop {
    background: #e9e9e9 none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 1px 1px 3px #d0d0d0;
    padding: 22px 10px 10px 10px;
    position: absolute;
    left: 1.5%;
    top: 0px;
    width: 750px;
    z-index: 9999;
}

.tab_pop_closebtn {
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    padding: 2px 6px;
    position: absolute;
    left: 0;
    top: 2px;
    width: 20px;
}

.tab_pop_drag {
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    height: 16px;
    left: 10px;
    padding: 3px 2px;
    position: absolute;
    top: 4px;
    width: 21px;
}

.tab_pop table thead th {
    background: #19a0d8 none repeat scroll 0 0 !important;
    font-weight: normal !important;
    color: #FFF !important;
    text-align: center;
}

.ajaxSearchBox {
    display: none;
    text-align: left;
    list-style: none;
    cursor: pointer;
    max-height: 350px;
    margin: 25px 0px 0px 0px;
    overflow-y: auto;
    width: auto;
    z-index: 599;
    position: absolute;
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);

}

.liHover {
    background: #cde3eb;
}

.box_border {
    padding-top: 25px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    background: #f3f3f3;
}

/* bootstrap-select css starts here*/
.bootstrap-select .btn-default {
    background: transparent !important;
    border-bottom: 1px solid #ccc !important;
    color: #444 !important;
    height: 23px !important;
    padding: 0 0 0 5px !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    border-radius: 0 !important;
}

.bootstrap-select .btn-default:hover,
.bootstrap-select .btn-default:active,
.bootstrap-select .btn-default.hover {
    background: transparent !important;
    border-bottom: 1px solid #ccc !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    box-shadow: none !important;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: medium none !important;
    outline-offset: -2px !important;
}

.bootstrap-select.btn-group .dropdown-menu li a {
    -moz-user-select: none !important;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    color: #000 !important;
    cursor: pointer !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    padding: 2px 0 2px 10px !important;
    width: 100% !important;
}

.bootstrap-select.btn-group .dropdown-menu li a:hover,
.bootstrap-select.btn-group .dropdown-menu li a:focus,
.bootstrap-select.btn-group .dropdown-menu li a:active {
    background: #ccc !important;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
    overflow-x: hidden !important;
    max-height: 200px !important;
}

.bootstrap-select.btn-group .dropdown-menu {
    box-shadow: 0 0 3px #909090 !important;
    box-sizing: border-box !important;
    min-width: auto !important;
    /*width: 100% !important;*/
    width: auto !important;
}

.poplast_item_box {
    position: relative;
}

.popup_lastitem {
    background: #fff3e0 none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 0 0 5px #909090;
    left: 1.5%;
    padding: 25px 5px 5px;
    position: absolute;
    top: 30px;
    width: 960px;
    z-index: 999;
}

.popup_lastitem_close {
    background: red none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    padding: 2px 6px;
    position: absolute;
    right: 5px;
    top: 2px;
    width: 20px;
}

.poplast_item_box {
    position: relative;
}

.popup_sync {
    background: #fff3e0 none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 0 0 5px #909090;
    left: 1.5%;
    padding: 25px 5px 5px;
    position: absolute;
    top: 125px;
    width: 960px;
    z-index: 999;
}

.popup_sync_close {
    background: red none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    padding: 2px 6px;
    position: absolute;
    right: 5px;
    top: 2px;
    width: 20px;
}

.pop_up_rate_sync {
    position: relative;
}

.text_boxalert {
    background: #ffc1c1;
}

.close_btnspan {
    margin-right: 2px;
    border-radius: 3px;
    color: white;
    float: left;
    font-size: 12px;
    margin-top: 3px;
    overflow: auto;
    padding: 2px 20px 2px 2px;
    position: relative;
}

.item_code_close {
    position: absolute;
    right: 5px;
    top: 2px;
    cursor: pointer;
}

.batch_pop_container {
    position: relative;
}

.batch_pop {
    background: #deecf9 none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 1px 1px 3px #d0d0d0;
    padding: 10px;
    position: absolute;
    top: 26px;
    width: 1000px;
    z-index: 850;
    right: 0;
}

.batch_pop::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(194, 225, 245, 0) rgba(194, 225, 245, 0) #deecf9;
    border-image: none;
    border-style: solid;
    border-width: 16px;
    content: " ";
    height: 0;
    right: 8px;
    pointer-events: none;
    position: absolute;
    top: -30px;
    width: 0;
}

.batch_pop_closebtn {
    background: #333 none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 0 5px #a2a2a2;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    padding: 2px 6px;
    position: absolute;
    left: -10px;
    top: -4px;
    width: 20px;
}

.batch_pop table thead th {
    background: #19a0d8 none repeat scroll 0 0 !important;
    font-weight: normal !important;
    color: #FFF !important;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input[type=text]::-ms-clear {
    display: none;
}

.foo {
    float: left;
    width: 15px;
    height: 15px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.blue {
    background: lightblue;
}

.lightbrown {
    background: #d5e6a2;
}

.lightorange {
    background: #c1ec3c;
}

.purple {
    background: #ab3fdd;
}

.no_tax {
    background: #F0E68C;
}

.wine {
    background: #ffb399;
}

.lightyellow {
    background: #ccffcc;
}

.grn_partially_generate {
    background: #80ccff;
}

.request_for_amend {
    background: #c1ec3c;
}

.grn_generate {
    background: #abff80;
}

.partially_received {
    background: #F0E68C;
}

.cancelled {
    background: #b3ffff;
}

.created {
    background: #ebebe0;
}

.approved {
    background: #c6d9ec;
}

.closed {
    background: #ffcc99;
}

.verified {
    background: #b3cccc;
}

.dropzone {
    border-width: 2px;
    border-style: dashed;
    border-color: rgb(0, 135, 247);
    border-image: initial;
    border-radius: 5px;
    background: white;
}

.selected_div_list {
    float: left;
    width: 100%;
    padding: 0 15px;
}

.selected_div_list ul li {
    position: relative;
    background: #FFF;
    float: left;
    box-shadow: 0 0 6px #333;
    margin: 0 15px 15px 0;
}

.selected_div_list .select_img_close {
    background: #000;
    width: 20px;
    height: 20px;
    text-align: center;
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 100%;
    color: #FFF;
    cursor: pointer;
}

.select_img_box {
    position: relative;
    width: 110px;
    height: 110px;
}

.select_img_box img {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.item_category_div .multiselect-container li.active a:hover {
    background: #337AB7 !important;
    color: #fff !important;
}

.item_category_div .multiselect-container li.active a {
    background: #337AB7 !important;
    color: #fff !important;
}

.item_category_div .multiselect-container li a {
    background: #fff !important;
    color: #777 !important;
}

.grn_total_table input[type="text"] {

    font-weight: 700;
    font-size: 14px !important;
}

.box-body {
    border: 2px solid #ddd !important;
}

.box-body {
    height: 126px;

}

.number_class {
    text-align: right;

}

tr th {
    text-align: center;
}

.grn_total_table {
    text-align: left;
}

.mailid_div {
    padding: 3px;
    border-radius: 3px;
    background: #ececec;
    float: left;
    margin: 0px 4px 4px 0;
}

.mailid_close {
    /* color:rgb(189, 24, 24); */
    font-weight: 700;
    /* padding-left:10px; */
    border-radius: 100%;
    height: 15px;
    width: 15px;
    background: #818181;
    color: #FFF;
    font-size: 10px;
    display: inline-block;
    text-align: center;
    line-height: 15px;
    margin-left: 5px;
    cursor: pointer;
}
