.select2-selection--single {
    min-height: 23px !important;
    height: 23px !important;
}

.select2-selection__rendered {
    display: initial !important;
}

body .container.body .right_col {
    background-color: #FFF !important;
}

.ajaxSearchBox {
    display: none;
    text-align: left;
    list-style: none;
    cursor: pointer;
    max-height: 160px;
    margin: -2px 0px 0px 0px;
    overflow-y: scroll;
    width: 100% !important;
    z-index: 9999;
    position: absolute;
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    top: 30px !important;
    min-height: 200px;
}

.issue_req_comments {
    resize: none;
    height: 90px !important;
}

.list_hover:hover {
    background-color: #ccebbc !important;
}

.liHovernew:hover {
    background-color: #4c6456 !important;
    color: #ffff;
}

#table_color_indication {
    width: 12px;
    height: 12px;
    display: block;
    float: right;
    border-radius: 25px;
}

.issue_qty_pop {
    background: #FFF;
    position: absolute;
    width: 200px;
    padding: 10px;
    box-shadow: 0 0 6px #CCC;
    left: 0;
    z-index: 1600;
    width: 500px;
    bottom: 0;
    margin-left: -100px;
}

.issue_qty_close {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #000;
    text-align: center;
    color: #FFF;
    border-radius: 100%;
    line-height: 18px;
    top: -10px;
    left: 0;
    z-index: 20;
    top: 25px;
}

.item_desc_indication {
    display: flex;
    align-items: flex-start;
}

.led-red {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #F00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
    /*  -webkit-animation: blinkRed 0.5s infinite;
  -moz-animation: blinkRed 0.5s infinite;
  -ms-animation: blinkRed 0.5s infinite;
  -o-animation: blinkRed 0.5s infinite;
  animation: blinkRed 0.5s infinite;*/
}

@-webkit-keyframes blinkRed {
    from {
        background-color: #F00;
    }

    50% {
        background-color: #A00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }

    to {
        background-color: #F00;
    }
}

@-moz-keyframes blinkRed {
    from {
        background-color: #F00;
    }

    50% {
        background-color: #A00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }

    to {
        background-color: #F00;
    }
}

@-ms-keyframes blinkRed {
    from {
        background-color: #F00;
    }

    50% {
        background-color: #A00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }

    to {
        background-color: #F00;
    }
}

@-o-keyframes blinkRed {
    from {
        background-color: #F00;
    }

    50% {
        background-color: #A00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }

    to {
        background-color: #F00;
    }
}

@keyframes blinkRed {
    from {
        background-color: #F00;
    }

    50% {
        background-color: #A00;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
    }

    to {
        background-color: #F00;
    }
}

.led-yellow {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #FF0;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
    /*  -webkit-animation: blinkYellow 1s infinite;
  -moz-animation: blinkYellow 1s infinite;
  -ms-animation: blinkYellow 1s infinite;
  -o-animation: blinkYellow 1s infinite;
  animation: blinkYellow 1s infinite;*/
}

@-webkit-keyframes blinkYellow {
    from {
        background-color: #FF0;
    }

    50% {
        background-color: #AA0;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
    }

    to {
        background-color: #FF0;
    }
}

@-moz-keyframes blinkYellow {
    from {
        background-color: #FF0;
    }

    50% {
        background-color: #AA0;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
    }

    to {
        background-color: #FF0;
    }
}

@-ms-keyframes blinkYellow {
    from {
        background-color: #FF0;
    }

    50% {
        background-color: #AA0;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
    }

    to {
        background-color: #FF0;
    }
}

@-o-keyframes blinkYellow {
    from {
        background-color: #FF0;
    }

    50% {
        background-color: #AA0;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
    }

    to {
        background-color: #FF0;
    }
}

@keyframes blinkYellow {
    from {
        background-color: #FF0;
    }

    50% {
        background-color: #AA0;
        box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0;
    }

    to {
        background-color: #FF0;
    }
}

.led-green {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #ABFF00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.led-blue {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #24E0FF;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
}


/*#issue_search_box:focus {
    font-size: 12px !important;
    height: 23px !important;
    padding: 2px !important;
    width:100% !important;
    border-radius: 0;
    transition: 0.5s;
}
#issue_search_box{
    width: 50%;
    height: 15px;
}*/

.jquery_search_item_text {
    color: #555;
}

.select2-container--default .select2-selection--single {
    border-radius: 0px !important;
    line-height: 0px !important;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 22px !important;
}

.select2-drop {
    margin-top: 14px;
}


/*.select2-container--default .select2-selection--single {
    border: 1px solid #CCC !important;
}*/

.common_td_rules {
    text-align: left !important;
    overflow: hidden !important;
    border-right: solid 1px #bbd2bd !important;
    border-left: solid 1px #bbd2bd !important;
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.floatThead-container {
    border-radius: 6px 6px 0 0 !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #FFF;
}

table.table.table_round_border {
    border-collapse: collapse !important;
    border-radius: 6px 6px 0 0 !important;
    -moz-border-radius: 6px 6px 0 0 !important;
}

table.table_round_border th {
    border-top: none !important;
}

table.table_round_border td:first-child,
table.table_round_border th:first-child {
    border-left: none !important;
}

table.table_round_border thead tr.table_header_bg th:first-child {
    border-radius: 6px 0 0 0 !important;
    -moz-border-radius: 6px 0 0 0 !important;
    color: #FFF !important;
}

table.table_round_border thead tr.table_header_bg th:last-child {
    border-radius: 0 6px 0 0 !important;
    -moz-border-radius: 0 6px 0 0 !important;
    color: #FFF !important;
}

table.table_round_border tr.table_header_bg th {
    color: #FFF !important;
}

.table.table_round_border tbody tr:last-child {
    border-bottom: 2px solid #01987a !important;
}

.header_label {
    color: #000;
}

table.table-striped tr td {
    font-size: 12px;
}

.liHover {
    background: #ccebbc !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #ccebbc;
    color: #000;
}

.drp_ajax_div {
    bottom: 20px !important;
    ;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


/*.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}*/

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.styled-table tbody tr:hover {
    background-color: #d8ebcd;
}

.issue_saving {
    background-color: #e8f3d2;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 5px;
}

.box-body,
.card_body {
    background-color: #fff !important;
}

.myClass .ajaxSearchBox {
    bottom: 15px !important;
}

.avd_clas {
    pointer-events: none;
}

.td_common_numeric_rules {
    border-left: solid 1px #bbd2bd !important;
    text-align: right !important;
}

.td_common_dashboard_count {
    text-align: left !important;
    font-size: 16px;
    font-weight: bold;
}

.dashboard_count_data {
    text-align: left !important;
    max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
}

.orange {
    color: #ec8209fd;
}

.gray {
    color: #81807efd;
}

.yellow {
    color: #d9f100fd;
}

.lime {
    color: #34ce06fd;
}

.delete_font_aws {
    color: red;
}

.service-list-div {
    position: absolute;
    z-index: 99;
    background: #FFF;
    box-shadow: 0 0 6px #ccc;
    padding: 10px;
    width: 95%;
}

#ServiceTable>tbody>tr:hover {
    background: #87d7ca52;
}

.close_btn_service_search {
    position: absolute;
    z-index: 99;
    color: #FFF !important;
    background: #000;
    right: -11px;
    top: -1px;
    border-radius: 100%;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
}

.paid-bg {
    background-color: #6fa75efd !important;
    border: 1px solid #6fa75e4d !important;
    color: white;
}

.paid-tx {
    color: #6fa75efd !important;
    border: 1px solid #ce414d8f !important;
    color: white;
}

.cancelled-bg {
    background-color: #ce414cfd !important;
    border: 1px solid #ce414d8f !important;
    color: white;
}

.cancelled-tx {
    color: #ce414cfd !important;
    border: 1px solid #ce414d8f !important;
    color: white;
}

.discharge-bg {
    background-color: purple !important;
    border: 1px solid #9b9ace5d !important;
    color: white;
}

.discharge_bg_tx {
    color: purple !important;
}

.unpaid-bg {
    background-color: #e8ebe9fd !important;
    border: 1px solid #e8ebe942 !important;
    color: black;
}

.unpaid-tx {
    color: #e8ebe9fd !important;
    border: 1px solid #ce414d8f !important;
    color: white;
}

.full-return-bg {
    background-color: #e7db6efd !important;
    border: 1px solid #e7db6e81 !important;
    color: white;
}

.full-return-tx {
    color: #e7db6efd !important;
}

.partially-return-bg {
    background-color: #dddac2fd !important;
    border: 1px solid #f0df948c !important;
    color: white;
}

.pending-requested-bg {
    background-color: #f0bd15fd !important;
    border: 1px solid #f0bd1554 !important;
    color: white;
}

.credit_bg {
    background-color: #71eea5fd !important;
    color: white;
}

.credit_tx {
    color: #71eea5fd !important;
}

.cash_card_bg {
    background-color: #8e90e1d1 !important;
    color: white;
}

.cash_card_tx {
    color: #8e90e1d1 !important;
}

.insurance_bg {
    background-color: #7f2d8fad !important;
    color: white;
}

.insurance_tx {
    color: #7f2d8fad !important;
    color: white;
}

.company_credit_bg {
    background-color: #a88512fd !important;
    color: white;
}

.company_credit_tx {
    color: #a88512fd !important;
}

.Opcredit_bg {
    background-color: #faf8f4be !important;
    color: black;
}

.Opcredit_tx {
    color: #faf8f4be !important;
}

.Opcredit_tx {
    background-color: #faf8f4be !important;
}

.rtn_to_adv_bg {
    background-color: #085870be !important;
    color: white;
}

.rtn_to_adv_tx {
    color: #085870be !important;
}

.checked_in {
    background-color: #8ad075fd !important;
    border: 1px solid #6fa75e4d !important;
    color: white;
}

.booked-bg {
    background-color: #b9b9e4fd !important;
    border: 1px solid #9b9ace5d !important;
    color: white;
}

.table_header {
    background-color: rgb(139 142 139 / 96%);
    color: #040404;
    border-spacing: 0 1em;
    font-family: sans-serif;
}

.common_table_header {
    background-color: #0c9e61;
    color: white;
    border-spacing: 0 1em;
    font-family: sans-serif;
    height: 25px !important;
    pointer-events: none;
}

.common_main_table_header {
    background-color: #168113;
    color: white;
    border-spacing: 0 1em;
    font-family: sans-serif;
    height: 25px !important;
}

.draft_bill {
    background-color: #e1d5f4 !important;
    border: 1px solid #6fa75e4d !important;
    color: white;
}

.draft_bill_tx {
    color: #e1d5f4 !important;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border: 1px solid #0785f0;
    border-bottom-color: #FFF;
    font-weight: bold;
}


.input_readonly {
    background-color: #efebeb !important;
    color: #000;
    font-weight: 600;
}


.table_header_blue {
    color: #fff !important;
    background-color: #337ab7;
    border: 1px solid #0785f0;
}

.mate-input-box {
    width: 100%;
    position: relative;
    padding: 20px 4px 4px 4px !important;
    border-bottom: 2px solid #337ab7;
    box-shadow: 0 0 3px #CCC;
    border-radius: 6px 6px 0 0;
    margin-bottom: 5px;
    height: 50px !important;
}
.mate-select-box {
    width: 100%;
    position: relative;
    padding: 20px 4px 4px 4px !important;
    border-bottom: 2px solid #337ab7;
    box-shadow: 0 0 3px #CCC;
    border-radius: 6px 6px 0 0;
    margin-bottom: 5px;
    height: 50px !important;
}
