.liHover {
    background: #48705f;
}

.box_border {
    padding-top: 25px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    background: #f3f3f3;
}

.tinymce-content p {
    padding: 0;
    margin: 2px 0;
}

.content_add:hover {
    color: red;
    background-color: yellow;
}

.content_remove:hover {
    color: red;
    background-color: yellow;
}

.modal-header {
    background-color: #36a693;
    color: #ffffff;
}


#MTable>tbody>tr>td {
    word-wrap: break-word
}

table#posts {
    word-wrap: break-word;
}

.page {
    padding: 65px;
    min-height: 1134px;
    width: 812px;
}



.avlailable_check {
    margin-top: 2px !important;
    margin-right: 5px !important;
}

.order_by_select {
    float: right !important;
}

.filters_title {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 2px !important;
}

.filter_label {
    font-weight: 50 !important;
    font-size: 11px !important;
    color: #266c94 !important;
}

.col-xs-2 {
    padding-right: 7px !important;
    padding-left: 7px !important;
}

.btn_add_to_order_by {
    float: right;
    width: 18px;
    height: 16px;
    padding: 0px;
}

.ajaxSearchBox {
    display: none;
    text-align: left;
    list-style: none;
    cursor: pointer;
    max-height: 350px;
    margin: 3px 0px 0px 0px;
    overflow-y: auto;
    width: 250px;
    z-index: 9999;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.3);

}

.ajaxSearchBox>li {
    padding: 2px 2px 5px 5px;
    font-size: 10px !important;
    z-index: 99999px;
    font-weight: 400 !important;
    font-family: "sans-serif";
    border-bottom: 1px solid grey;
}

.liHover {
    background: #4c6456 !important;
    color: white;
    padding: 2px 2px 5px 5px;
    font-size: 10px !important;
    font-weight: 400;
    font-family: "sans-serif";
    border-bottom: 1px solid white;
}

.bg-blue-active {
    background-color: #E1D5F4 !important;
}

.filter_label {
    color: #1c3525 !important;
}

.bg-primary {
    color: black;
    background-color: #768a7e;
}

.box.box-primary {
    border-top: 1px solid #E1D5F4;
}

.btn-info {
    color: black !important;
    background-color: #E1D5F4 !important;
    border-color: #768a7e !important;
    background-image: linear-gradient(to bottom, #bedecb 0, #2aabd2 100%);
}

.liHover {
    background: #8e948f;
    color: white;
}

.filter_label {
    margin-bottom: 0px;
}

.btn-group {
    width: 100% !important;
}

.col-xs-12 {
    margin-bottom: 8px;
}

.col-xs-6 {
    margin-bottom: 8px;
}

.filter_label {
    color: #294236 !important;
    font-weight: 600 !important;
}

@media print {
    .headerclass {
        background: #999;
    }

    hr {
        display: block;
        height: 1px;
        background: transparent;
        width: 100%;
        border: none;
        border-top: solid 1px #aaa;
    }
}


.mate_select_data_select2 {
    width: 100%;
    position: relative;
    height: 55px !important;
    padding: 2px 4px 4px 4px !important;
    border-bottom: 2px solid #01A881;
    box-shadow: 0 0 3px #ccc;
    border-radius: 6px 6px 0 0;
}

.mate_select_data_select2 .select2-container {
    margin-top: -5px;
}

.mate_select_data_select2 .select2-container .select2-choice {
    height: 22px !important;
}

.mate_select_data_select2 .select2-container-multi .select2-choice {
    height: 22px !important;
}

.mate-input-box {
    width: 100%;
    height: 52px !important;
    position: relative;
    padding: 15px 4px 4px 4px !important;
    border-bottom: 2px solid #01A881;
    box-shadow: 0 0 3px #ccc;
    border-radius: 6px 6px 0 0;
}


.bg-lime-active {
    background-color: #75be5ffd  !important;
    border: 1px solid #75be5ffd !important;
    color: white;
}


.ajaxSearchBox{
    overflow-Y: scroll !important;
}

.mate-textarea {
    width: 100%;
    /* height: 52px !important; */
    position: relative;
    padding: 15px 4px 4px 4px !important;
    border-bottom: 2px solid #01A881;
    box-shadow: 0 0 3px #ccc;
    border-radius: 6px 6px 0 0;
}

.mate-textarea textarea {
    resize: none;
    height:75px !important;
    border: none;
    box-shadow: none;
}

.mate-textarea label {
    position: absolute;
    top: 2px;
    left: 6px;
    font-size: 12px;
    font-weight: 700;
}