
.container_outside {
    width: 100%;
    padding: 0;
}
.ajaxSearchBox {
        display:none;
        text-align: left;
        list-style: none;
        cursor: pointer;
        max-height: 160px;
        margin: -2px 0px 0px 0px;
        overflow-y: scroll;
        width: 100% !important;
        z-index: 9999;
        position:absolute;
        background: #ffffff;
        border-radius: 3px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        top:30px !important;
    }
    .medicine-list-div {
        position: absolute;
        z-index: 99;
        background: #FFF;
        box-shadow: 0 0 6px #ccc;
        padding: 10px;
        width: 30%;
    }
    .close_btn_med_search {
        position: absolute;
        z-index: 99;
        color: #FFF !important;
        background: #000;
        right: -11px;
        top: -1px;
        border-radius: 100%;
        text-align: center;
        width: 20px;
        height: 20px;
        line-height: 20px;
        cursor: pointer;
    }
    .errorClass{
        background: #ff000030 !important;
    }
    .floatThead-container{
        width: 100% !important;
    }
    .row_sub .table{
        margin-bottom:0px;
    }
    .number_class{
        text-align:right;

        }
    .table.no-margin.table-striped.theadfix_wrapper#main_row_tbl td{
        padding: 1px 1px!important;
    }
    table.table.no-margin.table_sm.no-border.grn_total_table td {
        padding: 0px !important;
    }

    .selected_rowclass {
        background-color: #bce9bc !important;
    }
    .nav-tabs-custom>.sm_nav.nav-tabs>li.active {
        border-top-color: #d81b60;
    }

    .sm_nav {
        background: #FFF;
    }

    .sm_nav li a {
        padding: 4px 2px;
        background: #01A881 !important;
        color: #FFF !important;
    }

    .sm_nav li.active a {
        background: #FFF !important;
        color: #444 !important;
        border-bottom: 2px solid #fff;
    }

    .sm_nav li.active a:hover {
        background: #FFF !important;
        color: #444 !important;
        border-bottom: 2px solid #fff;
    }

    .sm_nav li.active a:focus {
        background: #FFF !important;
        color: #444 !important;
        border-bottom: 2px solid #fff;
    }

    .light_purple_bg {
        background: #f5f5f5 !important;
        color: #111;
        border: 1px solid green;
        /* background:#36A693 !important;
        color: white; */
        font-family: sans-serif;
    }

    .light_purple_bg:hover {
        background: green !important;
        color: #fff;
        border: 1px solid green;
        /* background:#36A693 !important;
        color: white; */
        font-family: sans-serif;
    }

